api_flows.json
[{"id":"f8fda80096695167","type":"tab","label":"Gregory | API","disabled":false,"info":""},{"id":"fb6e40317003abda","type":"change","z":"f8fda80096695167","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT  * FROM articles ORDER BY article_id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["67c39b51bb6c50fc"]]},{"id":"9c64dee9d5a3cfb7","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT  * FROM articles where source = \"{{req.params.source}}\" ORDER BY article_id DESC;","output":"str","x":420,"y":320,"wires":[["67c39b51bb6c50fc"]]},{"id":"d5f814d641c1dcec","type":"change","z":"f8fda80096695167","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT  * FROM trials ORDER BY trial_id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["67c39b51bb6c50fc"]]},{"id":"cb88292280cd1231","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT  * FROM articles WHERE discovery_date LIKE '%{{req.params.year}}-{{req.params.month}}%' ORDER BY article_id DESC;","output":"str","x":420,"y":400,"wires":[["67c39b51bb6c50fc"]]},{"id":"4866995d2d73c04f","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT  * FROM articles where article_id = \"{{req.params.id}}\" ORDER BY article_id DESC;","output":"str","x":420,"y":200,"wires":[["67c39b51bb6c50fc"]]},{"id":"d2498b471824a4c4","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/id/:id","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["4866995d2d73c04f"]]},{"id":"c92999d956cda08d","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/all","method":"get","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["fb6e40317003abda"]]},{"id":"dcce31a56f6495e5","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/source/:source","method":"get","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["9c64dee9d5a3cfb7"]]},{"id":"73638c55be8a69ae","type":"http in","z":"f8fda80096695167","name":"","url":"/trials/all","method":"get","upload":false,"swaggerDoc":"","x":210,"y":360,"wires":[["d5f814d641c1dcec"]]},{"id":"26d2ea2e4317bb04","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/by-date/:year/:month","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["cb88292280cd1231"]]},{"id":"910e3c6cd8fe97ab","type":"change","z":"f8fda80096695167","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT  * FROM articles where relevant = 1 ORDER BY article_id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["67c39b51bb6c50fc"]]},{"id":"4194148b20c13432","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/relevant","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["910e3c6cd8fe97ab"]]},{"id":"67c39b51bb6c50fc","type":"sqlite","z":"f8fda80096695167","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":770,"y":280,"wires":[["cef14c9d293a46a4"]]},{"id":"cef14c9d293a46a4","type":"json","z":"f8fda80096695167","name":"","property":"payload","action":"","pretty":false,"x":970,"y":280,"wires":[["bfc0064449b51c52"]]},{"id":"bfc0064449b51c52","type":"change","z":"f8fda80096695167","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["6ce8e9aac32643fd"]]},{"id":"6ce8e9aac32643fd","type":"http response","z":"f8fda80096695167","name":"","statusCode":"","headers":{},"x":1290,"y":280,"wires":[]},{"id":"42dbf1fb2fb96ced","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/id/:id/relevant/1","method":"get","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["0bd2a9ad24c41990","f9790520e9368c6d"]]},{"id":"b207b0edde0eb11e","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/id/:id/relevant/0","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["55a4c902c8e245df"]]},{"id":"55a4c902c8e245df","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE articles\nSET relevant = \"0\"\nWHERE article_id = \"{{req.params.id}}\";","output":"str","x":420,"y":540,"wires":[["4a8f6a4a5c5ca877"]]},{"id":"0bd2a9ad24c41990","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE articles\nSET relevant = \"1\"\nWHERE article_id = \"{{req.params.id}}\";","output":"str","x":420,"y":600,"wires":[["4a8f6a4a5c5ca877"]]},{"id":"b00d96c0d8fbf9b7","type":"change","z":"f8fda80096695167","name":"status = OK ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"OK\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":580,"wires":[["f84497a0defdd16c"]]},{"id":"4a8f6a4a5c5ca877","type":"sqlite","z":"f8fda80096695167","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":690,"y":580,"wires":[["b00d96c0d8fbf9b7"]]},{"id":"f84497a0defdd16c","type":"change","z":"f8fda80096695167","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":580,"wires":[["247bc29bf7e3f7e4"]]},{"id":"247bc29bf7e3f7e4","type":"http response","z":"f8fda80096695167","name":"","statusCode":"","headers":{},"x":1210,"y":580,"wires":[]},{"id":"61e13e8f6114722b","type":"function","z":"f8fda80096695167","name":"Prepare Notion DB payload","func":"var data = msg.payload[0]\nvar title = msg.payload[0].title\nvar url = msg.payload[0].link\n\n\n\nvar postData = {\n\t\"parent\": { \"database_id\": \"4fa1dc37-a3bf-43be-9c8d-35b41e539f8d\" },\n\t\"properties\": {\n\t\t\"Name\": {\n\t\t\t\"title\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": title\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t],\n\t\t},\n\t\t\"Status\": {\n\t\t    \"select\": {\n\t\t        \"name\": \"Auto\"\n\t\t    }\n\t\t},\n        \"Link\": {\n            \"url\": url\n        }\n\t\t\n}}\n\n\n\n//\t\t\"Context\": {\n//\t\t\t\"select\": {\n//\t\t\t\t\"name\": context\n//\t\t\t}\n//\t\t},\n//\t\t\"Client\": {\n//\t\t    \"select\": {\n//\t\t        \"name\": client\n//\t\t    }\n//\t\t}\n\nmsg.payload = postData\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":660,"wires":[["ace5150a6e62eed0"]]},{"id":"ace5150a6e62eed0","type":"http request","z":"f8fda80096695167","name":"create page","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.notion.com/v1/pages","tls":"e3876559.c845b8","persist":false,"proxy":"","authType":"bearer","x":1270,"y":660,"wires":[[]]},{"id":"c3b406dd4b92297a","type":"sqlite","z":"f8fda80096695167","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":690,"y":660,"wires":[["3946a27509f91e67"]]},{"id":"f9790520e9368c6d","type":"template","z":"f8fda80096695167","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT  * FROM articles where article_id = \"{{req.params.id}}\" ORDER BY article_id DESC;","output":"str","x":420,"y":660,"wires":[["c3b406dd4b92297a"]]},{"id":"3946a27509f91e67","type":"delay","z":"f8fda80096695167","name":"","pauseType":"random","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"12","randomLast":"15","randomUnits":"hours","drop":false,"allowrate":false,"x":860,"y":660,"wires":[["61e13e8f6114722b"]]},{"id":"c35507239bf7ec37","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/sources","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["efe56d6b7cfe64f5"]]},{"id":"efe56d6b7cfe64f5","type":"change","z":"f8fda80096695167","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"select distinct source   from articles  order by source ASC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["67c39b51bb6c50fc"]]},{"id":"86019d1998eb24af","type":"http in","z":"f8fda80096695167","name":"","url":"/trials/sources","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["267ba92a5761cbc7"]]},{"id":"267ba92a5761cbc7","type":"change","z":"f8fda80096695167","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"select distinct source   from trials  order by source ASC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[["67c39b51bb6c50fc"]]},{"id":"83720ecccff57442","type":"http in","z":"f8fda80096695167","name":"","url":"/articles/keyword/:keyword","method":"get","upload":false,"swaggerDoc":"","x":150,"y":780,"wires":[["a1db2ad2aaabfabd"]]},{"id":"081785b0b06d2fc6","type":"sqlstring-format","z":"f8fda80096695167","name":"","query":"SELECT\n\t*\nFROM\n\tarticles\nWHERE\n\ttitle LIKE (?);","vars":"keyword","outField":"topic","x":510,"y":780,"wires":[["339d94878793e94f"]]},{"id":"339d94878793e94f","type":"sqlite","z":"f8fda80096695167","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":690,"y":820,"wires":[["f2edcc69a6f40e21"]]},{"id":"f2edcc69a6f40e21","type":"http response","z":"f8fda80096695167","name":"","statusCode":"","headers":{},"x":890,"y":820,"wires":[]},{"id":"a1db2ad2aaabfabd","type":"change","z":"f8fda80096695167","name":"set keyword","rules":[{"t":"set","p":"keyword","pt":"msg","to":"\"%\" & req.params.keyword & \"%\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":780,"wires":[["081785b0b06d2fc6"]]},{"id":"06607d54d0f74a1a","type":"http in","z":"f8fda80096695167","name":"","url":"/trials/keyword/:keyword","method":"get","upload":false,"swaggerDoc":"","x":160,"y":860,"wires":[["1331051fe47f7045"]]},{"id":"1331051fe47f7045","type":"change","z":"f8fda80096695167","name":"set keyword","rules":[{"t":"set","p":"keyword","pt":"msg","to":"\"%\" & req.params.keyword & \"%\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["1ede8ebaaad306c1"]]},{"id":"1ede8ebaaad306c1","type":"sqlstring-format","z":"f8fda80096695167","name":"","query":"SELECT\n\t*\nFROM\n\ttrials\nWHERE\n\ttitle LIKE (?);","vars":"keyword","outField":"topic","x":510,"y":860,"wires":[["339d94878793e94f"]]},{"id":"9ccc1658.e12858","type":"sqlitedb","db":"/data/gregory.db","mode":"RWC"},{"id":"e3876559.c845b8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"node-cert.pem","keyname":"node-key.pem","caname":"","servername":"","verifyservercert":true}]