flows.json
[
    {
        "id": "fbfe0ebdc384782c",
        "type": "tab",
        "label": "APTA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7cb4a59faa141113",
        "type": "tab",
        "label": "BioMed Central",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aeea6501e40186b3",
        "type": "tab",
        "label": "PEDro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9d95b7db82b44be",
        "type": "tab",
        "label": "Scielo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e972c81ceb89218",
        "type": "tab",
        "label": "The Lancet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef4efdb19a1e5bd7",
        "type": "tab",
        "label": "JNeuroSci",
        "disabled": false,
        "info": ""
    },
    {
        "id": "229c44d5bbf84eb1",
        "type": "tab",
        "label": "MS and Rel. Disorders",
        "disabled": false,
        "info": ""
    },
    {
        "id": "02847583794d9f3b",
        "type": "tab",
        "label": "Clinical Trials",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a38a4dce4a95b8aa",
        "type": "tab",
        "label": "!Journals.SagePub (not working)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "acf883d8.84eea",
        "type": "subflow",
        "name": "Create SQL Command",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d353eec5835441c0",
        "type": "subflow",
        "name": "throttle requests",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 160,
                "wires": [
                    {
                        "id": "eb444d3ffa4f324c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 160,
                "wires": [
                    {
                        "id": "d5716d48a6a85ee3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "822a1abe384d181e",
        "type": "subflow",
        "name": "Add to DB",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "eb49695acf2247b5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "948d3c8c302e2380",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3d5c22a1ade8c013",
        "type": "subflow",
        "name": "Create SQL Command",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "a5116b9ed1662449"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "155c6a50daad47fa",
                        "port": 0
                    },
                    {
                        "id": "49e212b9f443fac4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "346ec29c7e27ea2e",
        "type": "subflow",
        "name": "Add to DB (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "7f8444988dff4341"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "2229ac4ea081f396",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e3876559.c845b8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "node-cert.pem",
        "keyname": "node-key.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "9ccc1658.e12858",
        "type": "sqlitedb",
        "db": "/data/gregory.db",
        "mode": "RWC"
    },
    {
        "id": "58fc87aecc126c39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "857f821ab371a10e",
        "type": "postgresdb",
        "cfgname": "",
        "hostname": "db",
        "port": "5432",
        "db": "gregorybackoffice",
        "ssl": false
    },
    {
        "id": "4c001d43.2cc414",
        "type": "template",
        "z": "acf883d8.84eea",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%SZ\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{{article.url}}}\",\"{{article.pubdate}}\",\"{{{article.source}}}\",NULL)",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d5716d48a6a85ee3",
        "type": "delay",
        "z": "d353eec5835441c0",
        "name": "",
        "pauseType": "rate",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "eb444d3ffa4f324c",
        "type": "change",
        "z": "d353eec5835441c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "d5716d48a6a85ee3"
            ]
        ]
    },
    {
        "id": "eb49695acf2247b5",
        "type": "delay",
        "z": "822a1abe384d181e",
        "name": "",
        "pauseType": "random",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "200",
        "randomLast": "300",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "948d3c8c302e2380"
            ]
        ]
    },
    {
        "id": "948d3c8c302e2380",
        "type": "sqlite",
        "z": "822a1abe384d181e",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "155c6a50daad47fa",
        "type": "template",
        "z": "3d5c22a1ade8c013",
        "name": "msg.payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO \"public\".\"articles\" (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (current_timestamp,'{{article.title}}','{{article.description}}','{{{article.url}}}',{{article.pubdate}},{{source}},NULL);",
        "output": "str",
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a5116b9ed1662449",
        "type": "switch",
        "z": "3d5c22a1ade8c013",
        "name": "",
        "property": "article.pubdate",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "b4c398bdb4db1159"
            ],
            [
                "49e212b9f443fac4"
            ]
        ]
    },
    {
        "id": "b4c398bdb4db1159",
        "type": "change",
        "z": "3d5c22a1ade8c013",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "NULL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "155c6a50daad47fa"
            ]
        ]
    },
    {
        "id": "49e212b9f443fac4",
        "type": "template",
        "z": "3d5c22a1ade8c013",
        "name": "msg.payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO \"public\".\"articles\" (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (current_timestamp,'{{article.title}}','{{article.description}}','{{{article.url}}}','{{article.pubdate}}',{{source}},NULL);",
        "output": "str",
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8444988dff4341",
        "type": "delay",
        "z": "346ec29c7e27ea2e",
        "name": "",
        "pauseType": "random",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "200",
        "randomLast": "300",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "2229ac4ea081f396"
            ]
        ]
    },
    {
        "id": "2229ac4ea081f396",
        "type": "sqlite",
        "z": "346ec29c7e27ea2e",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5b4cc8a6a207c41e",
        "type": "inject",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a17ed06224887385"
            ]
        ]
    },
    {
        "id": "a17ed06224887385",
        "type": "http request",
        "z": "fbfe0ebdc384782c",
        "name": "APTA",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.apta.org/search?Q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&searcharticletypes=8834&searchconditionandsymptoms=&searchloc=APTA",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "03766f3c785ad93c"
            ]
        ]
    },
    {
        "id": "065c06f5634a087c",
        "type": "change",
        "z": "fbfe0ebdc384782c",
        "name": "set source APTA",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.apta.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "e93313890672aaaa"
            ]
        ]
    },
    {
        "id": "e93313890672aaaa",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "env": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "779a3abc3eba4715"
            ]
        ]
    },
    {
        "id": "4ab276e0977c12ba",
        "type": "split",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "065c06f5634a087c"
            ]
        ]
    },
    {
        "id": "03766f3c785ad93c",
        "type": "cheerio",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "tag": "div.mg-n40px div.mb-40px",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p + p",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.text-uppercase.text-muted.ff-apta-sans.fw-600.fs-14px",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "4ab276e0977c12ba"
            ]
        ]
    },
    {
        "id": "8e7b15889529f4f4",
        "type": "meta",
        "z": "fbfe0ebdc384782c",
        "name": "meta",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "2eb17ee3869a3ccb"
            ]
        ]
    },
    {
        "id": "5f084f05af68eb63",
        "type": "change",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "8e7b15889529f4f4"
            ]
        ]
    },
    {
        "id": "2eb17ee3869a3ccb",
        "type": "moment",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "topic": "",
        "input": "payload[\"article:published_time\"]",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "datetime",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "4b9666c990c578ed"
            ]
        ]
    },
    {
        "id": "4b9666c990c578ed",
        "type": "template",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{datetime}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "b16686d1c962b161"
            ]
        ]
    },
    {
        "id": "267995acb085440f",
        "type": "comment",
        "z": "fbfe0ebdc384782c",
        "name": "populate missing values of published date",
        "info": "",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "779a3abc3eba4715",
        "type": "postgres",
        "z": "fbfe0ebdc384782c",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "268867a5b0b100a8"
            ]
        ]
    },
    {
        "id": "2d3019fc07d3ac5a",
        "type": "inject",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": "180",
        "topic": "",
        "payload": "select article_id,link from articles where source = 1 and published_date is null order by article_id desc limit 10;",
        "payloadType": "str",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e54489b7e4692638"
            ]
        ]
    },
    {
        "id": "e54489b7e4692638",
        "type": "postgres",
        "z": "fbfe0ebdc384782c",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "a4e9f736958acfd4"
            ]
        ]
    },
    {
        "id": "a4e9f736958acfd4",
        "type": "split",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "70886bc51fe28e28"
            ]
        ]
    },
    {
        "id": "b16686d1c962b161",
        "type": "postgres",
        "z": "fbfe0ebdc384782c",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 760,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "70886bc51fe28e28",
        "type": "delay",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "5f084f05af68eb63"
            ]
        ]
    },
    {
        "id": "268867a5b0b100a8",
        "type": "debug",
        "z": "fbfe0ebdc384782c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "ded32c3565228fff",
        "type": "inject",
        "z": "7cb4a59faa141113",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "source",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "e3a4683ca66fb52c"
            ]
        ]
    },
    {
        "id": "e3a4683ca66fb52c",
        "type": "http request",
        "z": "7cb4a59faa141113",
        "name": "BioMedCentral",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.biomedcentral.com/search?searchType=publisherSearch&sort=PubDate&page=1&query=Multiple+Sclerosis",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "9e82b809fcf840ee"
            ]
        ]
    },
    {
        "id": "e8bfa0ad8b138733",
        "type": "change",
        "z": "7cb4a59faa141113",
        "name": "set source BioMedCentral",
        "rules": [
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https:\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "BioMedCentral",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "8a4faed03fb7133f"
            ]
        ]
    },
    {
        "id": "dcd533445597851c",
        "type": "split",
        "z": "7cb4a59faa141113",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "870f0c26744f2ad9"
            ]
        ]
    },
    {
        "id": "8a4faed03fb7133f",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "7cb4a59faa141113",
        "name": "Insert SQL",
        "env": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "bb09fa9ff8315d89"
            ]
        ]
    },
    {
        "id": "9e82b809fcf840ee",
        "type": "cheerio",
        "z": "7cb4a59faa141113",
        "name": "",
        "tag": "li.c-list-group__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h3.c-listing__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a[itemprop=\"url\"]",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.c-listing__text",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span[itemprop=\"datePublished\"]",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "dcd533445597851c"
            ]
        ]
    },
    {
        "id": "870f0c26744f2ad9",
        "type": "switch",
        "z": "7cb4a59faa141113",
        "name": "",
        "property": "payload.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "eabccdc8c2689377"
            ]
        ]
    },
    {
        "id": "eabccdc8c2689377",
        "type": "change",
        "z": "7cb4a59faa141113",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "abb572a1fcee3c9a"
            ]
        ]
    },
    {
        "id": "abb572a1fcee3c9a",
        "type": "moment",
        "z": "7cb4a59faa141113",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "e8bfa0ad8b138733"
            ]
        ]
    },
    {
        "id": "bb09fa9ff8315d89",
        "type": "postgres",
        "z": "7cb4a59faa141113",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "280de5f5274a4d6d"
            ]
        ]
    },
    {
        "id": "280de5f5274a4d6d",
        "type": "debug",
        "z": "7cb4a59faa141113",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ca4bc9cf9ef1874",
        "type": "http request",
        "z": "aeea6501e40186b3",
        "name": "PEDro",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.pedro.org.au/advanced-search/results?abstract_with_title=Multiple+Sclerosis&therapy=0&problem=0&body_part=0&subdiscipline=0&topic=0&method=0&authors_association=&title=&source=&year_of_publication=&date_record_was_created=&nscore=&perpage=20&lop=or&find=&find=Start+Search",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "bfc4e86aa16d2aff"
            ]
        ]
    },
    {
        "id": "20609624c4f52855",
        "type": "split",
        "z": "aeea6501e40186b3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "a4e284ba326df0a9"
            ]
        ]
    },
    {
        "id": "5c7a83a8ed482567",
        "type": "change",
        "z": "aeea6501e40186b3",
        "name": "set source PEDro",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "PEDro",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "9d137aea16551bdf"
            ]
        ]
    },
    {
        "id": "9d137aea16551bdf",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "aeea6501e40186b3",
        "name": "Insert SQL",
        "env": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "39d23195a734d98f"
            ]
        ]
    },
    {
        "id": "8349b15c6e856988",
        "type": "inject",
        "z": "aeea6501e40186b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "7",
                "vt": "num"
            }
        ],
        "repeat": "13200",
        "crontab": "",
        "once": true,
        "onceDelay": "300",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6ca4bc9cf9ef1874"
            ]
        ]
    },
    {
        "id": "bfc4e86aa16d2aff",
        "type": "cheerio",
        "z": "aeea6501e40186b3",
        "name": "",
        "tag": "table.search-results tr",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "td>a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "td>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "20609624c4f52855"
            ]
        ]
    },
    {
        "id": "a4e284ba326df0a9",
        "type": "moment",
        "z": "aeea6501e40186b3",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "5c7a83a8ed482567"
            ]
        ]
    },
    {
        "id": "9486b3b0e8707d47",
        "type": "inject",
        "z": "aeea6501e40186b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "7",
                "vt": "num"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT * FROM articles  WHERE source = 7 AND summary ='not available' ;",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "a279f0697d268269"
            ]
        ]
    },
    {
        "id": "7787f23ea85e1aa2",
        "type": "comment",
        "z": "aeea6501e40186b3",
        "name": "ADD PEDro SUMMARY",
        "info": "",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "1d0c57bab91a7c65",
        "type": "split",
        "z": "aeea6501e40186b3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "50170b360e492ebd"
            ]
        ]
    },
    {
        "id": "07e60c04730d19f7",
        "type": "http request",
        "z": "aeea6501e40186b3",
        "name": "PEDro",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "46f2cedc759c173a"
            ]
        ]
    },
    {
        "id": "ab968b8c763cae69",
        "type": "change",
        "z": "aeea6501e40186b3",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 420,
        "wires": [
            [
                "07e60c04730d19f7"
            ]
        ]
    },
    {
        "id": "50170b360e492ebd",
        "type": "delay",
        "z": "aeea6501e40186b3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "ab968b8c763cae69"
            ]
        ]
    },
    {
        "id": "ee08bc3cf4604953",
        "type": "split",
        "z": "aeea6501e40186b3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "556ed0c52fa3cc91"
            ]
        ]
    },
    {
        "id": "46f2cedc759c173a",
        "type": "cheerio",
        "z": "aeea6501e40186b3",
        "name": "",
        "tag": "#search-content > table > tbody",
        "ret": "text",
        "as": "single",
        "map": [
            {
                "search": "",
                "ret": "text",
                "replace": "",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "ee08bc3cf4604953"
            ]
        ]
    },
    {
        "id": "39d23195a734d98f",
        "type": "postgres",
        "z": "aeea6501e40186b3",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "44e9aa6db539eec0"
            ]
        ]
    },
    {
        "id": "38a92eab1a1e691a",
        "type": "postgres",
        "z": "aeea6501e40186b3",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "1d0c57bab91a7c65"
            ]
        ]
    },
    {
        "id": "cf83235e7f5f0d21",
        "type": "postgres",
        "z": "aeea6501e40186b3",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 980,
        "y": 500,
        "wires": []
    },
    {
        "id": "556ed0c52fa3cc91",
        "type": "string",
        "z": "aeea6501e40186b3",
        "name": "",
        "methods": [
            {
                "name": "trim",
                "params": []
            },
            {
                "name": "collapseWhitespace",
                "params": []
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "c29af70ef2c54589"
            ]
        ]
    },
    {
        "id": "c29af70ef2c54589",
        "type": "change",
        "z": "aeea6501e40186b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(payload, \"'\", \"''\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "b64d0da950e809a3"
            ]
        ]
    },
    {
        "id": "b64d0da950e809a3",
        "type": "template",
        "z": "aeea6501e40186b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = '{{{payload}}}'\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 840,
        "y": 500,
        "wires": [
            [
                "cf83235e7f5f0d21"
            ]
        ]
    },
    {
        "id": "44e9aa6db539eec0",
        "type": "debug",
        "z": "aeea6501e40186b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "a279f0697d268269",
        "type": "template",
        "z": "aeea6501e40186b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT \"public\".\"articles\".\"article_id\" AS \"article_id\", \"public\".\"articles\".\"title\" AS \"title\", \"public\".\"articles\".\"summary\" AS \"summary\", \"public\".\"articles\".\"link\" AS \"link\", \"public\".\"articles\".\"published_date\" AS \"published_date\", \"public\".\"articles\".\"source\" AS \"source\", \"public\".\"articles\".\"relevant\" AS \"relevant\", \"public\".\"articles\".\"sent_to_admin\" AS \"sent_to_admin\", \"public\".\"articles\".\"ml_prediction_gnb\" AS \"ml_prediction_gnb\", \"public\".\"articles\".\"ml_prediction_lr\" AS \"ml_prediction_lr\", \"public\".\"articles\".\"sent_to_subscribers\" AS \"sent_to_subscribers\", \"public\".\"articles\".\"discovery_date\" AS \"discovery_date\", \"public\".\"articles\".\"sent_to_twitter\" AS \"sent_to_twitter\", \"public\".\"articles\".\"noun_phrases\" AS \"noun_phrases\"\nFROM \"public\".\"articles\"\nWHERE (\"public\".\"articles\".\"summary\" IS NULL\n    OR \"public\".\"articles\".\"summary\" = '') and \"public\".\"articles\".\"source\" = 7\n\n",
        "output": "str",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "38a92eab1a1e691a"
            ]
        ]
    },
    {
        "id": "16c74b04ea56243b",
        "type": "http request",
        "z": "d9d95b7db82b44be",
        "name": "Scielo.org",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.scielo.org/?q=Multiple+Sclerosis&lang=en&count=15&from=0&output=site&sort=&format=summary&fb=&page=1&q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&lang=en&page=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "083ae1a1b58a4a41"
            ]
        ]
    },
    {
        "id": "4ca28f31ea6cae54",
        "type": "inject",
        "z": "d9d95b7db82b44be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "16c74b04ea56243b"
            ]
        ]
    },
    {
        "id": "f164da5fa3925368",
        "type": "split",
        "z": "d9d95b7db82b44be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "28ad2bac566388f6"
            ]
        ]
    },
    {
        "id": "a51f984e20faef33",
        "type": "change",
        "z": "d9d95b7db82b44be",
        "name": "set source Scielo",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Scielo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "9204b64aa8c4492b"
            ]
        ]
    },
    {
        "id": "9204b64aa8c4492b",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "d9d95b7db82b44be",
        "name": "Insert SQL",
        "env": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "f0d21fc3bdae08a5"
            ]
        ]
    },
    {
        "id": "083ae1a1b58a4a41",
        "type": "cheerio",
        "z": "d9d95b7db82b44be",
        "name": "",
        "tag": "div.results div.item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "strong.title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "div.line a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "f164da5fa3925368"
            ]
        ]
    },
    {
        "id": "28ad2bac566388f6",
        "type": "moment",
        "z": "d9d95b7db82b44be",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "a51f984e20faef33"
            ]
        ]
    },
    {
        "id": "0857be770f1bbdad",
        "type": "inject",
        "z": "d9d95b7db82b44be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT * FROM articles  WHERE source = 10 AND summary ='not available' OR summary is null OR summary = '';",
        "payloadType": "str",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "8ecb9d6ec8fa64e7"
            ]
        ]
    },
    {
        "id": "ed8d431381f046f4",
        "type": "comment",
        "z": "d9d95b7db82b44be",
        "name": "ADD Scielo SUMMARY",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d491f35d51cd040",
        "type": "split",
        "z": "d9d95b7db82b44be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "50e111cc807aa4be"
            ]
        ]
    },
    {
        "id": "f63d6870bd2f82b7",
        "type": "http request",
        "z": "d9d95b7db82b44be",
        "name": "Scielo",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "083e26adaa6673bf"
            ]
        ]
    },
    {
        "id": "647d5f2d255e7a1f",
        "type": "change",
        "z": "d9d95b7db82b44be",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "f63d6870bd2f82b7"
            ]
        ]
    },
    {
        "id": "083e26adaa6673bf",
        "type": "html",
        "z": "d9d95b7db82b44be",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "fe2acbafa53382f9"
            ]
        ]
    },
    {
        "id": "fe2acbafa53382f9",
        "type": "switch",
        "z": "d9d95b7db82b44be",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "53ef99b338989fea"
            ]
        ]
    },
    {
        "id": "186cdb8de3d342d0",
        "type": "template",
        "z": "d9d95b7db82b44be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = '{{{payload.content}}}'\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 760,
        "y": 400,
        "wires": [
            [
                "fdd98779d3ee6ecc"
            ]
        ]
    },
    {
        "id": "50e111cc807aa4be",
        "type": "delay",
        "z": "d9d95b7db82b44be",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "13",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "647d5f2d255e7a1f"
            ]
        ]
    },
    {
        "id": "1916b8ea7d656f6b",
        "type": "debug",
        "z": "d9d95b7db82b44be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "7d5369c36ff1a2af",
        "type": "meta",
        "z": "d9d95b7db82b44be",
        "name": "meta",
        "x": 990,
        "y": 540,
        "wires": [
            [
                "7d5bf28bdcbfe1a3"
            ]
        ]
    },
    {
        "id": "1fb6ccd808217d5e",
        "type": "change",
        "z": "d9d95b7db82b44be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "7d5369c36ff1a2af"
            ]
        ]
    },
    {
        "id": "ecc10206620eecfd",
        "type": "moment",
        "z": "d9d95b7db82b44be",
        "name": "",
        "topic": "",
        "input": "payload.citation_publication_date",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "datetime",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "ce71281f9a00917c"
            ]
        ]
    },
    {
        "id": "ce71281f9a00917c",
        "type": "template",
        "z": "d9d95b7db82b44be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{datetime}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "1916b8ea7d656f6b",
                "28285f6183cc8235"
            ]
        ]
    },
    {
        "id": "3af3349113dc5323",
        "type": "comment",
        "z": "d9d95b7db82b44be",
        "name": "populate missing values of published date",
        "info": "",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "b5d58352b3464af3",
        "type": "inject",
        "z": "d9d95b7db82b44be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT \tarticle_id, \tlink FROM \tarticles WHERE \tsource = 10 \tAND published_date IS NULL ORDER BY \tarticle_id DESC LIMIT 10;",
        "payloadType": "str",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "96a066f99627e707"
            ]
        ]
    },
    {
        "id": "7d5bf28bdcbfe1a3",
        "type": "switch",
        "z": "d9d95b7db82b44be",
        "name": "",
        "property": "payload.citation_publication_date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "ecc10206620eecfd"
            ],
            [
                "1916b8ea7d656f6b"
            ],
            [
                "38475ff80432a228"
            ]
        ]
    },
    {
        "id": "a523665ed44e244f",
        "type": "split",
        "z": "d9d95b7db82b44be",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "b273368dd3741e5c"
            ]
        ]
    },
    {
        "id": "b273368dd3741e5c",
        "type": "delay",
        "z": "d9d95b7db82b44be",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "1fb6ccd808217d5e"
            ]
        ]
    },
    {
        "id": "38475ff80432a228",
        "type": "moment",
        "z": "d9d95b7db82b44be",
        "name": "",
        "topic": "",
        "input": "payload.citation_date",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "1916b8ea7d656f6b"
            ]
        ]
    },
    {
        "id": "f0d21fc3bdae08a5",
        "type": "postgres",
        "z": "d9d95b7db82b44be",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "1f9d3fe354610ce0"
            ]
        ]
    },
    {
        "id": "b9a906dcf5056c64",
        "type": "postgres",
        "z": "d9d95b7db82b44be",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "0d491f35d51cd040"
            ]
        ]
    },
    {
        "id": "53ef99b338989fea",
        "type": "change",
        "z": "d9d95b7db82b44be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "$replace(payload.content, \"'\", \"''\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "186cdb8de3d342d0"
            ]
        ]
    },
    {
        "id": "fdd98779d3ee6ecc",
        "type": "postgres",
        "z": "d9d95b7db82b44be",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "96a066f99627e707",
        "type": "postgres",
        "z": "d9d95b7db82b44be",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "a523665ed44e244f"
            ]
        ]
    },
    {
        "id": "28285f6183cc8235",
        "type": "postgres",
        "z": "d9d95b7db82b44be",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 680,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9d3fe354610ce0",
        "type": "debug",
        "z": "d9d95b7db82b44be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "8ecb9d6ec8fa64e7",
        "type": "template",
        "z": "d9d95b7db82b44be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT\n\t\"public\".\"articles\".\"article_id\" AS \"article_id\",\n\t\"public\".\"articles\".\"title\" AS \"title\",\n\t\"public\".\"articles\".\"summary\" AS \"summary\",\n\t\"public\".\"articles\".\"link\" AS \"link\",\n\t\"public\".\"articles\".\"published_date\" AS \"published_date\",\n\t\"public\".\"articles\".\"source\" AS \"source\",\n\t\"public\".\"articles\".\"relevant\" AS \"relevant\",\n\t\"public\".\"articles\".\"sent_to_admin\" AS \"sent_to_admin\",\n\t\"public\".\"articles\".\"ml_prediction_gnb\" AS \"ml_prediction_gnb\",\n\t\"public\".\"articles\".\"ml_prediction_lr\" AS \"ml_prediction_lr\",\n\t\"public\".\"articles\".\"sent_to_subscribers\" AS \"sent_to_subscribers\",\n\t\"public\".\"articles\".\"discovery_date\" AS \"discovery_date\",\n\t\"public\".\"articles\".\"sent_to_twitter\" AS \"sent_to_twitter\",\n\t\"public\".\"articles\".\"noun_phrases\" AS \"noun_phrases\"\nFROM\n\t\"public\".\"articles\"\nWHERE (\"public\".\"articles\".\"summary\" IS NULL\n\tOR \"public\".\"articles\".\"summary\" = '') AND \"source\" = 10;",
        "output": "str",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "b9a906dcf5056c64"
            ]
        ]
    },
    {
        "id": "5ac626db3ff4e0e2",
        "type": "http request",
        "z": "4e972c81ceb89218",
        "name": "The Lancet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.thelancet.com/action/doSearch?text1=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "62b4fe6ef6a3b08b"
            ]
        ]
    },
    {
        "id": "58630f8e493b6e27",
        "type": "inject",
        "z": "4e972c81ceb89218",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "11",
                "vt": "num"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": true,
        "onceDelay": "67",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "5ac626db3ff4e0e2"
            ]
        ]
    },
    {
        "id": "9fa5189eb58baf3a",
        "type": "split",
        "z": "4e972c81ceb89218",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 750,
        "y": 60,
        "wires": [
            [
                "a33a097f46044af2"
            ]
        ]
    },
    {
        "id": "a33a097f46044af2",
        "type": "change",
        "z": "4e972c81ceb89218",
        "name": "set source The Lancet",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.thelancet.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "The Lancet",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "3b49fba804e53306"
            ]
        ]
    },
    {
        "id": "754c9033930c78fc",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "4e972c81ceb89218",
        "name": "Insert SQL",
        "env": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "e2987f9bbb5e2e06"
            ]
        ]
    },
    {
        "id": "62b4fe6ef6a3b08b",
        "type": "cheerio",
        "z": "4e972c81ceb89218",
        "name": "",
        "tag": "div.search__item__body",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h4.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h4.meta__title a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details > span:nth-child(5)",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "9fa5189eb58baf3a"
            ]
        ]
    },
    {
        "id": "3b49fba804e53306",
        "type": "moment",
        "z": "4e972c81ceb89218",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "754c9033930c78fc"
            ]
        ]
    },
    {
        "id": "36c51afaea3bb051",
        "type": "comment",
        "z": "4e972c81ceb89218",
        "name": "ADD The Lancet SUMMARY",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "cdbd73e1055c51d1",
        "type": "split",
        "z": "4e972c81ceb89218",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 460,
        "wires": [
            [
                "5f974a9997cc0375"
            ]
        ]
    },
    {
        "id": "a33c5196ca5555e0",
        "type": "http request",
        "z": "4e972c81ceb89218",
        "name": "The Lancet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "a0d44014f16be501",
                "0ace08793d06e047"
            ]
        ]
    },
    {
        "id": "a0d44014f16be501",
        "type": "html",
        "z": "4e972c81ceb89218",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "6f3566a185e26cc8"
            ]
        ]
    },
    {
        "id": "93eaa9c3a6e3acad",
        "type": "change",
        "z": "4e972c81ceb89218",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "a33c5196ca5555e0"
            ]
        ]
    },
    {
        "id": "6f3566a185e26cc8",
        "type": "switch",
        "z": "4e972c81ceb89218",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "1652dc1ce5310899"
            ]
        ]
    },
    {
        "id": "5f974a9997cc0375",
        "type": "delay",
        "z": "4e972c81ceb89218",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "93eaa9c3a6e3acad"
            ]
        ]
    },
    {
        "id": "b317793505c7aee8",
        "type": "change",
        "z": "4e972c81ceb89218",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 720,
        "wires": [
            [
                "1760feaa6eb2d6bc"
            ]
        ]
    },
    {
        "id": "4fa06f29b9f04c49",
        "type": "template",
        "z": "4e972c81ceb89218",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{payload}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "589e96c954db4745"
            ]
        ]
    },
    {
        "id": "8fb82ce2d5ba4e36",
        "type": "comment",
        "z": "4e972c81ceb89218",
        "name": "populate missing values of published date. working",
        "info": "",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "1760feaa6eb2d6bc",
        "type": "http request",
        "z": "4e972c81ceb89218",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "ec1c3cb81b3302c3"
            ]
        ]
    },
    {
        "id": "ec1c3cb81b3302c3",
        "type": "cheerio",
        "z": "4e972c81ceb89218",
        "name": "",
        "tag": "span.article-header__publish-date__value",
        "ret": "html",
        "as": "single",
        "map": [
            {
                "search": "",
                "ret": "text",
                "replace": "published_date",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "a5403439eadceab0"
            ]
        ]
    },
    {
        "id": "a5403439eadceab0",
        "type": "moment",
        "z": "4e972c81ceb89218",
        "name": "",
        "topic": "",
        "input": "payload[0]",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 240,
        "y": 780,
        "wires": [
            [
                "4fa06f29b9f04c49"
            ]
        ]
    },
    {
        "id": "e2987f9bbb5e2e06",
        "type": "postgres",
        "z": "4e972c81ceb89218",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b18fbe614c0c97da"
            ]
        ]
    },
    {
        "id": "b18fbe614c0c97da",
        "type": "debug",
        "z": "4e972c81ceb89218",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "d461d643987ff0e0",
        "type": "inject",
        "z": "4e972c81ceb89218",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "11",
                "vt": "num"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "ca34decd5e586cc4"
            ]
        ]
    },
    {
        "id": "ce7d7cf23cc43b47",
        "type": "postgres",
        "z": "4e972c81ceb89218",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "cdbd73e1055c51d1"
            ]
        ]
    },
    {
        "id": "1652dc1ce5310899",
        "type": "template",
        "z": "4e972c81ceb89218",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = '{{{payload.content}}}'\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 920,
        "y": 520,
        "wires": [
            [
                "5b4890259355ecb0"
            ]
        ]
    },
    {
        "id": "5b4890259355ecb0",
        "type": "postgres",
        "z": "4e972c81ceb89218",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 1060,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c40031a96fa96a99",
        "type": "inject",
        "z": "4e972c81ceb89218",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT \tarticle_id, \tlink FROM \tarticles WHERE \tsource = 11 \tAND published_date IS NULL ORDER BY \tarticle_id DESC LIMIT 10;",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "f1468e3b08df7035"
            ]
        ]
    },
    {
        "id": "f1468e3b08df7035",
        "type": "postgres",
        "z": "4e972c81ceb89218",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "e3fa09c531d5324e"
            ]
        ]
    },
    {
        "id": "589e96c954db4745",
        "type": "postgres",
        "z": "4e972c81ceb89218",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "728888e1900b9d97",
        "type": "delay",
        "z": "4e972c81ceb89218",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "b317793505c7aee8"
            ]
        ]
    },
    {
        "id": "e3fa09c531d5324e",
        "type": "split",
        "z": "4e972c81ceb89218",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "728888e1900b9d97"
            ]
        ]
    },
    {
        "id": "ca34decd5e586cc4",
        "type": "template",
        "z": "4e972c81ceb89218",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT\n\t*\nFROM\n\tarticles\nWHERE\n\tsummary IS NULL\n\tAND source = 11;",
        "output": "str",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "ce7d7cf23cc43b47"
            ]
        ]
    },
    {
        "id": "0ace08793d06e047",
        "type": "debug",
        "z": "4e972c81ceb89218",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 440,
        "wires": []
    },
    {
        "id": "039626468bc32112",
        "type": "http request",
        "z": "ef4efdb19a1e5bd7",
        "name": "JNeuroSci",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.jneurosci.org/search/text_abstract_title%3AMultiple%2BSclerosis%20text_abstract_title_flags%3Amatch-phrase%20exclude_meeting_abstracts%3A1%20numresults%3A50%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "e356666273992ab4"
            ]
        ]
    },
    {
        "id": "303a68bba79a02bc",
        "type": "split",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 610,
        "y": 60,
        "wires": [
            [
                "6b19aa32c6323140"
            ]
        ]
    },
    {
        "id": "6b19aa32c6323140",
        "type": "change",
        "z": "ef4efdb19a1e5bd7",
        "name": "set source JNeuroSci",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.jneurosci.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "JNeuroSci",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "bac2388b91c13478"
            ]
        ]
    },
    {
        "id": "43fb605d2e520f7b",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "ef4efdb19a1e5bd7",
        "name": "Insert SQL",
        "env": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "c20cd969dca2a0dc"
            ]
        ]
    },
    {
        "id": "51e8e5a7e5c118a1",
        "type": "inject",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "13800",
        "crontab": "",
        "once": true,
        "onceDelay": "85",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "039626468bc32112"
            ]
        ]
    },
    {
        "id": "e356666273992ab4",
        "type": "cheerio",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "tag": "li.search-result",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "303a68bba79a02bc"
            ]
        ]
    },
    {
        "id": "bac2388b91c13478",
        "type": "moment",
        "z": "ef4efdb19a1e5bd7",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "43fb605d2e520f7b"
            ]
        ]
    },
    {
        "id": "0c6f992a3c5a21fa",
        "type": "debug",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 300,
        "wires": []
    },
    {
        "id": "9fd72db1f3db5c46",
        "type": "comment",
        "z": "ef4efdb19a1e5bd7",
        "name": "ADD JNeuroSci SUMMARY",
        "info": "",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "90d58d715eddcb2f",
        "type": "split",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "9cbe2130b8fb505a"
            ]
        ]
    },
    {
        "id": "4a94f12318d9eb62",
        "type": "http request",
        "z": "ef4efdb19a1e5bd7",
        "name": "JNeuroSci",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "6475340e72616d90"
            ]
        ]
    },
    {
        "id": "eaf87e474419e220",
        "type": "change",
        "z": "ef4efdb19a1e5bd7",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "4a94f12318d9eb62"
            ]
        ]
    },
    {
        "id": "6475340e72616d90",
        "type": "html",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "9f74bd3b8d9361ce"
            ]
        ]
    },
    {
        "id": "9f74bd3b8d9361ce",
        "type": "switch",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "0fe65a93cac4e795"
            ]
        ]
    },
    {
        "id": "0fe65a93cac4e795",
        "type": "template",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = '{{{payload.content}}}'\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "f796ffebb8bb5857"
            ]
        ]
    },
    {
        "id": "9cbe2130b8fb505a",
        "type": "delay",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "eaf87e474419e220"
            ]
        ]
    },
    {
        "id": "3ce23c7106fa6d78",
        "type": "meta",
        "z": "ef4efdb19a1e5bd7",
        "name": "meta",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "688974edc2268b38"
            ]
        ]
    },
    {
        "id": "5528798257ebe1fb",
        "type": "change",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "3ce23c7106fa6d78"
            ]
        ]
    },
    {
        "id": "688974edc2268b38",
        "type": "moment",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "topic": "",
        "input": "payload.citation_publication_date",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "datetime",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "16de3d8b5125c6d9"
            ]
        ]
    },
    {
        "id": "16de3d8b5125c6d9",
        "type": "template",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{datetime}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "92ba5df59ec0e04d"
            ]
        ]
    },
    {
        "id": "12d588fe9c466e64",
        "type": "comment",
        "z": "ef4efdb19a1e5bd7",
        "name": "populate missing values of published date : working",
        "info": "",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "fb3ae4d6ac19aa08",
        "type": "inject",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "4",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "137",
        "topic": "",
        "payload": "select article_id,link from articles where source = 4 and published_date is null limit 10;",
        "payloadType": "str",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "745116eca0a8eaec"
            ]
        ]
    },
    {
        "id": "c20cd969dca2a0dc",
        "type": "postgres",
        "z": "ef4efdb19a1e5bd7",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "4d175d7b9998c97b"
            ]
        ]
    },
    {
        "id": "ac35739c89026d8a",
        "type": "inject",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": "123",
        "topic": "",
        "payload": "SELECT \tarticle_id, \tlink FROM \tarticles WHERE \tsource = 4 \tAND published_date IS NULL ORDER BY \tarticle_id DESC LIMIT 10;",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "01e917fae909285d"
            ]
        ]
    },
    {
        "id": "01e917fae909285d",
        "type": "postgres",
        "z": "ef4efdb19a1e5bd7",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "90d58d715eddcb2f"
            ]
        ]
    },
    {
        "id": "f796ffebb8bb5857",
        "type": "postgres",
        "z": "ef4efdb19a1e5bd7",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 720,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "745116eca0a8eaec",
        "type": "postgres",
        "z": "ef4efdb19a1e5bd7",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "d6eb356fc230c772"
            ]
        ]
    },
    {
        "id": "92ba5df59ec0e04d",
        "type": "postgres",
        "z": "ef4efdb19a1e5bd7",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "d6eb356fc230c772",
        "type": "split",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "3e2df0b26c223ff1"
            ]
        ]
    },
    {
        "id": "3e2df0b26c223ff1",
        "type": "delay",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "5528798257ebe1fb"
            ]
        ]
    },
    {
        "id": "4d175d7b9998c97b",
        "type": "debug",
        "z": "ef4efdb19a1e5bd7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "c22a488e48d215a7",
        "type": "inject",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "13800",
        "crontab": "",
        "once": true,
        "onceDelay": "200",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 166.66665649414062,
        "y": 101.66666412353516,
        "wires": [
            [
                "c40795eb5c087a68"
            ]
        ]
    },
    {
        "id": "c40795eb5c087a68",
        "type": "http request",
        "z": "229c44d5bbf84eb1",
        "name": "MS and Rel. Disorders",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.msard-journal.com/action/doSearch?text1=Multiple+Sclerosis&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 386.6666564941406,
        "y": 101.66666412353516,
        "wires": [
            [
                "8725784d152fc0f0"
            ]
        ]
    },
    {
        "id": "c29535e4bd0b786a",
        "type": "split",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "cae37559e966fc39"
            ]
        ]
    },
    {
        "id": "cae37559e966fc39",
        "type": "change",
        "z": "229c44d5bbf84eb1",
        "name": "set source MS & rel. disorders",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.msard-journal.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "MS & Rel. Disorders",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \"Published Online: \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 100,
        "wires": [
            [
                "daec510a359a8f0f"
            ]
        ]
    },
    {
        "id": "daec510a359a8f0f",
        "type": "change",
        "z": "229c44d5bbf84eb1",
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "26eb1525168a4179"
            ]
        ]
    },
    {
        "id": "c18b56c8350d9e81",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "229c44d5bbf84eb1",
        "name": "Insert SQL",
        "env": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "6a4b2b25fc9caa6c"
            ]
        ]
    },
    {
        "id": "8725784d152fc0f0",
        "type": "cheerio",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "tag": "li.search__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h4.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h4.meta__title>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details > span:nth-child(3)",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "c29535e4bd0b786a"
            ]
        ]
    },
    {
        "id": "26eb1525168a4179",
        "type": "moment",
        "z": "229c44d5bbf84eb1",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "c18b56c8350d9e81"
            ]
        ]
    },
    {
        "id": "656b10c881649b88",
        "type": "comment",
        "z": "229c44d5bbf84eb1",
        "name": "ADD MS & Rel. Disorders SUMMARY",
        "info": "",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "bea6a6b0ce7da242",
        "type": "split",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "aa551072b85a081d"
            ]
        ]
    },
    {
        "id": "f47a31e0afae83d5",
        "type": "http request",
        "z": "229c44d5bbf84eb1",
        "name": "MS & Rel. Disorders",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "39e049819087ad20"
            ]
        ]
    },
    {
        "id": "39e049819087ad20",
        "type": "html",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "bc39a0e926541175"
            ]
        ]
    },
    {
        "id": "8f762127f07cd094",
        "type": "change",
        "z": "229c44d5bbf84eb1",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "f47a31e0afae83d5"
            ]
        ]
    },
    {
        "id": "bc39a0e926541175",
        "type": "switch",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "93e107ca4215b3fe"
            ]
        ]
    },
    {
        "id": "bfc122a6867eb2a8",
        "type": "template",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = '{{{payload.content}}}'\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "75ad5a3290077654"
            ]
        ]
    },
    {
        "id": "1e75c2f9dd2e5bca",
        "type": "inject",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "5",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SELECT * FROM articles  WHERE source = 5 AND summary ='not available' OR summary IS NULL ;",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "c9aa0231892c063e"
            ]
        ]
    },
    {
        "id": "aa551072b85a081d",
        "type": "delay",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "8f762127f07cd094"
            ]
        ]
    },
    {
        "id": "56f4c89ba2540166",
        "type": "change",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload[0].article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload[0].link",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "c52dd5f969ec7110"
            ]
        ]
    },
    {
        "id": "891232a85cb31822",
        "type": "comment",
        "z": "229c44d5bbf84eb1",
        "name": "populate missing values of published date not working",
        "info": "",
        "x": 260,
        "y": 540,
        "wires": []
    },
    {
        "id": "9b9553c093668632",
        "type": "cheerio",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "tag": "span.article-header__publish-date__value",
        "ret": "html",
        "as": "single",
        "map": [
            {
                "search": "",
                "ret": "text",
                "replace": "published_date",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "924ba527a3e1b51b"
            ]
        ]
    },
    {
        "id": "924ba527a3e1b51b",
        "type": "moment",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "topic": "",
        "input": "payload[0]",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "6134c4eb1d3ecc37"
            ]
        ]
    },
    {
        "id": "6134c4eb1d3ecc37",
        "type": "template",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{payload}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 400,
        "y": 780,
        "wires": [
            [
                "1cec06948586d710"
            ]
        ]
    },
    {
        "id": "1cec06948586d710",
        "type": "debug",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 840,
        "wires": []
    },
    {
        "id": "c52dd5f969ec7110",
        "type": "http request",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "authType": "",
        "senderr": false,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "9b9553c093668632"
            ]
        ]
    },
    {
        "id": "6a4b2b25fc9caa6c",
        "type": "postgres",
        "z": "229c44d5bbf84eb1",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "ef6f50d84f41c525"
            ]
        ]
    },
    {
        "id": "c9aa0231892c063e",
        "type": "postgres",
        "z": "229c44d5bbf84eb1",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "bea6a6b0ce7da242"
            ]
        ]
    },
    {
        "id": "75ad5a3290077654",
        "type": "postgres",
        "z": "229c44d5bbf84eb1",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 740,
        "y": 420,
        "wires": [
            [
                "95f377f293ef434c"
            ]
        ]
    },
    {
        "id": "8f1aa6fc3a4775f2",
        "type": "inject",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "5",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "select article_id,link from articles where source = \"MS & Rel. Disorders\" and published_date is null order by article_id desc limit 1;",
        "payloadType": "str",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "9746abb39b1d24ff"
            ]
        ]
    },
    {
        "id": "9746abb39b1d24ff",
        "type": "postgres",
        "z": "229c44d5bbf84eb1",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "60f7933be1caaa7c"
            ]
        ]
    },
    {
        "id": "60f7933be1caaa7c",
        "type": "split",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "8c98ac204ecd894a"
            ]
        ]
    },
    {
        "id": "8c98ac204ecd894a",
        "type": "delay",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 660,
        "wires": [
            [
                "56f4c89ba2540166"
            ]
        ]
    },
    {
        "id": "93e107ca4215b3fe",
        "type": "change",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "$replace(payload.content, \"'\", \"''\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "bfc122a6867eb2a8"
            ]
        ]
    },
    {
        "id": "ef6f50d84f41c525",
        "type": "debug",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "95f377f293ef434c",
        "type": "debug",
        "z": "229c44d5bbf84eb1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "bf49889256cc6783",
        "type": "http request",
        "z": "02847583794d9f3b",
        "name": "NOVARTIS",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.novartis.com/clinicaltrials/recruiting-trials?title=multiple%20sclerosis",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "555696bf1ae29a39"
            ]
        ]
    },
    {
        "id": "07a10d29c3b03559",
        "type": "inject",
        "z": "02847583794d9f3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "200",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "bf49889256cc6783"
            ]
        ]
    },
    {
        "id": "c204ece5aa88ae64",
        "type": "template",
        "z": "02847583794d9f3b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date, title, summary, link, published_date, source, relevant)\n\t\tVALUES(CURRENT_TIMESTAMP, '{{payload.title}}', NULL, 'https://www.novartis.com/{{{payload.link}}}', NULL, 13, NULL)",
        "output": "str",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "5374561e784d98af"
            ]
        ]
    },
    {
        "id": "5edac0505be73134",
        "type": "split",
        "z": "02847583794d9f3b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "033ec197e68058e0"
            ]
        ]
    },
    {
        "id": "609ad472a045a811",
        "type": "http request",
        "z": "02847583794d9f3b",
        "name": "CUF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.cuf.pt/cuf-academic-center/ensaios-clinicos?combine=&unidade=&estado=All&patologia=2346&especialidade=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "287c204d9da17fa1"
            ]
        ]
    },
    {
        "id": "99d79d41714d252d",
        "type": "inject",
        "z": "02847583794d9f3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "42",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "609ad472a045a811"
            ]
        ]
    },
    {
        "id": "be6a66a22f99b2d9",
        "type": "template",
        "z": "02847583794d9f3b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (current_timestamp,'{{payload.title}}',NULL,'https://www.cuf.pt{{{payload.link}}}',NULL,14,NULL)",
        "output": "str",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "5374561e784d98af"
            ]
        ]
    },
    {
        "id": "f10a85da491f6d72",
        "type": "split",
        "z": "02847583794d9f3b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "ec153ddbc09ec1a8"
            ]
        ]
    },
    {
        "id": "35ec9add27d78f73",
        "type": "comment",
        "z": "02847583794d9f3b",
        "name": "Clinical Trials",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "555696bf1ae29a39",
        "type": "cheerio",
        "z": "02847583794d9f3b",
        "name": "Novartis",
        "tag": "td.views-field",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "td.views-field.views-field-title>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "5edac0505be73134"
            ]
        ]
    },
    {
        "id": "287c204d9da17fa1",
        "type": "cheerio",
        "z": "02847583794d9f3b",
        "name": "cuf",
        "tag": "div.content",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": ".field--name-title-text",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "f10a85da491f6d72"
            ]
        ]
    },
    {
        "id": "5374561e784d98af",
        "type": "postgres",
        "z": "02847583794d9f3b",
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "033ec197e68058e0",
        "type": "switch",
        "z": "02847583794d9f3b",
        "name": "",
        "property": "payload.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Multiple Sclerosis",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "multiple sclerosis",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "c204ece5aa88ae64"
            ],
            [
                "c204ece5aa88ae64"
            ]
        ]
    },
    {
        "id": "ec153ddbc09ec1a8",
        "type": "switch",
        "z": "02847583794d9f3b",
        "name": "",
        "property": "payload.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Multiple Sclerosis",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "multiple sclerosis",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "be6a66a22f99b2d9"
            ],
            []
        ]
    },
    {
        "id": "bdf7dcf7e77c8fb1",
        "type": "http request",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "journals.sagepub",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://journals.sagepub.com/action/doSearch?AllField=multiple+sclerosis&SeriesKey=msja&content=articlesChapters&countTerms=true&target=default&sortBy=Ppub&startPage=&ContentItemType=research-article",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "b10e446e32a599c1",
                "bf7261993e7a2040"
            ]
        ]
    },
    {
        "id": "357f624d0bda7d21",
        "type": "inject",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "9",
                "vt": "num"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "99",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "bdf7dcf7e77c8fb1"
            ]
        ]
    },
    {
        "id": "b11c5b63379dd054",
        "type": "split",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 80,
        "wires": [
            [
                "21a6f750c3abb2a1"
            ]
        ]
    },
    {
        "id": "21a6f750c3abb2a1",
        "type": "change",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "set source SagePub",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://journals.sagepub.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Sage Pub",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \", First Published \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 80,
        "wires": [
            [
                "a171fa7197616bce"
            ]
        ]
    },
    {
        "id": "a171fa7197616bce",
        "type": "change",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "a5a10522b92c0bb6"
            ]
        ]
    },
    {
        "id": "b37b5d10ade11d4b",
        "type": "subflow:3d5c22a1ade8c013",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "Insert SQL",
        "env": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "cc064dd2df5af8ab",
                "df7d1918121d6cbf"
            ]
        ]
    },
    {
        "id": "b10e446e32a599c1",
        "type": "cheerio",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "tag": ".searchResultItem",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h2",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h2>span>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span.publication-meta",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "b11c5b63379dd054",
                "bf7261993e7a2040"
            ]
        ]
    },
    {
        "id": "a5a10522b92c0bb6",
        "type": "moment",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "b37b5d10ade11d4b"
            ]
        ]
    },
    {
        "id": "a9148801c21f3d41",
        "type": "subflow:346ec29c7e27ea2e",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "x": 1450,
        "y": 300,
        "wires": [
            [
                "56f1dd10efc3af92"
            ]
        ]
    },
    {
        "id": "56f1dd10efc3af92",
        "type": "debug",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 340,
        "wires": []
    },
    {
        "id": "19d9880ce23b17d8",
        "type": "comment",
        "z": "a38a4dce4a95b8aa",
        "name": "ADD SAGEPUB SUMMARY",
        "info": "",
        "x": 200,
        "y": 240,
        "wires": []
    },
    {
        "id": "0fdf992e2a4b31c7",
        "type": "split",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "2c174e0bece2c39c"
            ]
        ]
    },
    {
        "id": "934464ff05531550",
        "type": "http request",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "SAGEPUB",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 320,
        "wires": [
            [
                "ad04d9fa569437b8"
            ]
        ]
    },
    {
        "id": "513f9aa2bc88dd23",
        "type": "change",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "934464ff05531550"
            ]
        ]
    },
    {
        "id": "f29328b354aedc36",
        "type": "template",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = \"{{{payload.summary}}}\"\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "a9148801c21f3d41"
            ]
        ]
    },
    {
        "id": "0bdbbe7165770dca",
        "type": "inject",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1916487558ba2188"
            ]
        ]
    },
    {
        "id": "2c174e0bece2c39c",
        "type": "delay",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "513f9aa2bc88dd23"
            ]
        ]
    },
    {
        "id": "ad04d9fa569437b8",
        "type": "cheerio",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "tag": "body",
        "ret": "object",
        "as": "multi",
        "map": [
            {
                "search": "div.hlFld-Abstract",
                "ret": "text",
                "replace": "summary",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "f29328b354aedc36"
            ]
        ]
    },
    {
        "id": "1916487558ba2188",
        "type": "sqlite",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM articles \nWHERE source = \"Sage Pub\" \nAND summary =\"not available\";",
        "name": "",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "0fdf992e2a4b31c7"
            ]
        ]
    },
    {
        "id": "33f3921a91b80ed9",
        "type": "debug",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "article_id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "c49f486b8e6b37b2",
        "type": "sqlite",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "select article_id,link from articles where source = \"Sage Pub\" and published_date = \"\" limit 1;",
        "name": "",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "5e2944c15177ab7b"
            ]
        ]
    },
    {
        "id": "5e2944c15177ab7b",
        "type": "change",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload[0].article_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "0fefe071b1bb64db"
            ]
        ]
    },
    {
        "id": "e38f3f3c4b39932b",
        "type": "sqlite",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "33f3921a91b80ed9"
            ]
        ]
    },
    {
        "id": "4c63900676c67787",
        "type": "comment",
        "z": "a38a4dce4a95b8aa",
        "name": "populate missing values of published date not working",
        "info": "",
        "x": 310,
        "y": 480,
        "wires": []
    },
    {
        "id": "0fefe071b1bb64db",
        "type": "http request",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "authType": "",
        "senderr": false,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "9b5e007c73488db0"
            ]
        ]
    },
    {
        "id": "9b5e007c73488db0",
        "type": "cheerio",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "tag": ".publicationContentEpubDate.dates",
        "ret": "html",
        "as": "single",
        "map": [
            {
                "search": "",
                "ret": "html",
                "replace": "",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "041fcb5ee56c8e57"
            ]
        ]
    },
    {
        "id": "041fcb5ee56c8e57",
        "type": "string",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "methods": [
            {
                "name": "trim",
                "params": []
            },
            {
                "name": "delLeftMost",
                "params": [
                    {
                        "type": "str",
                        "value": "<b>First Published </b> "
                    }
                ]
            }
        ],
        "prop": "payload[0]",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 610,
        "y": 620,
        "wires": [
            [
                "eb757de17b81869f",
                "df7d1918121d6cbf"
            ]
        ]
    },
    {
        "id": "eb757de17b81869f",
        "type": "moment",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "1544defd6dc58dbb"
            ]
        ]
    },
    {
        "id": "1544defd6dc58dbb",
        "type": "template",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "update articles set published_date ='{{payload}}' where article_id  = {{article_id}};",
        "output": "str",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "e38f3f3c4b39932b"
            ]
        ]
    },
    {
        "id": "df7d1918121d6cbf",
        "type": "debug",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "cc064dd2df5af8ab",
        "type": "postgres",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "postgresdb": "857f821ab371a10e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "bf7261993e7a2040",
        "type": "debug",
        "z": "a38a4dce4a95b8aa",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    }
]