flows.json
[
    {
        "id": "acf883d8.84eea",
        "type": "subflow",
        "name": "Insert SQL subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4c001d43.2cc414",
        "type": "template",
        "z": "acf883d8.84eea",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{article.url}}\",\"{{article.pubdate\"}}\",\"{{article.source}}\",NULL)",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e677d300.d1d95",
        "type": "tab",
        "label": "Gregory",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b24f780.dc8238",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "Clinical Trials.gov",
        "url": "https://clinicaltrials.gov/ct2/results/rss.xml?rcv_d=14&lup_d=&sel_rss=new14&cond=Multiple+Sclerosis&count=10000",
        "interval": "59",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "fece258b.590898",
                "ffb7b92d.9a01e8"
            ]
        ]
    },
    {
        "id": "f1274334.01ae3",
        "type": "chatbot-conversation",
        "z": "e677d300.d1d95",
        "name": "",
        "botDevelopment": "21c9917c.15264e",
        "botProduction": "21c9917c.15264e",
        "chatId": "48263287",
        "userId": "",
        "transport": "telegram",
        "store": "",
        "x": 1110,
        "y": 940,
        "wires": [
            [
                "bd76365b.a61c38"
            ]
        ]
    },
    {
        "id": "bd76365b.a61c38",
        "type": "chatbot-message",
        "z": "e677d300.d1d95",
        "name": "",
        "message": [
            {
                "message": "New Clinical Trial Published\n\n{{payload.title}}\n\n{{topic}}"
            }
        ],
        "language": "",
        "x": 1250,
        "y": 940,
        "wires": [
            [
                "85d27dcc.5586d"
            ]
        ]
    },
    {
        "id": "b18aadfc.06727",
        "type": "chatbot-telegram-send",
        "z": "e677d300.d1d95",
        "bot": "21c9917c.15264e",
        "botProduction": "21c9917c.15264e",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1610,
        "y": 180,
        "wires": []
    },
    {
        "id": "fece258b.590898",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "article",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "<b>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "</b>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "<br/>",
                "fromt": "str",
                "to": "\" \"",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "48263287",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "text",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 940,
        "wires": [
            [
                "f1274334.01ae3"
            ]
        ]
    },
    {
        "id": "937a615c.38fb1",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "PubMed : MS ",
        "url": "https://pubmed.ncbi.nlm.nih.gov/rss/search/10guX6I3SqrbUeeLKSTD6FCRM44ewnrN2MKKTQLLPMHB4xNsZU/?limit=15&utm_campaign=pubmed-2&fc=20210216052009",
        "interval": "20",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "a4d2d38e.94de7",
                "56a4dc66.256874"
            ]
        ]
    },
    {
        "id": "a4d2d38e.94de7",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "article",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "<b>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "</b>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.summary",
                "pt": "msg",
                "from": "<br/>",
                "fromt": "str",
                "to": "\" \"",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "48263287",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "text",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "9c3ffda2.19af"
            ]
        ]
    },
    {
        "id": "9c3ffda2.19af",
        "type": "chatbot-conversation",
        "z": "e677d300.d1d95",
        "name": "",
        "botDevelopment": "21c9917c.15264e",
        "botProduction": "21c9917c.15264e",
        "chatId": "48263287",
        "userId": "",
        "transport": "telegram",
        "store": "",
        "x": 1110,
        "y": 1220,
        "wires": [
            [
                "8c72fd69.b32b2"
            ]
        ]
    },
    {
        "id": "8c72fd69.b32b2",
        "type": "chatbot-message",
        "z": "e677d300.d1d95",
        "name": "",
        "message": [
            {
                "message": "New Result on PubMed\n\n{{payload.title}}\n\n{{topic}}"
            }
        ],
        "language": "",
        "x": 1250,
        "y": 1220,
        "wires": [
            [
                "85d27dcc.5586d"
            ]
        ]
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/articles/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "ebc24695.52d7d8"
            ]
        ]
    },
    {
        "id": "65401623.9abfe8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2430,
        "y": 460,
        "wires": [
            [
                "f7d3e35a.082c2"
            ]
        ]
    },
    {
        "id": "f7d3e35a.082c2",
        "type": "http response",
        "z": "e677d300.d1d95",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2570,
        "y": 460,
        "wires": []
    },
    {
        "id": "d08c25f.3ad7e58",
        "type": "comment",
        "z": "e677d300.d1d95",
        "name": "db model",
        "info": "`\n{\n\t\"discovery_date\": 2021-02-16T17:57:16Z, # date \"+%FT%TZ\"`\"\n    \"title\": \"\",\n    \"summary\": \"\",\n    \"link\": \"\"\n    \"published_date\": ,\n    \"category\": \"\",\n\t\t\"source\":\"\"\n}\n`",
        "x": 1120,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e7f81480.58b468",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "1 create articles",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE articles( article_id INTEGER NOT NULL PRIMARY KEY, discovery_date data_type TEXT, title data_type TEXT UNIQUE, summary data_type TEXT, link data_type TEXT, published_date TEXT, source data_type TEXT, relevant data_type INT, table_constraints );  ",
        "x": 2360,
        "y": 1000,
        "wires": [
            []
        ],
        "info": "CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"
    },
    {
        "id": "b87e3b26.67f118",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "Insert category values",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO categories (category_name) VALUES(\"Tratamento\"),(\"Sintomas e Mobilidade\"),(\"Regeneração do SNC\"); SELECT * FROM categories;",
        "x": 2340,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f6a85ea5.2bd9b",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "drop table articles",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS articles;",
        "x": 2350,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "6cdc5f5.3ff67a",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "sanity check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT      name FROM      sqlite_master  WHERE      type ='table' AND      name NOT LIKE 'sqlite_%';",
        "payload": "",
        "payloadType": "date",
        "x": 2370,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "bb71d047.ff6f9",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "article.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "12c5e787.dadea8"
            ]
        ]
    },
    {
        "id": "7763df39.5e76d",
        "type": "ui_list",
        "z": "e677d300.d1d95",
        "group": "d21d47a8.9ecc18",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": true,
        "outputs": 0,
        "topic": "",
        "x": 2290,
        "y": 380,
        "wires": []
    },
    {
        "id": "c45f9e4e.604e3",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "2 create categories",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE categories( category_id INTEGER NOT NULL PRIMARY KEY, category_name TEXT );",
        "x": 2350,
        "y": 1040,
        "wires": [
            []
        ],
        "info": "CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"
    },
    {
        "id": "e54f69d7.9f9328",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "3 create rel_articles_categories",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE rel_articles_categories( article_id INTEGER, category_id INTEGER, FOREIGN KEY (article_id) REFERENCES articles(article_id), FOREIGN KEY (category_id) REFERENCES categories(category_id) );",
        "x": 2310,
        "y": 1080,
        "wires": [
            []
        ],
        "info": "CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"
    },
    {
        "id": "703141cb.40cd2",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 2010,
        "y": 400,
        "wires": [
            [
                "7763df39.5e76d",
                "c6c74bb2.398ab8",
                "a55db16a.04ca7"
            ]
        ]
    },
    {
        "id": "c2dff99f.6253e8",
        "type": "ui_form",
        "z": "e677d300.d1d95",
        "name": "Manual Input Form",
        "label": "",
        "group": "d21d47a8.9ecc18",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Title",
                "value": "title",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Link",
                "value": "link",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Discovery Date",
                "value": "discovery_date",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Summary",
                "value": "summary",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Published Date",
                "value": "published_date",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Source",
                "value": "source",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Relevant? (y/n)",
                "value": "relevant",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "title": "",
            "link": "",
            "discovery_date": "",
            "summary": "",
            "published_date": "",
            "source": "",
            "relevant": false
        },
        "payload": "",
        "submit": "save",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "5223398.ab62ec8"
            ]
        ]
    },
    {
        "id": "5223398.ab62ec8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "format 'is relevant' field (not working)",
        "rules": [
            {
                "t": "change",
                "p": "payload.relevant",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.relevant",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "4da35fee.9ae0a"
            ]
        ]
    },
    {
        "id": "4da35fee.9ae0a",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (\"{{payload.discovery_date}}\",\n\"{{payload.title}}\",\n\"{{payload.summary}}\",\n\"{{payload.link}}\",\n\"{{payload.published_date}}\",\n\"{{payload.source}}\",\"{{payload.relevant}}\");",
        "output": "str",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "2a6fbc39.af1ee4"
            ]
        ]
    },
    {
        "id": "74abba75.c6f944",
        "type": "e-mail in",
        "z": "e677d300.d1d95",
        "name": "Emails Gregory",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "Gregory",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "90",
        "fetch": "auto",
        "inputs": 0,
        "x": 200,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "75731cda.feee34",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "Reuters",
        "url": "https://www.reutersagency.com/feed/?best-topics=health",
        "interval": "10",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "d3e84102.20011"
            ]
        ]
    },
    {
        "id": "d3e84102.20011",
        "type": "switch",
        "z": "e677d300.d1d95",
        "name": "filter if title contains MS",
        "property": "article.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*(multiple sclerosis ).*",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*( MS ).*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1420,
        "wires": [
            [
                "acb25bab.c29098"
            ],
            [
                "acb25bab.c29098"
            ]
        ]
    },
    {
        "id": "acb25bab.c29098",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source reuters",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "reuters",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1420,
        "wires": [
            [
                "bb71d047.ff6f9"
            ]
        ]
    },
    {
        "id": "56a4dc66.256874",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source pubmed",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "pubmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "bb71d047.ff6f9"
            ]
        ]
    },
    {
        "id": "c6c74bb2.398ab8",
        "type": "ui_template",
        "z": "e677d300.d1d95",
        "group": "2e3f3837.3647a8",
        "name": "table template",
        "order": 14,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Title</th>\n    <th>Link</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td ng-bind-html=\"msg.payload[$index].title\"></td>\n    <td ng-bind-html=\"msg.payload[$index].link\"></td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 2320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ebc24695.52d7d8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM articles ORDER BY article_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "a55db16a.04ca7",
        "type": "json",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2290,
        "y": 460,
        "wires": [
            [
                "65401623.9abfe8"
            ]
        ]
    },
    {
        "id": "dd8e58f7.7eb6e8",
        "type": "link in",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "7b3f48c4.9c0f88",
            "e8bd17ee.3328d8",
            "2a6fbc39.af1ee4",
            "29b465d7.a3aa5a",
            "e80c0064.85234",
            "17411654.54199a",
            "958a1d17.8c224",
            "6c3c1a63.858e04",
            "2042485f.ad9e18",
            "d364aba7.a79228",
            "f2c28c9f.29a42"
        ],
        "x": 1715,
        "y": 400,
        "wires": [
            [
                "362204ba.31312c"
            ]
        ]
    },
    {
        "id": "e8bd17ee.3328d8",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 995,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2a6fbc39.af1ee4",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 795,
        "y": 260,
        "wires": []
    },
    {
        "id": "bfdcd93f.a86878",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM articles where relevant = 1 ORDER BY article_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 680,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "65e623fc.e71b3c",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/articles/relevant",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "bfdcd93f.a86878"
            ]
        ]
    },
    {
        "id": "6107021e.169f0c",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/articles/source/:source",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "31c3c9f2.4658c6"
            ]
        ]
    },
    {
        "id": "31c3c9f2.4658c6",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT  * FROM articles where source = \"{{req.params.source}}\" ORDER BY article_id DESC;",
        "output": "str",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "e80c0064.85234",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 735,
        "y": 680,
        "wires": []
    },
    {
        "id": "ffb7b92d.9a01e8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source ClinicalTrials",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "ClinicalTrials.gov",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "bc0c284f.e4f5d8"
            ]
        ]
    },
    {
        "id": "974801fc.d87d5",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{topic}}\",\"{{payload}}\",\"{{article.source}}\",NULL)",
        "output": "str",
        "x": 1020,
        "y": 900,
        "wires": [
            [
                "6c3c1a63.858e04"
            ]
        ]
    },
    {
        "id": "bc0c284f.e4f5d8",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "article.date",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "974801fc.d87d5"
            ]
        ]
    },
    {
        "id": "6c3c1a63.858e04",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 1175,
        "y": 900,
        "wires": []
    },
    {
        "id": "5838a1b9.df1ca",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/trials/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "e1cb590b.e4fe88"
            ]
        ]
    },
    {
        "id": "e1cb590b.e4fe88",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM trials ORDER BY trial_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "447e9609.e2ac08",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "9900",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1740,
        "wires": [
            [
                "7d34d84b.209178"
            ]
        ]
    },
    {
        "id": "7d34d84b.209178",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "APTA",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.apta.org/search?Q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&searcharticletypes=8834&searchconditionandsymptoms=&searchloc=APTA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "c61aca1a.a75f28"
            ]
        ]
    },
    {
        "id": "c61aca1a.a75f28",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.mg-n40px div.mb-40px",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p + p",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.text-uppercase.text-muted.ff-apta-sans.fw-600.fs-14px",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 580,
        "y": 1740,
        "wires": [
            [
                "79a8247a.92ebfc"
            ]
        ]
    },
    {
        "id": "12c5e787.dadea8",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 890,
        "y": 1300,
        "wires": [
            [
                "e8bd17ee.3328d8"
            ]
        ]
    },
    {
        "id": "4a6f88df.668e58",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source APTA",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.apta.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "APTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1740,
        "wires": [
            [
                "5607a559.4d69ec"
            ]
        ]
    },
    {
        "id": "9114e276.66493",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 940,
        "y": 1740,
        "wires": [
            [
                "4a6f88df.668e58"
            ]
        ]
    },
    {
        "id": "5607a559.4d69ec",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1410,
        "y": 1740,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "2042485f.ad9e18",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 1715,
        "y": 2120,
        "wires": []
    },
    {
        "id": "85d27dcc.5586d",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [],
        "x": 1355,
        "y": 980,
        "wires": []
    },
    {
        "id": "26b229ff.74e626",
        "type": "link in",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [],
        "x": 1445,
        "y": 180,
        "wires": [
            [
                "b18aadfc.06727"
            ]
        ]
    },
    {
        "id": "eeb3511f.107c9",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "refresh list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT  * FROM articles ORDER BY article_id DESC;",
        "payload": "",
        "payloadType": "date",
        "x": 1510,
        "y": 400,
        "wires": [
            [
                "d364aba7.a79228"
            ]
        ]
    },
    {
        "id": "d364aba7.a79228",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 1635,
        "y": 400,
        "wires": []
    },
    {
        "id": "2fefc425.4050bc",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "create trials table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE trials( trial_id INTEGER NOT NULL PRIMARY KEY, discovery_date data_type TEXT,  title TEXT type UNIQUE, summary data_type TEXT, link data_type TEXT, published_date TEXT, source data_type TEXT, relevant data_type INT, table_constraints);",
        "payload": "",
        "payloadType": "date",
        "x": 2360,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "79a8247a.92ebfc",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 1740,
        "wires": [
            [
                "9114e276.66493"
            ]
        ]
    },
    {
        "id": "9e016eb0.ea6a7",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10500",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1940,
        "wires": [
            [
                "692d4a70.c8ca94"
            ]
        ]
    },
    {
        "id": "692d4a70.c8ca94",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "BioMedCentral",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.biomedcentral.com/search?searchType=publisherSearch&sort=PubDate&page=1&query=Multiple+Sclerosis",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 320,
        "y": 1940,
        "wires": [
            [
                "d525b5a.33ae548"
            ]
        ]
    },
    {
        "id": "d525b5a.33ae548",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.c-list-group__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h3",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a[itemprop=\"url\"]",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.c-listing__text",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span[itemprop=\"datePublished\"]",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "2d2a9ede.1ee7a2"
            ]
        ]
    },
    {
        "id": "3b8b16c0.ace03a",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source BioMedCentral",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https:\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "BioMedCentral",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1940,
        "wires": [
            [
                "cfd4a1c6.42a0d"
            ]
        ]
    },
    {
        "id": "7807a09e.45e49",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 940,
        "y": 1940,
        "wires": [
            [
                "3b8b16c0.ace03a"
            ]
        ]
    },
    {
        "id": "2d2a9ede.1ee7a2",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 1940,
        "wires": [
            [
                "7807a09e.45e49"
            ]
        ]
    },
    {
        "id": "cfd4a1c6.42a0d",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1430,
        "y": 1940,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "362204ba.31312c",
        "type": "delay",
        "z": "e677d300.d1d95",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1830,
        "y": 400,
        "wires": [
            [
                "703141cb.40cd2"
            ]
        ]
    },
    {
        "id": "93f5afdb.0c9ae",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "PEDro",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.pedro.org.au/advanced-search/results?abstract_with_title=Multiple+Sclerosis&therapy=0&problem=0&body_part=0&subdiscipline=0&topic=0&method=0&authors_association=&title=&source=&year_of_publication=&date_record_was_created=&nscore=&perpage=20&lop=or&find=&find=Start+Search",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 2080,
        "wires": [
            [
                "7200f004.6c3a6"
            ]
        ]
    },
    {
        "id": "7200f004.6c3a6",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "table.search-results tr",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "td>a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "td>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 580,
        "y": 2080,
        "wires": [
            [
                "61d16b00.e6b704"
            ]
        ]
    },
    {
        "id": "61d16b00.e6b704",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 2080,
        "wires": [
            [
                "76d89aca.9b37d4"
            ]
        ]
    },
    {
        "id": "76d89aca.9b37d4",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 960,
        "y": 2080,
        "wires": [
            [
                "f31ef1c8.3af84"
            ]
        ]
    },
    {
        "id": "f31ef1c8.3af84",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source PEDro",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "PEDro",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2080,
        "wires": [
            [
                "1b5ac33e.1e7afd"
            ]
        ]
    },
    {
        "id": "1b5ac33e.1e7afd",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1450,
        "y": 2080,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "32d10bb5.f7c9b4",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "11400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2080,
        "wires": [
            [
                "93f5afdb.0c9ae"
            ]
        ]
    },
    {
        "id": "bc932279.fd3c1",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "Scielo.org",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.scielo.org/?q=Multiple+Sclerosis&lang=en&count=15&from=0&output=site&sort=&format=summary&fb=&page=1&q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&lang=en&page=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 2280,
        "wires": [
            [
                "76303108.1a242"
            ]
        ]
    },
    {
        "id": "d14937a.fcc22c8",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "9000",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2280,
        "wires": [
            [
                "bc932279.fd3c1"
            ]
        ]
    },
    {
        "id": "ae4a277d.0b34e8",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 770,
        "y": 2280,
        "wires": [
            [
                "2af11514.34f00a"
            ]
        ]
    },
    {
        "id": "2af11514.34f00a",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 940,
        "y": 2280,
        "wires": [
            [
                "597913bc.2b4dec"
            ]
        ]
    },
    {
        "id": "597913bc.2b4dec",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source Scielo",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Scielo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2280,
        "wires": [
            [
                "2f1250ba.05cd3"
            ]
        ]
    },
    {
        "id": "2f1250ba.05cd3",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1430,
        "y": 2280,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "76303108.1a242",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.results div.item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "strong.title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "div.line a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 550,
        "y": 2280,
        "wires": [
            [
                "ae4a277d.0b34e8"
            ]
        ]
    },
    {
        "id": "93bfea98.134188",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "The Lancet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.thelancet.com/action/doSearch?text1=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 2520,
        "wires": [
            [
                "77bb2168.9845"
            ]
        ]
    },
    {
        "id": "8c1e7286.bf01a",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "9600",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2520,
        "wires": [
            [
                "93bfea98.134188"
            ]
        ]
    },
    {
        "id": "d9eff18c.c2dce",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 770,
        "y": 2520,
        "wires": [
            [
                "59a7b122.82c15"
            ]
        ]
    },
    {
        "id": "59a7b122.82c15",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source The Lancet",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.thelancet.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "The Lancet",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 2520,
        "wires": [
            [
                "4fbb692.2486b98"
            ]
        ]
    },
    {
        "id": "9a14f1a6.90d44",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1430,
        "y": 2520,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "77bb2168.9845",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.search__item__body",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h2.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h2.meta__title a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details span:last-child",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 570,
        "y": 2520,
        "wires": [
            [
                "d9eff18c.c2dce"
            ]
        ]
    },
    {
        "id": "4fbb692.2486b98",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1220,
        "y": 2520,
        "wires": [
            [
                "9a14f1a6.90d44"
            ]
        ]
    },
    {
        "id": "7042cf5f.37b8e",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "JNeuroSci",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.jneurosci.org/search/text_abstract_title%3AMultiple%2BSclerosis%20text_abstract_title_flags%3Amatch-phrase%20exclude_meeting_abstracts%3A1%20numresults%3A50%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 2640,
        "wires": [
            [
                "155fede1.ee3852"
            ]
        ]
    },
    {
        "id": "155fede1.ee3852",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.search-result",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 540,
        "y": 2640,
        "wires": [
            [
                "242cc4f8.4e1b2c"
            ]
        ]
    },
    {
        "id": "242cc4f8.4e1b2c",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 770,
        "y": 2640,
        "wires": [
            [
                "a3b9d7eb.2f9c48"
            ]
        ]
    },
    {
        "id": "a3b9d7eb.2f9c48",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source JNeuroSci",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.jneurosci.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "JNeuroSci",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 2640,
        "wires": [
            [
                "2484937c.b752dc"
            ]
        ]
    },
    {
        "id": "2484937c.b752dc",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1220,
        "y": 2640,
        "wires": [
            [
                "b087546f.c41f78"
            ]
        ]
    },
    {
        "id": "b087546f.c41f78",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1430,
        "y": 2640,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "3056c8c4.4f28f8",
        "type": "debug",
        "z": "e677d300.d1d95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "article",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 3140,
        "wires": []
    },
    {
        "id": "bf677c12.98036",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10200",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2640,
        "wires": [
            [
                "7042cf5f.37b8e"
            ]
        ]
    },
    {
        "id": "89166b28.48c838",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/articles/by-date/:year/:month",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "c8f2f7dc.68cde8"
            ]
        ]
    },
    {
        "id": "c8f2f7dc.68cde8",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT  * FROM articles WHERE discovery_date LIKE '%{{req.params.year}}-{{req.params.month}}%' ORDER BY article_id DESC;",
        "output": "str",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "cbb5cc37.dee51",
        "type": "http in",
        "z": "e677d300.d1d95",
        "name": "",
        "url": "/api/articles/id/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "7a94700a.d9908"
            ]
        ]
    },
    {
        "id": "7a94700a.d9908",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT  * FROM articles where article_id = \"{{req.params.id}}\" ORDER BY article_id DESC;",
        "output": "str",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "e80c0064.85234"
            ]
        ]
    },
    {
        "id": "9451a01b.195e1",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "journals.sagepub",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://journals.sagepub.com/action/doSearch?AllField=multiple+sclerosis&SeriesKey=msja&content=articlesChapters&countTerms=true&target=default&sortBy=Ppub&startPage=&ContentItemType=research-article",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 2820,
        "wires": [
            [
                "a61c20a8.862f3"
            ]
        ]
    },
    {
        "id": "8b34e8cd.59fe58",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12000",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2820,
        "wires": [
            [
                "9451a01b.195e1"
            ]
        ]
    },
    {
        "id": "a61c20a8.862f3",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": ".searchResultItem",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h2",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h2>span>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span.publication-meta",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 550,
        "y": 2820,
        "wires": [
            [
                "7a8468df.b46ce8"
            ]
        ]
    },
    {
        "id": "7a8468df.b46ce8",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 750,
        "y": 2820,
        "wires": [
            [
                "9999e129.61d66"
            ]
        ]
    },
    {
        "id": "9999e129.61d66",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source SagePub",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://journals.sagepub.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Sage Pub",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \", First Published \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 2820,
        "wires": [
            [
                "83c75162.7e39f"
            ]
        ]
    },
    {
        "id": "83c75162.7e39f",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 2820,
        "wires": [
            [
                "79cb9ccc.a4f644"
            ]
        ]
    },
    {
        "id": "79cb9ccc.a4f644",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1280,
        "y": 2820,
        "wires": [
            [
                "143867a5.288e58"
            ]
        ]
    },
    {
        "id": "143867a5.288e58",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1450,
        "y": 2820,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "d424b6d4.4fd928",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12000",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2940,
        "wires": [
            [
                "f04c92de.f0caa"
            ]
        ]
    },
    {
        "id": "f04c92de.f0caa",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "MS and Rel. Disorders",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.msard-journal.com/action/doSearch?text1=Multiple+Sclerosis&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 2940,
        "wires": [
            [
                "e4d19ed0.def17"
            ]
        ]
    },
    {
        "id": "e4d19ed0.def17",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.search__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h4.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h4.meta__title>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details > span:nth-child(3)",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 540,
        "y": 2940,
        "wires": [
            [
                "5d91e310.64306c"
            ]
        ]
    },
    {
        "id": "5d91e310.64306c",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 690,
        "y": 2940,
        "wires": [
            [
                "b08406f.7ec44f8"
            ]
        ]
    },
    {
        "id": "b08406f.7ec44f8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source MS & rel. disorders",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.msard-journal.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "MS & Rel. Disorders",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \"Published Online: \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2940,
        "wires": [
            [
                "d49f5d0.0b73aa"
            ]
        ]
    },
    {
        "id": "d49f5d0.0b73aa",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2940,
        "wires": [
            [
                "3ea7f9fd.f836d6"
            ]
        ]
    },
    {
        "id": "3ea7f9fd.f836d6",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1300,
        "y": 2940,
        "wires": [
            [
                "3056c8c4.4f28f8",
                "91a0c554.3d6868"
            ]
        ]
    },
    {
        "id": "91a0c554.3d6868",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1490,
        "y": 2900,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "21c9917c.15264e",
        "type": "chatbot-telegram-node",
        "botname": "Johny Five",
        "usernames": "amaralb,1116128351",
        "providerToken": "",
        "polling": "1000",
        "store": "510c9c14.f3eb74",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "d21d47a8.9ecc18",
        "type": "ui_group",
        "name": "Radar",
        "tab": "3d931a5.e15dee6",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "9ccc1658.e12858",
        "type": "sqlitedb",
        "db": "/data/gregory.db",
        "mode": "RWC"
    },
    {
        "id": "2e3f3837.3647a8",
        "type": "ui_group",
        "name": "Development",
        "tab": "c7217fb3.4a4cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "510c9c14.f3eb74",
        "type": "chatbot-context-store",
        "name": "johnny-context",
        "contextStorage": "memory",
        "contextParams": ""
    },
    {
        "id": "3d931a5.e15dee6",
        "type": "ui_tab",
        "name": "Gregory",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7217fb3.4a4cc",
        "type": "ui_tab",
        "name": "Development",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]