notification flows.json
[{"id":"5e1dd9b.17f6828","type":"tab","label":"Gregory | Email Digest","disabled":false,"info":""},{"id":"24eefeef.41f5f2","type":"inject","z":"5e1dd9b.17f6828","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"172800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["cbeea634.7a4a28"]]},{"id":"cbeea634.7a4a28","type":"sqlite","z":"5e1dd9b.17f6828","mydb":"9ccc1658.e12858","sqlquery":"fixed","sql":"SELECT * FROM articles WHERE sent IS NULL OR sent =  '' AND discovery_date > datetime('now', '-2 day') ","name":"","x":310,"y":200,"wires":[["f5d0e7f1.fa04e8"]]},{"id":"c9318a9a.1076a8","type":"template","z":"5e1dd9b.17f6828","name":"email template","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Digest of articles in the last 2 days</h1>\n<br>\n{{#payload}}\n\n\n\n<h2>{{{title}}}</h2>\n\n<p><strong>Discovery Date</strong>: {{discovery_date}}</p>\n<p>\n<a href=\"{{{link}}}\">{{{link}}}</a>\n</p>\n\n<p><a href=\"https://api.brunoamaral.net/articles/id/{{article_id}}/relevant/1\">Mark Relevant</a></p>\n\n<p><a href=\"https://api.brunoamaral.net/articles/id/{{article_id}}/relevant/0\">Mark Not Relevant</a></p>\n<br>\n---\n<br>\n{{/payload}}","output":"str","x":640,"y":240,"wires":[["dc9360c2.96706"]]},{"id":"39c1cf8e.2b2b2","type":"http request","z":"5e1dd9b.17f6828","name":"http request send mail","method":"POST","ret":"obj","paytoqs":"body","url":"https://api.eu.mailgun.net/v3/mg.brunoamaral.net/messages","tls":"e3876559.c845b8","persist":false,"proxy":"","authType":"basic","x":1040,"y":240,"wires":[["df437037.26c23"]]},{"id":"dc9360c2.96706","type":"change","z":"5e1dd9b.17f6828","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"articles","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"from\":\"Gregory <gregory@mg.brunoamaral.net>\",\"to\":\"labs@mg.brunoamaral.net\",\"subject\":\"Gregory  Admin Summary\",\"multipart\":true}","tot":"json"},{"t":"move","p":"text","pt":"msg","to":"payload.html","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"multipart/form-data\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["39c1cf8e.2b2b2"]]},{"id":"1e1e2277.9487ce","type":"inject","z":"5e1dd9b.17f6828","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 2","once":false,"onceDelay":0.1,"topic":"SELECT * FROM articles WHERE discovery_date > (SELECT DATETIME('now', '-14 day')) AND relevant = 1","payload":"","payloadType":"date","x":130,"y":380,"wires":[["af5e3579.974a18"]]},{"id":"af5e3579.974a18","type":"sqlite","z":"5e1dd9b.17f6828","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":310,"y":380,"wires":[["6713ff8a.0b4be"]]},{"id":"7dc03a40.4ae0f4","type":"template","z":"5e1dd9b.17f6828","name":"","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>Good Morning, %recipient_fname%. </p>\n\n<p>Here are the relevant articles we have found in the last 7 days</p>\n\n{{#payload}}\n\n<h2>{{{title}}}</h2>\n\n<p><strong>Discovery Date</strong>: {{discovery_date}}</p>\n<p>\n<a href=\"{{{link}}}\">{{{link}}}</a>\n</p>\n\n---\n\n{{/payload}}\n\n<p>For the full list, please visit <a href=\"https://labs.brunoamaral.eu\">https://labs.brunoamaral.eu/tudo</a></p>\n\n<p>For adding people to this email list or further information, please contact Bruno Amaral:</p>\n\n<p><strong>Mobile</strong>: +351 912 875 856</p>\n\n<p><strong>Email</strong>: mail@brunoamaral.eu</p>\n\n<p>If you wish to unsubscribe, follow the link below.</p>\n\n<p>Best wishes, Gregory. Your friendly research bot.</p>\n","output":"str","x":540,"y":420,"wires":[["c28b0d4c.d9317"]]},{"id":"c28b0d4c.d9317","type":"change","z":"5e1dd9b.17f6828","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"from\":\"Gregory <gregory@mg.brunoamaral.net>\",\"to\":\"subscribers@mg.brunoamaral.net\",\"subject\":\"Gregory  Weekly Summary\",\"multipart\":true}","tot":"json"},{"t":"move","p":"text","pt":"msg","to":"payload.html","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"multipart/form-data\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["f43e93eb.3d3ed"]]},{"id":"6713ff8a.0b4be","type":"switch","z":"5e1dd9b.17f6828","name":"check if empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":440,"wires":[["7dc03a40.4ae0f4"],["3fee40db.65fd"]]},{"id":"520fcf7b.71cf6","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"","message":[{"message":"I have just sent Gregory's weekly digest.\n"}],"language":"","x":1370,"y":400,"wires":[["e97afcea.a2e1c"]]},{"id":"e97afcea.a2e1c","type":"chatbot-telegram-send","z":"5e1dd9b.17f6828","bot":"21c9917c.15264e","botProduction":"21c9917c.15264e","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1650,"y":480,"wires":[]},{"id":"39a3ef86.53cc7","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":1230,"y":400,"wires":[["520fcf7b.71cf6"]]},{"id":"f43e93eb.3d3ed","type":"http request","z":"5e1dd9b.17f6828","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"https://api.eu.mailgun.net/v3/mg.brunoamaral.net/messages","tls":"e3876559.c845b8","persist":false,"proxy":"","authType":"basic","x":870,"y":420,"wires":[["c78bf429.8f4868"]]},{"id":"c78bf429.8f4868","type":"switch","z":"5e1dd9b.17f6828","name":"statusCode=200?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":420,"wires":[["39a3ef86.53cc7"],["f86c83a7.6d80f"]]},{"id":"3fee40db.65fd","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":550,"y":500,"wires":[["efbb7aab.5fa5c8"]]},{"id":"efbb7aab.5fa5c8","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"","message":[{"message":"There were no relevant articles for this week's digest. You may want to check the listings and send it manually."}],"language":"","x":1370,"y":500,"wires":[["e97afcea.a2e1c"]]},{"id":"ade7d409.a083b8","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"","message":[{"message":"Something went wrong sending Gregory's weekly digest.\nStatus code was {{statusCode}}."}],"language":"","x":1370,"y":440,"wires":[["e97afcea.a2e1c"]]},{"id":"f86c83a7.6d80f","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":1230,"y":440,"wires":[["ade7d409.a083b8"]]},{"id":"94c83b7a.5969c8","type":"comment","z":"5e1dd9b.17f6828","name":"Admin summary of the last 2 days","info":"","x":180,"y":80,"wires":[]},{"id":"2dfe87b6.0ffd78","type":"comment","z":"5e1dd9b.17f6828","name":"Weekly summary of relevant articles to the mailing list (Tuesday 8:00)","info":"","x":280,"y":340,"wires":[]},{"id":"df437037.26c23","type":"template","z":"5e1dd9b.17f6828","name":"SQLite template","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE articles\nSET sent = \"1\"\nWHERE article_id IN (\n\n{{#articles}}\n{{article_id}},\n{{/articles}}\n1\n\n);","output":"str","x":1240,"y":240,"wires":[["f27cf3cd.1c0d9"]]},{"id":"f27cf3cd.1c0d9","type":"sqlite","z":"5e1dd9b.17f6828","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":1430,"y":240,"wires":[[]]},{"id":"f5d0e7f1.fa04e8","type":"switch","z":"5e1dd9b.17f6828","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":200,"wires":[["218f73c4.f46a4c"],["c9318a9a.1076a8","6cd84b92.960f14"]]},{"id":"6cd84b92.960f14","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":630,"y":200,"wires":[["df051bd0.6a5a78"]]},{"id":"df051bd0.6a5a78","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"New items","message":[{"message":"Found new articles in the last 48h, please check your email for the Admin Digest."}],"language":"","x":830,"y":200,"wires":[["9cd4105e.755f7"]]},{"id":"9cd4105e.755f7","type":"chatbot-telegram-send","z":"5e1dd9b.17f6828","bot":"21c9917c.15264e","botProduction":"21c9917c.15264e","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1050,"y":180,"wires":[]},{"id":"218f73c4.f46a4c","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":630,"y":160,"wires":[["c93c21d3.68c35"]]},{"id":"c93c21d3.68c35","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"No new items","message":[{"message":"No need to send Gregory's admin digest, there were no new articles found in the last 2 days.\n"}],"language":"","x":820,"y":160,"wires":[["9cd4105e.755f7"]]},{"id":"ece221eb.d78b2","type":"sqlite","z":"5e1dd9b.17f6828","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":330,"y":760,"wires":[["d5e7bae034ef7c40"]]},{"id":"4e2e4f66.a1374","type":"inject","z":"5e1dd9b.17f6828","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM trials WHERE sent IS NULL OR sent = \"\" LIMIT 1","payloadType":"date","x":110,"y":760,"wires":[["ece221eb.d78b2"]]},{"id":"26950a2f.05e496","type":"chatbot-command","z":"5e1dd9b.17f6828","name":"","command":"/gregory","x":280,"y":260,"wires":[["cbeea634.7a4a28"]]},{"id":"27c0e201.78496e","type":"chatbot-telegram-receive","z":"5e1dd9b.17f6828","bot":"21c9917c.15264e","botProduction":"21c9917c.15264e","x":98,"y":258,"wires":[["26950a2f.05e496"]]},{"id":"95e1dae49aba87b8","type":"chatbot-conversation","z":"5e1dd9b.17f6828","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"510c9c14.f3eb74","x":690,"y":760,"wires":[["c0f69eec982cfe11"]]},{"id":"c0f69eec982cfe11","type":"chatbot-message","z":"5e1dd9b.17f6828","name":"New trials","message":[{"message":"Found new trials \n\n{{payload.title}}\n\n{{{payload.link}}}"}],"language":"","x":860,"y":760,"wires":[["daa84d0d9df06660"]]},{"id":"daa84d0d9df06660","type":"chatbot-telegram-send","z":"5e1dd9b.17f6828","bot":"21c9917c.15264e","botProduction":"21c9917c.15264e","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1050,"y":760,"wires":[]},{"id":"d5e7bae034ef7c40","type":"split","z":"5e1dd9b.17f6828","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":510,"y":760,"wires":[["95e1dae49aba87b8","6ecb04d73cbbd302"]]},{"id":"6ecb04d73cbbd302","type":"template","z":"5e1dd9b.17f6828","name":"SQLite template","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE trials\nSET sent = \"1\"\nWHERE trial_id = \"{{payload.trial_id}}\";","output":"str","x":320,"y":840,"wires":[["ece221eb.d78b2"]]},{"id":"b74ab8e3cb0874f6","type":"comment","z":"5e1dd9b.17f6828","name":"Notify admin of new clinical trials","info":"","x":170,"y":700,"wires":[]},{"id":"9ccc1658.e12858","type":"sqlitedb","db":"/data/gregory.db","mode":"RWC"},{"id":"e3876559.c845b8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"node-cert.pem","keyname":"node-key.pem","caname":"","servername":"","verifyservercert":true},{"id":"21c9917c.15264e","type":"chatbot-telegram-node","botname":"Johny Five","usernames":"amaralb,1116128351","providerToken":"","polling":"1000","store":"510c9c14.f3eb74","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"510c9c14.f3eb74","type":"chatbot-context-store","name":"johnny-context","contextStorage":"memory","contextParams":""}]