research_flows.json
[{"id":"acf883d8.84eea","type":"subflow","name":"Insert SQL subflow","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"4c001d43.2cc414"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"4c001d43.2cc414","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4c001d43.2cc414","type":"template","z":"acf883d8.84eea","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{{article.url}}}\",\"{{article.pubdate\"}}\",\"{{article.source}}\",NULL)","output":"str","x":200,"y":80,"wires":[[]]},{"id":"e677d300.d1d95","type":"tab","label":"Gregory | Research","disabled":false,"info":""},{"id":"6b24f780.dc8238","type":"feedparse","z":"e677d300.d1d95","name":"Clinical Trials.gov","url":"https://clinicaltrials.gov/ct2/results/rss.xml?rcv_d=14&lup_d=&sel_rss=new14&cond=Multiple+Sclerosis&count=10000","interval":"190","x":280,"y":160,"wires":[["ffb7b92d.9a01e8"]]},{"id":"f1274334.01ae3","type":"chatbot-conversation","z":"e677d300.d1d95","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"","x":1230,"y":200,"wires":[["bd76365b.a61c38"]]},{"id":"bd76365b.a61c38","type":"chatbot-message","z":"e677d300.d1d95","name":"","message":[{"message":"New Clinical Trial Published\n\n{{payload.title}}\n\n{{topic}}"}],"language":"","x":1370,"y":200,"wires":[["b18aadfc.06727"]]},{"id":"b18aadfc.06727","type":"chatbot-telegram-send","z":"e677d300.d1d95","bot":"21c9917c.15264e","botProduction":"21c9917c.15264e","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1590,"y":300,"wires":[]},{"id":"fece258b.590898","type":"change","z":"e677d300.d1d95","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"article","tot":"msg"},{"t":"change","p":"payload.summary","pt":"msg","from":"<b>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.summary","pt":"msg","from":"</b>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.summary","pt":"msg","from":"<br/>","fromt":"str","to":"\" \"","tot":"json"},{"t":"set","p":"payload.chatId","pt":"msg","to":"48263287","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"text","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["f1274334.01ae3"]]},{"id":"937a615c.38fb1","type":"feedparse","z":"e677d300.d1d95","name":"PubMed : MS ","url":"https://pubmed.ncbi.nlm.nih.gov/rss/search/10guX6I3SqrbUeeLKSTD6FCRM44ewnrN2MKKTQLLPMHB4xNsZU/?limit=15&utm_campaign=pubmed-2&fc=20210216052009","interval":"90","x":270,"y":520,"wires":[["56a4dc66.256874"]]},{"id":"a4d2d38e.94de7","type":"change","z":"e677d300.d1d95","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"article","tot":"msg"},{"t":"change","p":"payload.summary","pt":"msg","from":"<b>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.summary","pt":"msg","from":"</b>","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.summary","pt":"msg","from":"<br/>","fromt":"str","to":"\" \"","tot":"json"},{"t":"set","p":"payload.chatId","pt":"msg","to":"48263287","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"text","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["9c3ffda2.19af"]]},{"id":"9c3ffda2.19af","type":"chatbot-conversation","z":"e677d300.d1d95","name":"","botDevelopment":"21c9917c.15264e","botProduction":"21c9917c.15264e","chatId":"48263287","userId":"","transport":"telegram","store":"","x":1230,"y":480,"wires":[["8c72fd69.b32b2"]]},{"id":"8c72fd69.b32b2","type":"chatbot-message","z":"e677d300.d1d95","name":"","message":[{"message":"New Result on PubMed\n\n{{payload.title}}\n\n{{topic}}"}],"language":"","x":1370,"y":480,"wires":[["b18aadfc.06727"]]},{"id":"e7f81480.58b468","type":"inject","z":"e677d300.d1d95","name":"1 create articles","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE articles( article_id INTEGER NOT NULL PRIMARY KEY, discovery_date data_type TEXT, title data_type TEXT UNIQUE, summary data_type TEXT, link data_type TEXT, published_date TEXT, source data_type TEXT, relevant data_type INT, table_constraints );  ","x":3620,"y":2140,"wires":[[]],"info":"CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"},{"id":"b87e3b26.67f118","type":"inject","z":"e677d300.d1d95","name":"Insert category values","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO categories (category_name) VALUES(\"Tratamento\"),(\"Sintomas e Mobilidade\"),(\"Regeneração do SNC\"); SELECT * FROM categories;","x":3600,"y":2260,"wires":[[]]},{"id":"f6a85ea5.2bd9b","type":"inject","z":"e677d300.d1d95","name":"drop table articles","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS articles;","x":3610,"y":2100,"wires":[[]]},{"id":"6cdc5f5.3ff67a","type":"inject","z":"e677d300.d1d95","name":"sanity check","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT      name FROM      sqlite_master  WHERE      type ='table' AND      name NOT LIKE 'sqlite_%';","payload":"","payloadType":"date","x":3630,"y":2300,"wires":[[]]},{"id":"bb71d047.ff6f9","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"article.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":1040,"y":540,"wires":[["12c5e787.dadea8"]]},{"id":"7763df39.5e76d","type":"ui_list","z":"e677d300.d1d95","group":"d21d47a8.9ecc18","name":"","order":2,"width":0,"height":0,"lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":3550,"y":1520,"wires":[]},{"id":"c45f9e4e.604e3","type":"inject","z":"e677d300.d1d95","name":"2 create categories","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE categories( category_id INTEGER NOT NULL PRIMARY KEY, category_name TEXT );","x":3610,"y":2180,"wires":[[]],"info":"CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"},{"id":"e54f69d7.9f9328","type":"inject","z":"e677d300.d1d95","name":"3 create rel_articles_categories","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE rel_articles_categories( article_id INTEGER, category_id INTEGER, FOREIGN KEY (article_id) REFERENCES articles(article_id), FOREIGN KEY (category_id) REFERENCES categories(category_id) );","x":3570,"y":2220,"wires":[[]],"info":"CREATE TABLE IF NOT EXISTS articles (\n\tdiscovery_date data_type TEXT,\n   \ttitle data_type TEXT,\n\tsummary data_type TEXT,\n\tlink data_type TEXT,\n\tpublished_date TEXT,\n\tcategory data_type TEXT,\n\tsource data_type TEXT,\n\trelevant data_type INT,\n\ttable_constraints\n) ;"},{"id":"703141cb.40cd2","type":"sqlite","z":"e677d300.d1d95","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":3270,"y":1540,"wires":[["7763df39.5e76d","c6c74bb2.398ab8"]]},{"id":"c2dff99f.6253e8","type":"ui_form","z":"e677d300.d1d95","name":"Manual Input Form","label":"","group":"d21d47a8.9ecc18","order":1,"width":0,"height":0,"options":[{"label":"Title","value":"title","type":"text","required":true,"rows":null},{"label":"Link","value":"link","type":"text","required":true,"rows":null},{"label":"Discovery Date","value":"discovery_date","type":"date","required":false,"rows":null},{"label":"Summary","value":"summary","type":"multiline","required":false,"rows":3},{"label":"Published Date","value":"published_date","type":"date","required":false,"rows":null},{"label":"Source","value":"source","type":"text","required":false,"rows":null},{"label":"Relevant? (y/n)","value":"relevant","type":"checkbox","required":false,"rows":null}],"formValue":{"title":"","link":"","discovery_date":"","summary":"","published_date":"","source":"","relevant":false},"payload":"","submit":"save","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"x":290,"y":2640,"wires":[["5223398.ab62ec8"]]},{"id":"5223398.ab62ec8","type":"change","z":"e677d300.d1d95","name":"format 'is relevant' field (not working)","rules":[{"t":"change","p":"payload.relevant","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"},{"t":"change","p":"payload.relevant","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2640,"wires":[["4da35fee.9ae0a"]]},{"id":"4da35fee.9ae0a","type":"template","z":"e677d300.d1d95","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (\"{{payload.discovery_date}}\",\n\"{{payload.title}}\",\n\"{{payload.summary}}\",\n\"{{payload.link}}\",\n\"{{payload.published_date}}\",\n\"{{payload.source}}\",\"{{payload.relevant}}\");","output":"str","x":800,"y":2640,"wires":[["2a6fbc39.af1ee4"]]},{"id":"75731cda.feee34","type":"feedparse","z":"e677d300.d1d95","name":"Reuters","url":"https://www.reutersagency.com/feed/?best-topics=health","interval":"10","x":250,"y":680,"wires":[["d3e84102.20011"]]},{"id":"d3e84102.20011","type":"switch","z":"e677d300.d1d95","name":"filter if title contains MS","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":".*(multiple sclerosis ).*","vt":"str","case":true},{"t":"regex","v":".*( MS ).*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":680,"wires":[["acb25bab.c29098"],["acb25bab.c29098"]]},{"id":"acb25bab.c29098","type":"change","z":"e677d300.d1d95","name":"set source reuters","rules":[{"t":"set","p":"article.source","pt":"msg","to":"reuters","tot":"str"},{"t":"set","p":"article.url","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["bb71d047.ff6f9"]]},{"id":"56a4dc66.256874","type":"change","z":"e677d300.d1d95","name":"set source pubmed","rules":[{"t":"set","p":"article.source","pt":"msg","to":"pubmed","tot":"str"},{"t":"set","p":"article.url","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":540,"wires":[["bb71d047.ff6f9"]]},{"id":"c6c74bb2.398ab8","type":"ui_template","z":"e677d300.d1d95","group":"2e3f3837.3647a8","name":"table template","order":14,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Title</th>\n    <th>Link</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td ng-bind-html=\"msg.payload[$index].title\"></td>\n    <td ng-bind-html=\"msg.payload[$index].link\"></td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3580,"y":1560,"wires":[[]]},{"id":"dd8e58f7.7eb6e8","type":"link in","z":"e677d300.d1d95","name":"","links":["7b3f48c4.9c0f88","e8bd17ee.3328d8","2a6fbc39.af1ee4","29b465d7.a3aa5a","e80c0064.85234","17411654.54199a","958a1d17.8c224","6c3c1a63.858e04","2042485f.ad9e18","d364aba7.a79228","f2c28c9f.29a42","30afd73c.dc5ba8","27c1f984.9aa296"],"x":2975,"y":1540,"wires":[["362204ba.31312c"]]},{"id":"e8bd17ee.3328d8","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":1335,"y":540,"wires":[]},{"id":"2a6fbc39.af1ee4","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":915,"y":2640,"wires":[]},{"id":"ffb7b92d.9a01e8","type":"change","z":"e677d300.d1d95","name":"set source ClinicalTrials","rules":[{"t":"set","p":"article.source","pt":"msg","to":"ClinicalTrials.gov","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["bc0c284f.e4f5d8"]]},{"id":"974801fc.d87d5","type":"template","z":"e677d300.d1d95","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{{topic}}}\",\"{{payload}}\",\"{{article.source}}\",NULL)","output":"str","x":1140,"y":160,"wires":[["6c3c1a63.858e04"]]},{"id":"bc0c284f.e4f5d8","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"article.date","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":860,"y":160,"wires":[["974801fc.d87d5"]]},{"id":"6c3c1a63.858e04","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":1295,"y":160,"wires":[]},{"id":"447e9609.e2ac08","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10800","crontab":"","once":true,"onceDelay":"30","topic":"","payloadType":"date","x":270,"y":1000,"wires":[["7d34d84b.209178"]]},{"id":"7d34d84b.209178","type":"http request","z":"e677d300.d1d95","name":"APTA","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.apta.org/search?Q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&searcharticletypes=8834&searchconditionandsymptoms=&searchloc=APTA","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1000,"wires":[["c61aca1a.a75f28"]]},{"id":"c61aca1a.a75f28","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"div.mg-n40px div.mb-40px","ret":"object","as":"single","map":[{"search":"a","ret":"text","replace":"title","attr":""},{"search":"a","ret":"attribute","replace":"link","attr":"href"},{"search":"p + p","ret":"text","replace":"description","attr":""},{"search":"p.text-uppercase.text-muted.ff-apta-sans.fw-600.fs-14px","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":700,"y":1000,"wires":[["79a8247a.92ebfc"]]},{"id":"12c5e787.dadea8","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1230,"y":540,"wires":[["e8bd17ee.3328d8"]]},{"id":"4a6f88df.668e58","type":"change","z":"e677d300.d1d95","name":"set source APTA","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https://www.apta.org\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"APTA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1000,"wires":[["5607a559.4d69ec"]]},{"id":"9114e276.66493","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1060,"y":1000,"wires":[["4a6f88df.668e58"]]},{"id":"5607a559.4d69ec","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1530,"y":1000,"wires":[["2042485f.ad9e18"]]},{"id":"2042485f.ad9e18","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":1835,"y":1380,"wires":[]},{"id":"eeb3511f.107c9","type":"inject","z":"e677d300.d1d95","name":"refresh list","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT  * FROM articles ORDER BY article_id DESC;","payloadType":"date","x":2770,"y":1540,"wires":[["d364aba7.a79228"]]},{"id":"d364aba7.a79228","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":2895,"y":1540,"wires":[]},{"id":"2fefc425.4050bc","type":"inject","z":"e677d300.d1d95","name":"create trials table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE trials( trial_id INTEGER NOT NULL PRIMARY KEY, discovery_date data_type TEXT,  title TEXT type UNIQUE, summary data_type TEXT, link data_type TEXT, published_date TEXT, source data_type TEXT, relevant data_type INT, table_constraints);","payload":"","payloadType":"date","x":3620,"y":2380,"wires":[[]]},{"id":"79a8247a.92ebfc","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":910,"y":1000,"wires":[["9114e276.66493"]]},{"id":"9e016eb0.ea6a7","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"11400","crontab":"","once":true,"onceDelay":"30","topic":"","payloadType":"date","x":270,"y":1200,"wires":[["692d4a70.c8ca94"]]},{"id":"692d4a70.c8ca94","type":"http request","z":"e677d300.d1d95","name":"BioMedCentral","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.biomedcentral.com/search?searchType=publisherSearch&sort=PubDate&page=1&query=Multiple+Sclerosis","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":1200,"wires":[["d525b5a.33ae548"]]},{"id":"d525b5a.33ae548","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"li.c-list-group__item","ret":"object","as":"single","map":[{"search":"h3","ret":"text","replace":"title","attr":""},{"search":"a[itemprop=\"url\"]","ret":"attribute","replace":"link","attr":"href"},{"search":"p.c-listing__text","ret":"text","replace":"description","attr":""},{"search":"span[itemprop=\"datePublished\"]","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":680,"y":1200,"wires":[["2d2a9ede.1ee7a2"]]},{"id":"3b8b16c0.ace03a","type":"change","z":"e677d300.d1d95","name":"set source BioMedCentral","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https:\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"BioMedCentral","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"$trim(article.description)","tot":"jsonata"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1200,"wires":[["cfd4a1c6.42a0d"]]},{"id":"7807a09e.45e49","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1060,"y":1200,"wires":[["3b8b16c0.ace03a"]]},{"id":"2d2a9ede.1ee7a2","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":910,"y":1200,"wires":[["7807a09e.45e49"]]},{"id":"cfd4a1c6.42a0d","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1550,"y":1200,"wires":[["2042485f.ad9e18"]]},{"id":"362204ba.31312c","type":"delay","z":"e677d300.d1d95","name":"","pauseType":"random","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"300","randomUnits":"milliseconds","drop":false,"x":3080,"y":1540,"wires":[["703141cb.40cd2"]]},{"id":"93f5afdb.0c9ae","type":"http request","z":"e677d300.d1d95","name":"PEDro","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://search.pedro.org.au/advanced-search/results?abstract_with_title=Multiple+Sclerosis&therapy=0&problem=0&body_part=0&subdiscipline=0&topic=0&method=0&authors_association=&title=&source=&year_of_publication=&date_record_was_created=&nscore=&perpage=20&lop=or&find=&find=Start+Search","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1340,"wires":[["7200f004.6c3a6"]]},{"id":"7200f004.6c3a6","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"table.search-results tr","ret":"object","as":"single","map":[{"search":"td>a","ret":"text","replace":"title","attr":""},{"search":"td>a","ret":"attribute","replace":"link","attr":"href"},{"search":"p.NoSummary","ret":"text","replace":"description","attr":""},{"search":"p.NoDate","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":700,"y":1340,"wires":[["61d16b00.e6b704"]]},{"id":"61d16b00.e6b704","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":910,"y":1340,"wires":[["76d89aca.9b37d4"]]},{"id":"76d89aca.9b37d4","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1080,"y":1340,"wires":[["f31ef1c8.3af84"]]},{"id":"f31ef1c8.3af84","type":"change","z":"e677d300.d1d95","name":"set source PEDro","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"PEDro","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"$trim(article.description)","tot":"jsonata"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1340,"wires":[["1b5ac33e.1e7afd"]]},{"id":"1b5ac33e.1e7afd","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1570,"y":1340,"wires":[["2042485f.ad9e18"]]},{"id":"32d10bb5.f7c9b4","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"13200","crontab":"","once":true,"onceDelay":"300","topic":"","payloadType":"date","x":270,"y":1340,"wires":[["93f5afdb.0c9ae"]]},{"id":"bc932279.fd3c1","type":"http request","z":"e677d300.d1d95","name":"Scielo.org","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://search.scielo.org/?q=Multiple+Sclerosis&lang=en&count=15&from=0&output=site&sort=&format=summary&fb=&page=1&q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&lang=en&page=1","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":1540,"wires":[["76303108.1a242"]]},{"id":"d14937a.fcc22c8","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"30","topic":"","payloadType":"date","x":270,"y":1540,"wires":[["bc932279.fd3c1"]]},{"id":"ae4a277d.0b34e8","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":890,"y":1540,"wires":[["2af11514.34f00a"]]},{"id":"2af11514.34f00a","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1060,"y":1540,"wires":[["597913bc.2b4dec"]]},{"id":"597913bc.2b4dec","type":"change","z":"e677d300.d1d95","name":"set source Scielo","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"Scielo","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"$trim(article.description)","tot":"jsonata"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1540,"wires":[["2f1250ba.05cd3"]]},{"id":"2f1250ba.05cd3","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1550,"y":1540,"wires":[["2042485f.ad9e18"]]},{"id":"76303108.1a242","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"div.results div.item","ret":"object","as":"single","map":[{"search":"strong.title","ret":"text","replace":"title","attr":""},{"search":"div.line a","ret":"attribute","replace":"link","attr":"href"},{"search":"p.NoSummary","ret":"text","replace":"description","attr":""},{"search":"p.NoDate","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":670,"y":1540,"wires":[["ae4a277d.0b34e8"]]},{"id":"93bfea98.134188","type":"http request","z":"e677d300.d1d95","name":"The Lancet","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.thelancet.com/action/doSearch?text1=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1780,"wires":[["77bb2168.9845"]]},{"id":"8c1e7286.bf01a","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"30","topic":"","payloadType":"date","x":270,"y":1780,"wires":[["93bfea98.134188"]]},{"id":"d9eff18c.c2dce","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":890,"y":1780,"wires":[["59a7b122.82c15"]]},{"id":"59a7b122.82c15","type":"change","z":"e677d300.d1d95","name":"set source The Lancet","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https://www.thelancet.com\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"The Lancet","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"$trim(article.description)","tot":"jsonata"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"},{"t":"set","p":"article.pubdate","pt":"msg","to":"$trim($replace(article.pubdate, \"Published: \", \" \"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1780,"wires":[["4fbb692.2486b98"]]},{"id":"9a14f1a6.90d44","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1550,"y":1780,"wires":[["2042485f.ad9e18"]]},{"id":"77bb2168.9845","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"div.search__item__body","ret":"object","as":"single","map":[{"search":"h4.meta__title","ret":"text","replace":"title","attr":""},{"search":"h4.meta__title a","ret":"attribute","replace":"link","attr":"href"},{"search":"p.NoSummary","ret":"text","replace":"description","attr":""},{"search":"p.meta__details > span:nth-child(5)","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":690,"y":1780,"wires":[["d9eff18c.c2dce"]]},{"id":"4fbb692.2486b98","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1340,"y":1780,"wires":[["9a14f1a6.90d44"]]},{"id":"7042cf5f.37b8e","type":"http request","z":"e677d300.d1d95","name":"JNeuroSci","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.jneurosci.org/search/text_abstract_title%3AMultiple%2BSclerosis%20text_abstract_title_flags%3Amatch-phrase%20exclude_meeting_abstracts%3A1%20numresults%3A50%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1900,"wires":[["155fede1.ee3852"]]},{"id":"155fede1.ee3852","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"li.search-result","ret":"object","as":"single","map":[{"search":"a","ret":"text","replace":"title","attr":""},{"search":"a","ret":"attribute","replace":"link","attr":"href"},{"search":"p.NoSummary","ret":"text","replace":"description","attr":""},{"search":"p.NoDate","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":660,"y":1900,"wires":[["242cc4f8.4e1b2c"]]},{"id":"242cc4f8.4e1b2c","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":890,"y":1900,"wires":[["a3b9d7eb.2f9c48"]]},{"id":"a3b9d7eb.2f9c48","type":"change","z":"e677d300.d1d95","name":"set source JNeuroSci","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https://www.jneurosci.org\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"JNeuroSci","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"$trim(article.description)","tot":"jsonata"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"},{"t":"set","p":"article.pubdate","pt":"msg","to":"$trim($replace(article.pubdate, \"Published: \", \" \"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1900,"wires":[["2484937c.b752dc"]]},{"id":"2484937c.b752dc","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1340,"y":1900,"wires":[["b087546f.c41f78"]]},{"id":"b087546f.c41f78","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1550,"y":1900,"wires":[["2042485f.ad9e18"]]},{"id":"bf677c12.98036","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"13800","crontab":"","once":true,"onceDelay":"90","topic":"","payloadType":"date","x":270,"y":1900,"wires":[["7042cf5f.37b8e"]]},{"id":"9451a01b.195e1","type":"http request","z":"e677d300.d1d95","name":"journals.sagepub","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://journals.sagepub.com/action/doSearch?AllField=multiple+sclerosis&SeriesKey=msja&content=articlesChapters&countTerms=true&target=default&sortBy=Ppub&startPage=&ContentItemType=research-article","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":2080,"wires":[["a61c20a8.862f3"]]},{"id":"8b34e8cd.59fe58","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"12000","crontab":"","once":true,"onceDelay":"99","topic":"","payloadType":"date","x":250,"y":2080,"wires":[["9451a01b.195e1"]]},{"id":"a61c20a8.862f3","type":"cheerio","z":"e677d300.d1d95","name":"","tag":".searchResultItem","ret":"object","as":"single","map":[{"search":"h2","ret":"text","replace":"title","attr":""},{"search":"h2>span>a","ret":"attribute","replace":"link","attr":"href"},{"search":"div.hlFld-Abstract.preview-abstract","ret":"text","replace":"description","attr":""},{"search":"span.publication-meta","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":670,"y":2080,"wires":[["7a8468df.b46ce8"]]},{"id":"7a8468df.b46ce8","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":870,"y":2080,"wires":[["9999e129.61d66"]]},{"id":"9999e129.61d66","type":"change","z":"e677d300.d1d95","name":"set source SagePub","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https://journals.sagepub.com\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"Sage Pub","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"not available","tot":"str"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"},{"t":"set","p":"payload.pubdate","pt":"msg","to":"$split($trim($replace(article.pubdate, \", First Published \", \" \")),\".\",1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2080,"wires":[["83c75162.7e39f"]]},{"id":"83c75162.7e39f","type":"change","z":"e677d300.d1d95","name":"fix pubdate","rules":[{"t":"set","p":"payload.pubdate","pt":"msg","to":"$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2080,"wires":[["79cb9ccc.a4f644"]]},{"id":"79cb9ccc.a4f644","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1400,"y":2080,"wires":[["143867a5.288e58"]]},{"id":"143867a5.288e58","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1570,"y":2080,"wires":[["2042485f.ad9e18"]]},{"id":"d424b6d4.4fd928","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"13800","crontab":"","once":true,"onceDelay":"200","topic":"","payloadType":"date","x":270,"y":2200,"wires":[["f04c92de.f0caa"]]},{"id":"f04c92de.f0caa","type":"http request","z":"e677d300.d1d95","name":"MS and Rel. Disorders","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.msard-journal.com/action/doSearch?text1=Multiple+Sclerosis&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":2200,"wires":[["e4d19ed0.def17"]]},{"id":"e4d19ed0.def17","type":"cheerio","z":"e677d300.d1d95","name":"","tag":"li.search__item","ret":"object","as":"single","map":[{"search":"h4.meta__title","ret":"text","replace":"title","attr":""},{"search":"h4.meta__title>a","ret":"attribute","replace":"link","attr":"href"},{"search":"div.hlFld-Abstract.preview-abstract","ret":"text","replace":"description","attr":""},{"search":"p.meta__details > span:nth-child(3)","ret":"text","replace":"pubdate","attr":""}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":660,"y":2200,"wires":[["5d91e310.64306c"]]},{"id":"5d91e310.64306c","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":810,"y":2200,"wires":[["b08406f.7ec44f8"]]},{"id":"b08406f.7ec44f8","type":"change","z":"e677d300.d1d95","name":"set source MS & rel. disorders","rules":[{"t":"set","p":"article","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"article.url","pt":"msg","to":"\"https://www.msard-journal.com\" & payload.link","tot":"jsonata"},{"t":"set","p":"article.source","pt":"msg","to":"MS & Rel. Disorders","tot":"str"},{"t":"set","p":"article.description","pt":"msg","to":"not available","tot":"str"},{"t":"set","p":"article.title","pt":"msg","to":"$trim(article.title)","tot":"jsonata"},{"t":"set","p":"payload.pubdate","pt":"msg","to":"$split($trim($replace(article.pubdate, \"Published Online: \", \" \")),\".\",1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":2200,"wires":[["d49f5d0.0b73aa"]]},{"id":"d49f5d0.0b73aa","type":"change","z":"e677d300.d1d95","name":"fix pubdate","rules":[{"t":"set","p":"payload.pubdate","pt":"msg","to":"$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2200,"wires":[["3ea7f9fd.f836d6"]]},{"id":"3ea7f9fd.f836d6","type":"moment","z":"e677d300.d1d95","name":"format pubdate","topic":"","input":"payload.pubdate","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"article.pubdate","outputType":"msg","outTz":"Europe/Lisbon","x":1420,"y":2200,"wires":[["91a0c554.3d6868"]]},{"id":"91a0c554.3d6868","type":"subflow:acf883d8.84eea","z":"e677d300.d1d95","name":"Insert SQL","env":[],"x":1590,"y":2200,"wires":[["2042485f.ad9e18"]]},{"id":"eb35aaad.a31718","type":"http request","z":"e677d300.d1d95","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://www.rnec.pt/pt_PT/pesquisa-de-estudos-clinicos?p_p_id=RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet&p_p_lifecycle=2&p_p_state=normal&p_p_mode=view&p_p_cacheability=cacheLevelPage&p_p_col_id=column-1&p_p_col_count=1&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet__jsfBridgeAjax=true&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet__facesViewIdResource=%2Fviews%2Fview.xhtml","tls":"e3876559.c845b8","persist":true,"proxy":"","authType":"","x":630,"y":300,"wires":[["4897384a.4b2518"]]},{"id":"35e8187a.234a08","type":"function","z":"e677d300.d1d95","name":"","func":"msg.headers = {}\n\n  msg.headers['Connection'] = 'keep-alive'\n\n  msg.headers['Pragma'] = 'no-cache' \n\n  msg.headers['Cache-Control'] = 'no-cache' \n\n  msg.headers['Accept'] = 'application/xml, text/xml, */*; q=0.01' \n\n  msg.headers['DNT'] = '1' \n\n  msg.headers['X-Requested-With'] = 'XMLHttpRequest' \n\n  msg.headers['Faces-Request'] = 'partial/ajax' \n\n  msg.headers['User-Agent'] = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36' \n\n  msg.headers['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8' \n\n  msg.headers['Sec-GPC'] = '1' \n\n  msg.headers['Origin'] = 'https://www.rnec.pt' \n\n  msg.headers['Sec-Fetch-Site'] = 'same-origin' \n\n  msg.headers['Sec-Fetch-Mode'] = 'cors' \n\n  msg.headers['Sec-Fetch-Dest'] = 'empty' \n\n  msg.headers['Referer'] = 'https://www.rnec.pt/pt_PT/pesquisa-de-estudos-clinicos' \n\n  msg.headers['Accept-Language'] = 'en-GB,en-US;q=0.9,en;q=0.8' \n\n  msg.headers['Cookie'] = 'GUEST_LANGUAGE_ID=pt_PT; COOKIE_SUPPORT=true; JSESSIONID=2904FFA0655A18A83E7335B1D620EE9C; LFR_SESSION_STATE_20158=1627411328837' \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["eb35aaad.a31718","7d6d22e4.8928cc"]]},{"id":"ea750bae.0383b8","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":270,"y":300,"wires":[["35e8187a.234a08"]]},{"id":"4897384a.4b2518","type":"debug","z":"e677d300.d1d95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"7d6d22e4.8928cc","type":"template","z":"e677d300.d1d95","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"javax.faces.partial.ajax=true&javax.faces.source=_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt73&javax.faces.partial.execute=_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm&javax.faces.partial.render=_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3AresultsPanel&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt73=_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt73&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm=_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm&javax.faces.encodedURL=https%3A%2F%2Fwww.rnec.pt%2Fpt_PT%2Fpesquisa-de-estudos-clinicos%3Fp_p_id%3DRNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet%26p_p_lifecycle%3D2%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_cacheability%3DcacheLevelPage%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D1%26_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet__jsfBridgeAjax%3Dtrue%26_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet__facesViewIdResource%3D%252Fviews%252Fview.xhtml&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3AtextoLivre=ensaio&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt13_focus=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt13_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3ArnecNumber=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AeudraCT=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AprotocolNumber=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3Asponsor=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AtrialTitle=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3ArecruitmentStatus_focus=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3ArecruitmentStatus_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AclinicalIndication=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AauthorizationDateStart_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AauthorizationDateEnd_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AconclusionDateStart_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25%3AconclusionDateEnd_input=&_RNECPesquisaEstudosClinicos_WAR_RNECPesquisaEstudosClinicosportlet_%3AmainForm%3Aj_idt25_active=-1&javax.faces.ViewState=-2014375685200726364%3A-8157792764487954219","output":"str","x":620,"y":340,"wires":[["4897384a.4b2518"]]},{"id":"552e99b3.a9d988","type":"http request","z":"e677d300.d1d95","name":"NOVARTIS","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.novartis.com/clinicaltrials/recruiting-trials?title=multiple%20sclerosis","tls":"e3876559.c845b8","persist":false,"proxy":"","authType":"","x":430,"y":2360,"wires":[["689bbffb.67489"]]},{"id":"dccf3bb6.7c85b8","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"18000","crontab":"","once":true,"onceDelay":"200","topic":"","payloadType":"date","x":250,"y":2360,"wires":[["552e99b3.a9d988"]]},{"id":"689bbffb.67489","type":"cheerio","z":"e677d300.d1d95","name":"Novartis","tag":"td.views-field","ret":"object","as":"single","map":[{"search":"a","ret":"text","replace":"title","attr":""},{"search":"td.views-field.views-field-title>a","ret":"attribute","replace":"link","attr":"href"}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":640,"y":2360,"wires":[["dd48b8d3.6d1788"]]},{"id":"cf77906e.d94ce","type":"template","z":"e677d300.d1d95","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{payload.title}}\",\"\",\"https://www.novartis.com{{{payload.link}}}\",\"\",\"Novartis\",NULL)","output":"str","x":940,"y":2360,"wires":[["27c1f984.9aa296"]]},{"id":"dd48b8d3.6d1788","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":790,"y":2360,"wires":[["cf77906e.d94ce"]]},{"id":"27c1f984.9aa296","type":"link out","z":"e677d300.d1d95","name":"","links":["dd8e58f7.7eb6e8"],"x":1075,"y":2400,"wires":[]},{"id":"ddd04c38.45e54","type":"http request","z":"e677d300.d1d95","name":"CUF","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.cuf.pt/cuf-academic-center/ensaios-clinicos?combine=&unidade=&estado=All&patologia=2346&especialidade=","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":2440,"wires":[["6e73a2ca.0782cc"]]},{"id":"f6573be5.523818","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"18000","crontab":"","once":true,"onceDelay":"42","topic":"","payloadType":"date","x":250,"y":2440,"wires":[["ddd04c38.45e54"]]},{"id":"6e73a2ca.0782cc","type":"cheerio","z":"e677d300.d1d95","name":"cuf","tag":"div.content","ret":"object","as":"single","map":[{"search":".field--name-title-text","ret":"text","replace":"title","attr":""},{"search":"a","ret":"attribute","replace":"link","attr":"href"}],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":true,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":630,"y":2440,"wires":[["be96c1a0.96ce3"]]},{"id":"c0a8b1f3.daefc","type":"template","z":"e677d300.d1d95","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{payload.title}}\",\"\",\"https://www.cuf.pt{{{payload.link}}}\",\"\",\"CUF\",NULL)","output":"str","x":940,"y":2440,"wires":[["27c1f984.9aa296"]]},{"id":"be96c1a0.96ce3","type":"split","z":"e677d300.d1d95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"article.key","x":790,"y":2440,"wires":[["c0a8b1f3.daefc"]]},{"id":"2165243769fcf492","type":"sqlite","z":"e677d300.d1d95","mydb":"9ccc1658.e12858","sqlquery":"msg.topic","sql":"","name":"","x":2190,"y":2480,"wires":[["9100ad5aabe5432e"]]},{"id":"9100ad5aabe5432e","type":"debug","z":"e677d300.d1d95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2380,"y":2460,"wires":[]},{"id":"690ef59430918034","type":"inject","z":"e677d300.d1d95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"UPDATE trials SET sent = \"1\" WHERE trial_id IN ( '160','159','158','157','156','155','154','153','152','151','150','149','148','147','146','145','144','143','142','141','140','139','138','137','136','135','134','133','132','131','130','129','128','127','126','125','124','123','122','121','120','119','118','117','116','115','114','113','112','111','110','109','108','107','106','105','104','103','102','101','100','99','98','97','96','95','94','93','92','91','90','89','88','87','86','85','84','83','82','81','80','79','78','77','76','75','74','73','72','71','70','69','68','67','66','65','64','63','62','61','60','59','58','57','56','55','54','53','52','51','50','49','48','47','46','45','44','43','42','41','40','39','38','37','36','35','34','33','32','31','30','29','28','27','26','25','24' )","payloadType":"date","x":1940,"y":2500,"wires":[["2165243769fcf492"]]},{"id":"21c9917c.15264e","type":"chatbot-telegram-node","botname":"Johny Five","usernames":"amaralb,1116128351","providerToken":"","polling":"1000","store":"510c9c14.f3eb74","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"d21d47a8.9ecc18","type":"ui_group","name":"Radar","tab":"3d931a5.e15dee6","order":1,"disp":false,"width":6,"collapse":false},{"id":"9ccc1658.e12858","type":"sqlitedb","db":"/data/gregory.db","mode":"RWC"},{"id":"2e3f3837.3647a8","type":"ui_group","name":"Development","tab":"c7217fb3.4a4cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e3876559.c845b8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"node-cert.pem","keyname":"node-key.pem","caname":"","servername":"","verifyservercert":true},{"id":"510c9c14.f3eb74","type":"chatbot-context-store","name":"johnny-context","contextStorage":"memory","contextParams":""},{"id":"3d931a5.e15dee6","type":"ui_tab","name":"Gregory","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"c7217fb3.4a4cc","type":"ui_tab","name":"Development","icon":"dashboard","order":12,"disabled":false,"hidden":false}]