docker-data/.flows.json.backup
[
    {
        "id": "e677d300.d1d95",
        "type": "tab",
        "label": "Research",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e1dd9b.17f6828",
        "type": "tab",
        "label": "Email Digest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8fda80096695167",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3645fb833bf0fede",
        "type": "tab",
        "label": "Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad9a5c14.c1917",
        "type": "tab",
        "label": "SQLite CRUD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67f9a36c.f4a1fc",
        "type": "subflow",
        "name": "Dimmer Settings",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 400,
                "y": 80,
                "wires": [
                    {
                        "id": "67fe2056.d8cd7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "67fe2056.d8cd7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Step",
                "type": "num",
                "value": "30"
            }
        ],
        "color": "#3FADB5",
        "icon": "node-red/cog.svg"
    },
    {
        "id": "b1f406b3.12ebf8",
        "type": "subflow",
        "name": "turn off after 5s",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "d0af4569.c1d1b8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 80,
                "wires": [
                    {
                        "id": "840c7ebd.bbe5c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "acf883d8.84eea",
        "type": "subflow",
        "name": "Insert SQL subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "4c001d43.2cc414",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "60d5c76b.c20668",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 180,
                "wires": [
                    {
                        "id": "439e20a7.7a75a",
                        "port": 0
                    },
                    {
                        "id": "939a138e.8714d",
                        "port": 0
                    },
                    {
                        "id": "3c0f6697.55056a",
                        "port": 0
                    },
                    {
                        "id": "1aa10322.ffbdcd",
                        "port": 0
                    },
                    {
                        "id": "11d24a0d.3b3166",
                        "port": 0
                    },
                    {
                        "id": "3293adb2.d9d442",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e3876559.c845b8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "node-cert.pem",
        "keyname": "node-key.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "39b9d785.81cc68",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Johnny",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ce499156.896fd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "5e500d28.ccf9cc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "1cf3f90d.654b87",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "221cf007.a8bc78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "8da9f33a.cf5998",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "681e3620.92e95",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "ecac0fd5.ee7ed8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db24b02.1897c5",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "15453cca.5bc78b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "35d99ab5.7fa21e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "a3232424.aeedf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "c893d396.f4305",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "34ecde72.134b6a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3566976b.ebf38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "45e0a68d.6b14a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "e9667b4f.793e1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "eb009d5e.671be",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "a87ad554.daa06",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "113905e7.0183ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de9a7b80.a51bd8",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "9ccc1658.e12858",
        "type": "sqlitedb",
        "db": "/data/gregory.db",
        "mode": "RWC"
    },
    {
        "id": "67fe2056.d8cd7",
        "type": "function",
        "z": "67f9a36c.f4a1fc",
        "name": "Step",
        "func": "var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d0af4569.c1d1b8",
        "type": "delay",
        "z": "b1f406b3.12ebf8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "840c7ebd.bbe5c"
            ]
        ]
    },
    {
        "id": "840c7ebd.bbe5c",
        "type": "change",
        "z": "b1f406b3.12ebf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e84102.20011",
        "type": "switch",
        "z": "e677d300.d1d95",
        "name": "filter if title contains MS",
        "property": "article.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*(multiple sclerosis ).*",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*( MS ).*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "acb25bab.c29098"
            ],
            [
                "acb25bab.c29098"
            ]
        ]
    },
    {
        "id": "acb25bab.c29098",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source reuters",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "reuters",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "bb71d047.ff6f9"
            ]
        ]
    },
    {
        "id": "56a4dc66.256874",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source pubmed",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "pubmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "bb71d047.ff6f9"
            ]
        ]
    },
    {
        "id": "dd8e58f7.7eb6e8",
        "type": "link in",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "7b3f48c4.9c0f88",
            "e8bd17ee.3328d8",
            "2a6fbc39.af1ee4",
            "29b465d7.a3aa5a",
            "e80c0064.85234",
            "17411654.54199a",
            "958a1d17.8c224",
            "6c3c1a63.858e04",
            "2042485f.ad9e18",
            "d364aba7.a79228",
            "f2c28c9f.29a42",
            "30afd73c.dc5ba8",
            "27c1f984.9aa296"
        ],
        "x": 2675,
        "y": 860,
        "wires": [
            [
                "362204ba.31312c"
            ]
        ]
    },
    {
        "id": "483ebfdd.17c3c",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/gregory/crud",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "d0a59912.783ef8"
            ]
        ]
    },
    {
        "id": "e1bd88d3.2b8148",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "1fe3716d.a041bf",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/search",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "b6ff8091.8b0c8",
                "6a50fcf9.e2c3e4"
            ]
        ]
    },
    {
        "id": "b6ff8091.8b0c8",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "search-query",
        "func": "msg.topic=\"select  article_id, discovery_date, title, summary, link, published_date, source, relevant, sent from articles ORDER BY article_id desc\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "b4d2b967.e5b098"
            ]
        ]
    },
    {
        "id": "8cf0564c.4cf5c8",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0124bb4.5aee48",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "search-response",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 885,
        "y": 320,
        "wires": [
            [
                "30b80d30.4dd782",
                "8cf0564c.4cf5c8"
            ]
        ]
    },
    {
        "id": "7d4a7c23.d364a4",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/insert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 525,
        "wires": [
            [
                "b52852d4.f429e",
                "50ba5bf5.70cf34"
            ]
        ]
    },
    {
        "id": "a236e87f.3aebc8",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "insert-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875,
        "y": 525,
        "wires": [
            [
                "903d410e.b7a2c"
            ]
        ]
    },
    {
        "id": "b52852d4.f429e",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "insert-query",
        "func": "msg.topic=\"INSERT INTO articles (discovery_date,link,published_date,relevant,source,summary,title) VALUES ('\" + msg.payload.discovery_date + \"','\" + msg.payload.link + \"','\" + msg.payload.published_date + \"','\" + msg.payload.relevant + \"','\" + msg.payload.source + \"','\" + msg.payload.summary + \"','\" + msg.payload.title + \"');\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 525,
        "wires": [
            [
                "ebad6458.559fb8"
            ]
        ]
    },
    {
        "id": "903d410e.b7a2c",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "x": 1220,
        "y": 525,
        "wires": []
    },
    {
        "id": "1f0a6985.60a666",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "lastname-query",
        "func": "msg.topic=\"SELECT article_id, title as value FROM articles\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4cc7dd99.5220d4",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "lastname-response",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 885,
        "y": 420,
        "wires": [
            [
                "b45efb7b.41c598",
                "6a2fd216.53f44c"
            ]
        ]
    },
    {
        "id": "45e2302d.19795",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/search/prijmeni",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "1f0a6985.60a666",
                "1e087335.a7024d"
            ]
        ]
    },
    {
        "id": "b45efb7b.41c598",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "ec7f7a3b.9b13b8",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 800,
        "wires": [
            [
                "79483cca.904f34",
                "e0cdcf99.c138f"
            ]
        ]
    },
    {
        "id": "f0338350.3428f",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "delete-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875,
        "y": 800,
        "wires": [
            [
                "29f19741.eae758"
            ]
        ]
    },
    {
        "id": "79483cca.904f34",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "delete-query",
        "func": "msg.topic=\"DELETE FROM articles WHERE article_id='\" + msg.payload.id + \"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "3d454370.7325ac"
            ]
        ]
    },
    {
        "id": "29f19741.eae758",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "x": 1220,
        "y": 800,
        "wires": []
    },
    {
        "id": "9fc5e19f.58fea",
        "type": "http in",
        "z": "ad9a5c14.c1917",
        "name": "",
        "url": "/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 695,
        "wires": [
            [
                "464c2612.b60708",
                "240f717b.5624ce"
            ]
        ]
    },
    {
        "id": "24ba769.fcc968a",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "update-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 995,
        "y": 695,
        "wires": [
            [
                "1481b768.ce3619",
                "34d656fb.bdd37a"
            ]
        ]
    },
    {
        "id": "a53b1871.c4e568",
        "type": "function",
        "z": "ad9a5c14.c1917",
        "name": "update-query",
        "func": "msg.topic=\"UPDATE articles SET discovery_date = '\" + msg.payload.discovery_date + \"', link = '\" +  msg.payload.link + \"', published_date = '\" + msg.payload.published_date + \"', relevant = '\" + msg.payload.relevant + \"', source = '\" + msg.payload.source + \"', summary = '\" + msg.payload.summary + \"', title ='\" + msg.payload.title + \"', sent = '\" + msg.payload.sent +\"' WHERE article_id='\" + msg.payload.article_id + \"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "b22ca3e8.9502d"
            ]
        ]
    },
    {
        "id": "1481b768.ce3619",
        "type": "http response",
        "z": "ad9a5c14.c1917",
        "name": "",
        "x": 1330,
        "y": 695,
        "wires": []
    },
    {
        "id": "30b80d30.4dd782",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "b4d2b967.e5b098",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "1e087335.a7024d",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "50ba5bf5.70cf34",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 487,
        "y": 571,
        "wires": []
    },
    {
        "id": "464c2612.b60708",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 746,
        "wires": []
    },
    {
        "id": "6a50fcf9.e2c3e4",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "e0cdcf99.c138f",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 886,
        "wires": []
    },
    {
        "id": "3d454370.7325ac",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 886,
        "wires": []
    },
    {
        "id": "5db5b301.1cecbc",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 980,
        "y": 886,
        "wires": []
    },
    {
        "id": "6a2fd216.53f44c",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 460,
        "wires": []
    },
    {
        "id": "ada27334.c2717",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "ebad6458.559fb8",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "b22ca3e8.9502d",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "d0a59912.783ef8",
        "type": "template",
        "z": "ad9a5c14.c1917",
        "name": "web-template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n   <head>\n      <!-- The jQuery library is a prerequisite for all jqSuite products -->\n      <script type=\"text/ecmascript\" src=\"https://www.guriddo.net/demo/js/jquery.min.js\"></script> \n      <!-- We support more than 40 localizations -->\n      <script type=\"text/ecmascript\" src=\"https://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js\"></script>\n      <!-- This is the Javascript file of jqGrid -->   \n      <script type=\"text/ecmascript\" src=\"https://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js\"></script>\n      <!-- This is the localization file of the grid controlling messages, labels, etc.\n      <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->\n      <link rel=\"stylesheet\" type=\"text/css\" media=\"screen\" href=\"https://struts.jgeppert.com/struts2-jquery-grid-showcase/themes/showcase/jquery-ui.css\" />\n      <!-- The link to the CSS that the grid needs -->\n      <link rel=\"stylesheet\" type=\"text/css\" media=\"screen\" href=\"https://www.guriddo.net/demo/css/trirand/ui.jqgrid.css\" />\n      <meta charset=\"utf-8\" />\n      <title>CRUD with jqGrid</title>\n      <script type=\"text/javascript\"></script>\n      \n   </head>\n   <body>\n      <table id=\"jqGrid\"></table>\n      <div id=\"jqGridPager\"></div>\n      <script type=\"text/javascript\"> \n         $(document).ready(function () {\n             $(\"#jqGrid\").jqGrid({\n                 url: '/search',\n                 mtype: \"GET\",\n                 datatype: \"json\",\n                 autowidth: true,\n                 \n                 colModel: [\n                 // article_id,discovery_date,link,published_date,relevant,source,summary,title,sent\n                     { label: 'article_id', name: 'article_id', key: true, search: false, width: 10},\n                     { label: 'discovery_date', name: 'discovery_date', width: 50, editable: true, formoptions: { colpos: 1, rowpos: 1 } },\n                     { label: 'link', name: 'link', width: 150, editable: true, formoptions: { colpos: 1, rowpos: 1 } },\n                     { label: 'published_date', name: 'published_date', width: 50, editable: true, formoptions: { colpos: 1, rowpos: 1 } },\n                     { label: 'relevant', name: 'relevant', editable: true, width:25, formoptions: { colpos: 2, rowpos: 1 } },\n                     { label: 'source', name: 'source', editable: true, width:50, formoptions: { colpos: 2, rowpos: 1 } },\n                     { label: 'summary', name: 'summary', editable: true, formoptions: { colpos: 2, rowpos: 1 } },\n                     { label: 'title', name: 'title', width: 150, editable: true, formoptions: { colpos: 1, rowpos: 1 } },\n                     { label: 'sent', name: 'sent', width: 15, editable: true, formoptions: { colpos: 1, rowpos: 1 } }\n],\n                 width: 500,\n                 height: 'auto',\n                 rowNum: 30,\n                 loadonce: true,\n                 viewrecords: true,\n                 onSelectRow: editRow, // the javascript function to call on row click. will ues to to put the row in edit mode                 \n                 pager: \"#jqGridPager\"\n             });\n             \n             $('#jqGrid').navGrid('#jqGridPager',\n                 // The buttons to appear on the toolbar of the grid\n                 { edit: true, add: true, del: true, search: true, refresh: true, position: \"left\", cloneToTop: true },\n                 \n                 // Options for the Edit Dialog\n                 {\n                     url: '/update',\n                     editCaption: \"The Edit Dialog\",\n                     recreateForm: true,\n\t\t\t\t\t //checkOnUpdate : true,\n\t\t\t\t\t //checkOnSubmit : true,\n\t\t\t\t\t beforeSubmit : function( postdata, form , oper) {\n\t\t\t\t\t\t if(confirm('Are you sure you want to update this information?') ) {\n\t\t\t\t\t\t\t // Do something\n\t\t\t\t\t\t \t return [true,'/update'];\n\t\t\t\t\t\t } else {\n\t\t\t\t\t\t\treturn [false, 'Update failed!'];\n\t\t\t\t\t\t }\n\t\t\t\t\t },\n                     afterSubmit: function () {\n                         $(this).jqGrid(\"setGridParam\", {datatype: 'json'});\n                         return [true];\n                     },\n                     closeAfterEdit: true,\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n                 },\n                 // Options for the Add Dialog\n                 {\n                     url: '/insert',\n                     addCaption: \"Add Dialog\",\n                     afterSubmit: function () {\n                         $(this).jqGrid(\"setGridParam\", {datatype: 'json'});\n                         return [true];\n                     },\n                     closeAfterAdd: true,\n                     recreateForm: true,\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n                 },\n                 // Options for the Delete Dialog\n                 {   \n                     url: '/delete',\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n             });\n           //$(\"#jqGrid\").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true });\n            \n            var lastSelection;\n            editparameters = {\n\t            \"keys\" : false,\n\t            \"oneditfunc\" : null,\n\t            \"successfunc\" : null,\n\t            \"url\" : '/update',\n                \"extraparam\" : {},\n\t            \"aftersavefunc\" : null,\n\t            \"errorfunc\": null,\n\t            \"afterrestorefunc\" : null,\n\t            \"restoreAfterError\" : true,\n\t            \"mtype\" : \"POST\"\n            }\n            function editRow(id) {\n                if (id && id !== lastSelection) {\n                    var grid = $(\"#jqGrid\");\n                    grid.jqGrid('restoreRow',lastSelection);\n                    grid.jqGrid('editRow',id, {\n\t\t\t\t\t\tkeys: true,\n\t\t\t\t\t\tonEnter : function(rowid, options, event) {\n\t\t\t\t\t\t\tif (confirm(\"Save the row with ID: \"+rowid) === true) {\n\t\t\t\t\t\t\t   $(this).jqGrid(\"saveRow\", rowid, editparameters );\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t});\n                    lastSelection = id;\n                }\n            }\n           \n         });\n      </script>\n   </body>\n</html>",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "e1bd88d3.2b8148"
            ]
        ]
    },
    {
        "id": "990abff7.6e5e3",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "34d656fb.bdd37a",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1200,
        "y": 640,
        "wires": []
    },
    {
        "id": "af256e06.447e6",
        "type": "debug",
        "z": "ad9a5c14.c1917",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "ffb7b92d.9a01e8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source ClinicalTrials",
        "rules": [
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "ClinicalTrials.gov",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "bc0c284f.e4f5d8"
            ]
        ]
    },
    {
        "id": "974801fc.d87d5",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{{topic}}}\",\"{{payload}}\",\"{{article.source}}\",NULL)",
        "output": "str",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "6c3c1a63.858e04"
            ]
        ]
    },
    {
        "id": "6c3c1a63.858e04",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 1675,
        "y": 180,
        "wires": []
    },
    {
        "id": "439e20a7.7a75a",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "Plex",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cdp-30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0f6697.55056a",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "Spotify",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "spotify-beehive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "939a138e.8714d",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "YouTube",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "youtube.leanback.v4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1aa10322.ffbdcd",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "Apple TV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com.apple.appletv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "447e9609.e2ac08",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "7d34d84b.209178"
            ]
        ]
    },
    {
        "id": "7d34d84b.209178",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "APTA",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.apta.org/search?Q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&searcharticletypes=8834&searchconditionandsymptoms=&searchloc=APTA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "c61aca1a.a75f28"
            ]
        ]
    },
    {
        "id": "12c5e787.dadea8",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "6c3c1a63.858e04"
            ]
        ]
    },
    {
        "id": "4a6f88df.668e58",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source APTA",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.apta.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "APTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 560,
        "wires": [
            [
                "5607a559.4d69ec"
            ]
        ]
    },
    {
        "id": "5607a559.4d69ec",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1530,
        "y": 560,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "2042485f.ad9e18",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 2015,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4c001d43.2cc414",
        "type": "template",
        "z": "acf883d8.84eea",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO articles (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{article.title}}\",\"{{article.description}}\",\"{{{article.url}}}\",\"{{article.pubdate\"}}\",\"{{article.source}}\",NULL)",
        "output": "str",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb3511f.107c9",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "refresh list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT  * FROM articles ORDER BY article_id DESC;",
        "payloadType": "date",
        "x": 2490,
        "y": 960,
        "wires": [
            [
                "d364aba7.a79228"
            ]
        ]
    },
    {
        "id": "d364aba7.a79228",
        "type": "link out",
        "z": "e677d300.d1d95",
        "name": "",
        "links": [
            "dd8e58f7.7eb6e8"
        ],
        "x": 2595,
        "y": 860,
        "wires": []
    },
    {
        "id": "79a8247a.92ebfc",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 910,
        "y": 560,
        "wires": [
            [
                "9114e276.66493"
            ]
        ]
    },
    {
        "id": "9e016eb0.ea6a7",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "11400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "692d4a70.c8ca94"
            ]
        ]
    },
    {
        "id": "692d4a70.c8ca94",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "BioMedCentral",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.biomedcentral.com/search?searchType=publisherSearch&sort=PubDate&page=1&query=Multiple+Sclerosis",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "d525b5a.33ae548"
            ]
        ]
    },
    {
        "id": "3b8b16c0.ace03a",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source BioMedCentral",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https:\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "BioMedCentral",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 760,
        "wires": [
            [
                "cfd4a1c6.42a0d"
            ]
        ]
    },
    {
        "id": "2d2a9ede.1ee7a2",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 910,
        "y": 760,
        "wires": [
            [
                "7807a09e.45e49"
            ]
        ]
    },
    {
        "id": "cfd4a1c6.42a0d",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1550,
        "y": 760,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "362204ba.31312c",
        "type": "delay",
        "z": "e677d300.d1d95",
        "name": "",
        "pauseType": "random",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "200",
        "randomLast": "300",
        "randomUnits": "milliseconds",
        "drop": false,
        "x": 2780,
        "y": 860,
        "wires": [
            [
                "703141cb.40cd2"
            ]
        ]
    },
    {
        "id": "93f5afdb.0c9ae",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "PEDro",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.pedro.org.au/advanced-search/results?abstract_with_title=Multiple+Sclerosis&therapy=0&problem=0&body_part=0&subdiscipline=0&topic=0&method=0&authors_association=&title=&source=&year_of_publication=&date_record_was_created=&nscore=&perpage=20&lop=or&find=&find=Start+Search",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 900,
        "wires": [
            [
                "7200f004.6c3a6"
            ]
        ]
    },
    {
        "id": "61d16b00.e6b704",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 910,
        "y": 900,
        "wires": [
            [
                "76d89aca.9b37d4"
            ]
        ]
    },
    {
        "id": "f31ef1c8.3af84",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source PEDro",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "PEDro",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 900,
        "wires": [
            [
                "1b5ac33e.1e7afd"
            ]
        ]
    },
    {
        "id": "1b5ac33e.1e7afd",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1570,
        "y": 900,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "32d10bb5.f7c9b4",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "13200",
        "crontab": "",
        "once": true,
        "onceDelay": "300",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "93f5afdb.0c9ae"
            ]
        ]
    },
    {
        "id": "bc932279.fd3c1",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "Scielo.org",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://search.scielo.org/?q=Multiple+Sclerosis&lang=en&count=15&from=0&output=site&sort=&format=summary&fb=&page=1&q=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&lang=en&page=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "76303108.1a242"
            ]
        ]
    },
    {
        "id": "d14937a.fcc22c8",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "bc932279.fd3c1"
            ]
        ]
    },
    {
        "id": "ae4a277d.0b34e8",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 890,
        "y": 1000,
        "wires": [
            [
                "2af11514.34f00a"
            ]
        ]
    },
    {
        "id": "597913bc.2b4dec",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source Scielo",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Scielo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1000,
        "wires": [
            [
                "2f1250ba.05cd3"
            ]
        ]
    },
    {
        "id": "2f1250ba.05cd3",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1550,
        "y": 1000,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "93bfea98.134188",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "The Lancet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.thelancet.com/action/doSearch?text1=%22Multiple+Sclerosis%22+OR+%22autoimmune+encephalomyelitis%22+OR+encephalomyelitis+OR+%22immune+tolerance%22+OR+myelin&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "77bb2168.9845"
            ]
        ]
    },
    {
        "id": "8c1e7286.bf01a",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "93bfea98.134188"
            ]
        ]
    },
    {
        "id": "d9eff18c.c2dce",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "59a7b122.82c15"
            ]
        ]
    },
    {
        "id": "59a7b122.82c15",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source The Lancet",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.thelancet.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "The Lancet",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1060,
        "wires": [
            [
                "4fbb692.2486b98"
            ]
        ]
    },
    {
        "id": "9a14f1a6.90d44",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1550,
        "y": 1060,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "7042cf5f.37b8e",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "JNeuroSci",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.jneurosci.org/search/text_abstract_title%3AMultiple%2BSclerosis%20text_abstract_title_flags%3Amatch-phrase%20exclude_meeting_abstracts%3A1%20numresults%3A50%20sort%3Apublication-date%20direction%3Adescending%20format_result%3Astandard",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "155fede1.ee3852"
            ]
        ]
    },
    {
        "id": "242cc4f8.4e1b2c",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 890,
        "y": 1180,
        "wires": [
            [
                "a3b9d7eb.2f9c48"
            ]
        ]
    },
    {
        "id": "a3b9d7eb.2f9c48",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source JNeuroSci",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.jneurosci.org\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "JNeuroSci",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "$trim(article.description)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.pubdate",
                "pt": "msg",
                "to": "$trim($replace(article.pubdate, \"Published: \", \" \"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1180,
        "wires": [
            [
                "2484937c.b752dc"
            ]
        ]
    },
    {
        "id": "b087546f.c41f78",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1550,
        "y": 1180,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "bf677c12.98036",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "13800",
        "crontab": "",
        "once": true,
        "onceDelay": "90",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "7042cf5f.37b8e"
            ]
        ]
    },
    {
        "id": "11d24a0d.3b3166",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "DLNA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com.webos.app.photovideo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3293adb2.d9d442",
        "type": "change",
        "z": "60d5c76b.c20668",
        "name": "HDMI1 (PC)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com.webos.app.hdmi1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9451a01b.195e1",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "journals.sagepub",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://journals.sagepub.com/action/doSearch?AllField=multiple+sclerosis&SeriesKey=msja&content=articlesChapters&countTerms=true&target=default&sortBy=Ppub&startPage=&ContentItemType=research-article",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "a61c20a8.862f3"
            ]
        ]
    },
    {
        "id": "8b34e8cd.59fe58",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12000",
        "crontab": "",
        "once": true,
        "onceDelay": "99",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "9451a01b.195e1"
            ]
        ]
    },
    {
        "id": "7a8468df.b46ce8",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 870,
        "y": 1360,
        "wires": [
            [
                "9999e129.61d66"
            ]
        ]
    },
    {
        "id": "9999e129.61d66",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source SagePub",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://journals.sagepub.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "Sage Pub",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \", First Published \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "83c75162.7e39f"
            ]
        ]
    },
    {
        "id": "83c75162.7e39f",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1360,
        "wires": [
            [
                "79cb9ccc.a4f644"
            ]
        ]
    },
    {
        "id": "143867a5.288e58",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1570,
        "y": 1360,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "d424b6d4.4fd928",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "13800",
        "crontab": "",
        "once": true,
        "onceDelay": "200",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1480,
        "wires": [
            [
                "f04c92de.f0caa"
            ]
        ]
    },
    {
        "id": "f04c92de.f0caa",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "MS and Rel. Disorders",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.msard-journal.com/action/doSearch?text1=Multiple+Sclerosis&field1=AbstractTitleKeywordFilterField&startPage=0&sortBy=Earliest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 1480,
        "wires": [
            [
                "e4d19ed0.def17"
            ]
        ]
    },
    {
        "id": "5d91e310.64306c",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 810,
        "y": 1480,
        "wires": [
            [
                "b08406f.7ec44f8"
            ]
        ]
    },
    {
        "id": "b08406f.7ec44f8",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set source MS & rel. disorders",
        "rules": [
            {
                "t": "set",
                "p": "article",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article.url",
                "pt": "msg",
                "to": "\"https://www.msard-journal.com\" & payload.link",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "article.source",
                "pt": "msg",
                "to": "MS & Rel. Disorders",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.description",
                "pt": "msg",
                "to": "not available",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "article.title",
                "pt": "msg",
                "to": "$trim(article.title)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$split($trim($replace(article.pubdate, \"Published Online: \", \" \")),\".\",1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1480,
        "wires": [
            [
                "d49f5d0.0b73aa"
            ]
        ]
    },
    {
        "id": "d49f5d0.0b73aa",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "fix pubdate",
        "rules": [
            {
                "t": "set",
                "p": "payload.pubdate",
                "pt": "msg",
                "to": "$replace($replace(payload.pubdate[0],\" \", \"-\"),\",\",\"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1480,
        "wires": [
            [
                "3ea7f9fd.f836d6"
            ]
        ]
    },
    {
        "id": "91a0c554.3d6868",
        "type": "subflow:acf883d8.84eea",
        "z": "e677d300.d1d95",
        "name": "Insert SQL",
        "env": [],
        "x": 1590,
        "y": 1480,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "24eefeef.41f5f2",
        "type": "inject",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "172800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "f5d0e7f1.fa04e8"
            ]
        ]
    },
    {
        "id": "c9318a9a.1076a8",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "email template",
        "field": "text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Digest of articles in the last 2 days</h1>\n<br>\n{{#payload}}\n\n\n\n<h2>{{{title}}}</h2>\n\n<p><strong>Discovery Date</strong>: {{discovery_date}}</p>\n<p>\n<a href=\"{{{link}}}\">{{{link}}}</a>\n</p>\n\n<p><a href=\"https://api.brunoamaral.net/articles/id/{{article_id}}/relevant/1\">Mark Relevant</a></p>\n\n<br>\n---\n<br>\n<br>\n{{/payload}}",
        "output": "str",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "dc9360c2.96706"
            ]
        ]
    },
    {
        "id": "39c1cf8e.2b2b2",
        "type": "http request",
        "z": "5e1dd9b.17f6828",
        "d": true,
        "name": "http request send mail",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.eu.mailgun.net/v3/mg.brunoamaral.net/messages",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "df437037.26c23"
            ]
        ]
    },
    {
        "id": "dc9360c2.96706",
        "type": "change",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "articles",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"from\":\"Gregory <gregory@mg.brunoamaral.net>\",\"to\":\"labs@mg.brunoamaral.net\",\"subject\":\"Gregory  Admin Summary\",\"multipart\":true}",
                "tot": "json"
            },
            {
                "t": "move",
                "p": "text",
                "pt": "msg",
                "to": "payload.html",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"multipart/form-data\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "39c1cf8e.2b2b2"
            ]
        ]
    },
    {
        "id": "1e1e2277.9487ce",
        "type": "inject",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * 2",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM articles WHERE discovery_date > (SELECT DATETIME('now', '-14 day')) AND relevant = 1",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "6713ff8a.0b4be"
            ]
        ]
    },
    {
        "id": "7dc03a40.4ae0f4",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "field": "text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p>Good Morning, %recipient_fname%. </p>\n\n<p>Here are the relevant articles we have found in the last 7 days</p>\n\n{{#payload}}\n\n<h2>{{{title}}}</h2>\n\n<p><strong>Discovery Date</strong>: {{discovery_date}}</p>\n<p>\n<a href=\"{{{link}}}\">{{{link}}}</a>\n</p>\n\n---\n\n{{/payload}}\n\n<p>For the full list, please visit <a href=\"https://labs.brunoamaral.eu\">https://labs.brunoamaral.eu/tudo</a></p>\n\n<p>For adding people to this email list or further information, please contact Bruno Amaral:</p>\n\n<p><strong>Mobile</strong>: +351 912 875 856</p>\n\n<p><strong>Email</strong>: mail@brunoamaral.eu</p>\n\n<p>If you wish to unsubscribe, follow the link below.</p>\n\n<p>Best wishes, Gregory. Your friendly research bot.</p>\n",
        "output": "str",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "c28b0d4c.d9317"
            ]
        ]
    },
    {
        "id": "c28b0d4c.d9317",
        "type": "change",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"from\":\"Gregory <gregory@mg.brunoamaral.net>\",\"to\":\"subscribers@mg.brunoamaral.net\",\"subject\":\"Gregory  Weekly Summary\",\"multipart\":true}",
                "tot": "json"
            },
            {
                "t": "move",
                "p": "text",
                "pt": "msg",
                "to": "payload.html",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"multipart/form-data\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 420,
        "wires": [
            [
                "f43e93eb.3d3ed"
            ]
        ]
    },
    {
        "id": "6713ff8a.0b4be",
        "type": "switch",
        "z": "5e1dd9b.17f6828",
        "name": "check if empty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "7dc03a40.4ae0f4"
            ],
            []
        ]
    },
    {
        "id": "f43e93eb.3d3ed",
        "type": "http request",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.eu.mailgun.net/v3/mg.brunoamaral.net/messages",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "c78bf429.8f4868"
            ]
        ]
    },
    {
        "id": "c78bf429.8f4868",
        "type": "switch",
        "z": "5e1dd9b.17f6828",
        "name": "statusCode=200?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "94c83b7a.5969c8",
        "type": "comment",
        "z": "5e1dd9b.17f6828",
        "name": "Admin summary of the last 2 days",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "2dfe87b6.0ffd78",
        "type": "comment",
        "z": "5e1dd9b.17f6828",
        "name": "Weekly summary of relevant articles to the mailing list (Tuesday 8:00)",
        "info": "",
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "df437037.26c23",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "SQLite template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nSET sent = \"1\"\nWHERE article_id IN (\n\n{{#articles}}\n{{article_id}},\n{{/articles}}\n1\n\n);",
        "output": "str",
        "x": 1240,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f5d0e7f1.fa04e8",
        "type": "switch",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 200,
        "wires": [
            [],
            [
                "c9318a9a.1076a8"
            ]
        ]
    },
    {
        "id": "4e2e4f66.a1374",
        "type": "inject",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM trials WHERE sent IS NULL OR sent = \"\" ",
        "payloadType": "date",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "21892b49714048cc"
            ]
        ]
    },
    {
        "id": "552e99b3.a9d988",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "NOVARTIS",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.novartis.com/clinicaltrials/recruiting-trials?title=multiple%20sclerosis",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 1640,
        "wires": [
            [
                "689bbffb.67489"
            ]
        ]
    },
    {
        "id": "dccf3bb6.7c85b8",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "200",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1640,
        "wires": [
            [
                "552e99b3.a9d988"
            ]
        ]
    },
    {
        "id": "cf77906e.d94ce",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{payload.title}}\",\"\",\"https://www.novartis.com{{{payload.link}}}\",\"\",\"Novartis\",NULL)",
        "output": "str",
        "x": 1580,
        "y": 1620,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "dd48b8d3.6d1788",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 1640,
        "wires": [
            [
                "cf77906e.d94ce"
            ]
        ]
    },
    {
        "id": "ddd04c38.45e54",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "CUF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.cuf.pt/cuf-academic-center/ensaios-clinicos?combine=&unidade=&estado=All&patologia=2346&especialidade=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "6e73a2ca.0782cc"
            ]
        ]
    },
    {
        "id": "f6573be5.523818",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "42",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1720,
        "wires": [
            [
                "ddd04c38.45e54"
            ]
        ]
    },
    {
        "id": "c0a8b1f3.daefc",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO trials (discovery_date,title,summary,link,published_date,source,relevant)\nVALUES (strftime(\"%Y-%m-%dT%H:%M:%S\", \"NOW\"),\"{{payload.title}}\",\"\",\"https://www.cuf.pt{{{payload.link}}}\",\"\",\"CUF\",NULL)",
        "output": "str",
        "x": 1580,
        "y": 1700,
        "wires": [
            [
                "2042485f.ad9e18"
            ]
        ]
    },
    {
        "id": "be96c1a0.96ce3",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "article.key",
        "x": 790,
        "y": 1720,
        "wires": [
            [
                "c0a8b1f3.daefc"
            ]
        ]
    },
    {
        "id": "b74ab8e3cb0874f6",
        "type": "comment",
        "z": "5e1dd9b.17f6828",
        "name": "Notify admin of new clinical trials",
        "info": "",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "fb6e40317003abda",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM articles ORDER BY article_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "d5f814d641c1dcec",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM trials ORDER BY trial_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "d2498b471824a4c4",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/id/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3472c638b61c7760"
            ]
        ]
    },
    {
        "id": "c92999d956cda08d",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "fb6e40317003abda"
            ]
        ]
    },
    {
        "id": "dcce31a56f6495e5",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/source/:source",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "45b965d936c77f34"
            ]
        ]
    },
    {
        "id": "73638c55be8a69ae",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/trials/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "d5f814d641c1dcec"
            ]
        ]
    },
    {
        "id": "26d2ea2e4317bb04",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/by-date/:year/:month",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "6665f1fd40719d56"
            ]
        ]
    },
    {
        "id": "910e3c6cd8fe97ab",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT  * FROM articles where relevant = 1 ORDER BY article_id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "4194148b20c13432",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/relevant",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "910e3c6cd8fe97ab"
            ]
        ]
    },
    {
        "id": "cef14c9d293a46a4",
        "type": "json",
        "z": "f8fda80096695167",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "bfc0064449b51c52"
            ]
        ]
    },
    {
        "id": "bfc0064449b51c52",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 320,
        "wires": [
            [
                "6ce8e9aac32643fd"
            ]
        ]
    },
    {
        "id": "6ce8e9aac32643fd",
        "type": "http response",
        "z": "f8fda80096695167",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "42dbf1fb2fb96ced",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/id/:id/relevant/1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "e11d4f8549634666",
                "3a90fd655a74bca3"
            ]
        ]
    },
    {
        "id": "b207b0edde0eb11e",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/id/:id/relevant/0",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "110b429506d19b21"
            ]
        ]
    },
    {
        "id": "b00d96c0d8fbf9b7",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "status = OK ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 580,
        "wires": [
            [
                "f84497a0defdd16c"
            ]
        ]
    },
    {
        "id": "f84497a0defdd16c",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "247bc29bf7e3f7e4"
            ]
        ]
    },
    {
        "id": "247bc29bf7e3f7e4",
        "type": "http response",
        "z": "f8fda80096695167",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "61e13e8f6114722b",
        "type": "function",
        "z": "f8fda80096695167",
        "name": "Prepare Notion DB payload",
        "func": "var data = msg.payload[0]\nvar title = msg.payload[0].title\nvar url = msg.payload[0].link\n\n\n\nvar postData = {\n\t\"parent\": { \"database_id\": \"4fa1dc37-a3bf-43be-9c8d-35b41e539f8d\" },\n\t\"properties\": {\n\t\t\"Name\": {\n\t\t\t\"title\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": title\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t],\n\t\t},\n\t\t\"Status\": {\n\t\t    \"select\": {\n\t\t        \"name\": \"Auto\"\n\t\t    }\n\t\t},\n        \"Link\": {\n            \"url\": url\n        }\n\t\t\n}}\n\n\n\n//\t\t\"Context\": {\n//\t\t\t\"select\": {\n//\t\t\t\t\"name\": context\n//\t\t\t}\n//\t\t},\n//\t\t\"Client\": {\n//\t\t    \"select\": {\n//\t\t        \"name\": client\n//\t\t    }\n//\t\t}\n\nmsg.payload = postData\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "ace5150a6e62eed0"
            ]
        ]
    },
    {
        "id": "ace5150a6e62eed0",
        "type": "http request",
        "z": "f8fda80096695167",
        "name": "create page",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.notion.com/v1/pages",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1270,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3946a27509f91e67",
        "type": "delay",
        "z": "f8fda80096695167",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "12",
        "randomLast": "15",
        "randomUnits": "hours",
        "drop": false,
        "allowrate": false,
        "x": 860,
        "y": 660,
        "wires": [
            [
                "61e13e8f6114722b"
            ]
        ]
    },
    {
        "id": "c35507239bf7ec37",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/sources",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "efe56d6b7cfe64f5"
            ]
        ]
    },
    {
        "id": "efe56d6b7cfe64f5",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select distinct source   from articles  order by source ASC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "86019d1998eb24af",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/trials/sources",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "267ba92a5761cbc7"
            ]
        ]
    },
    {
        "id": "267ba92a5761cbc7",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select distinct source   from trials  order by source ASC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 480,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "83720ecccff57442",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/keyword/:keyword",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "a1db2ad2aaabfabd"
            ]
        ]
    },
    {
        "id": "a1db2ad2aaabfabd",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "set keyword",
        "rules": [
            {
                "t": "set",
                "p": "keyword",
                "pt": "msg",
                "to": "\"%\" & req.params.keyword & \"%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "081785b0b06d2fc6"
            ]
        ]
    },
    {
        "id": "06607d54d0f74a1a",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/trials/keyword/:keyword",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "1331051fe47f7045"
            ]
        ]
    },
    {
        "id": "1331051fe47f7045",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "set keyword",
        "rules": [
            {
                "t": "set",
                "p": "keyword",
                "pt": "msg",
                "to": "\"%\" & req.params.keyword & \"%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 840,
        "wires": [
            [
                "1ede8ebaaad306c1"
            ]
        ]
    },
    {
        "id": "e9e57ff66e5588b3",
        "type": "http request",
        "z": "5e1dd9b.17f6828",
        "d": true,
        "name": "http request send mail",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.eu.mailgun.net/v3/mg.brunoamaral.net/messages",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 980,
        "y": 760,
        "wires": [
            [
                "c38d1cbb23d3fd14"
            ]
        ]
    },
    {
        "id": "c38d1cbb23d3fd14",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "SQLite template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE trials\nSET sent = \"1\"\nWHERE trial_id IN (\n\n{{#trials}}\n{{trial_id}},\n{{/trials}}\n1\n\n);",
        "output": "str",
        "x": 1180,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "04f83a0b5dd680b0",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "email template",
        "field": "text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Digest of trials in the last 2 days</h1>\n<br>\n{{#payload}}\n\n\n<br>\n<h2>{{{title}}}</h2>\n\n<p><strong>Discovery Date</strong>: {{discovery_date}}</p>\n<p>\n<a href=\"{{{link}}}\">{{{link}}}</a>\n</p>\n\n<br>\n---\n<br>\n<br>\n{{/payload}}",
        "output": "str",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "fdfee51f694b7844"
            ]
        ]
    },
    {
        "id": "21892b49714048cc",
        "type": "switch",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 760,
        "wires": [
            [
                "04f83a0b5dd680b0"
            ],
            []
        ]
    },
    {
        "id": "7d219e5339925e23",
        "type": "http in",
        "z": "f8fda80096695167",
        "name": "",
        "url": "/articles/related/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "979bd9c52b881cd3"
            ]
        ]
    },
    {
        "id": "19e4c9feed69eada",
        "type": "http request",
        "z": "f8fda80096695167",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.brunoamaral.net/articles/related/",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 1200,
        "wires": [
            [
                "1b79ae52f639a2f6"
            ]
        ]
    },
    {
        "id": "ebbe18718e7e5a48",
        "type": "inject",
        "z": "f8fda80096695167",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"keywords\":[\"mTOR\",\"Regulates Metabolic Function\",\"Oligodendrocyte Precursor Cells\",\"Promotes Efficient Brain Remyelination\",\"the Cuprizone Model\"]}",
        "payloadType": "str",
        "x": 100,
        "y": 1200,
        "wires": [
            [
                "19e4c9feed69eada"
            ]
        ]
    },
    {
        "id": "92d34e33d92f6753",
        "type": "http response",
        "z": "f8fda80096695167",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1b79ae52f639a2f6",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "92d34e33d92f6753"
            ]
        ]
    },
    {
        "id": "6665f1fd40719d56",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "set date",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "msg",
                "to": "\"%\" & req.params.year & \"-\" & req.params.month & \"%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "c26cc73b6703b0c2"
            ]
        ]
    },
    {
        "id": "e2f2163a0744355f",
        "type": "template",
        "z": "f8fda80096695167",
        "name": "Query",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "select * from articles\nwhere\n(title = \"\")\n{{#keywords}}\nOR (title like \"%{{.}}%\")\n{{/keywords}}\n;",
        "output": "str",
        "x": 510,
        "y": 900,
        "wires": [
            [
                "9ceb982ec3e8a837"
            ]
        ]
    },
    {
        "id": "dc128ccf4411a6f3",
        "type": "inject",
        "z": "f8fda80096695167",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"keywords\":[\"mTOR\",\"Regulates Metabolic Function\",\"Oligodendrocyte Precursor Cells\",\"Promotes Efficient Brain Remyelination\",\"the Cuprizone Model\"]}",
        "payloadType": "json",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "19e4c9feed69eada"
            ]
        ]
    },
    {
        "id": "979bd9c52b881cd3",
        "type": "function",
        "z": "f8fda80096695167",
        "name": "",
        "func": "let words = msg.payload.keywords\nlet keywords = [];\n\nfor (const element of words) {\n  keywords.push(element.match(/(?:\\w|\\s|-\\w)*/)[0])\n}\n\nmsg.keywords = keywords;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 900,
        "wires": [
            [
                "e2f2163a0744355f"
            ]
        ]
    },
    {
        "id": "c8ace884ac7ec1c2",
        "type": "http response",
        "z": "f8fda80096695167",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 820,
        "wires": []
    },
    {
        "id": "f2912ee0153a5f0d",
        "type": "json",
        "z": "f8fda80096695167",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 820,
        "wires": [
            [
                "1f7b7b33aa14a006"
            ]
        ]
    },
    {
        "id": "1f7b7b33aa14a006",
        "type": "change",
        "z": "f8fda80096695167",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "c8ace884ac7ec1c2"
            ]
        ]
    },
    {
        "id": "fdfee51f694b7844",
        "type": "change",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"from\":\"gregory@mg.brunoamaral.net\",\"to\":\"labs@mg.brunoamaral.net\",\"subject\":\"Gregory  Admin Summary\",\"multipart\":true}",
                "tot": "json"
            },
            {
                "t": "move",
                "p": "text",
                "pt": "msg",
                "to": "payload.html",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 760,
        "wires": [
            [
                "e9e57ff66e5588b3",
                "a48c1e0d4ecf6aa2"
            ]
        ]
    },
    {
        "id": "9581a0eb2c0a2048",
        "type": "inject",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UPDATE trials SET link = replace( link, '&#x2F;', '/' ) WHERE link LIKE '%&#x2F;%';",
        "payloadType": "date",
        "x": 270,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7dce304f08600f28",
        "type": "inject",
        "z": "3645fb833bf0fede",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "58cede0a763922e7"
            ]
        ]
    },
    {
        "id": "daa1c0139efc32e7",
        "type": "debug",
        "z": "3645fb833bf0fede",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "a48c1e0d4ecf6aa2",
        "type": "debug",
        "z": "5e1dd9b.17f6828",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 880,
        "wires": []
    },
    {
        "id": "6b24f780.dc8238",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "Clinical Trials.gov",
        "url": "https://clinicaltrials.gov/ct2/results/rss.xml?rcv_d=14&lup_d=&sel_rss=new14&cond=Multiple+Sclerosis&count=10000",
        "interval": "190",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "ffb7b92d.9a01e8"
            ]
        ]
    },
    {
        "id": "937a615c.38fb1",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "PubMed : MS ",
        "url": "https://pubmed.ncbi.nlm.nih.gov/rss/search/10guX6I3SqrbUeeLKSTD6FCRM44ewnrN2MKKTQLLPMHB4xNsZU/?limit=15&utm_campaign=pubmed-2&fc=20210216052009",
        "interval": "180",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "56a4dc66.256874"
            ]
        ]
    },
    {
        "id": "75731cda.feee34",
        "type": "feedparse",
        "z": "e677d300.d1d95",
        "name": "Reuters",
        "url": "https://www.reutersagency.com/feed/?best-topics=health",
        "interval": "10",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "d3e84102.20011"
            ]
        ]
    },
    {
        "id": "bb71d047.ff6f9",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "article.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "12c5e787.dadea8"
            ]
        ]
    },
    {
        "id": "bc0c284f.e4f5d8",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "article.date",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 860,
        "y": 160,
        "wires": [
            [
                "974801fc.d87d5"
            ]
        ]
    },
    {
        "id": "9114e276.66493",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "4a6f88df.668e58"
            ]
        ]
    },
    {
        "id": "7807a09e.45e49",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "3b8b16c0.ace03a"
            ]
        ]
    },
    {
        "id": "76d89aca.9b37d4",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1080,
        "y": 900,
        "wires": [
            [
                "f31ef1c8.3af84"
            ]
        ]
    },
    {
        "id": "2af11514.34f00a",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "597913bc.2b4dec"
            ]
        ]
    },
    {
        "id": "4fbb692.2486b98",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1340,
        "y": 1060,
        "wires": [
            [
                "9a14f1a6.90d44"
            ]
        ]
    },
    {
        "id": "2484937c.b752dc",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1340,
        "y": 1180,
        "wires": [
            [
                "b087546f.c41f78"
            ]
        ]
    },
    {
        "id": "79cb9ccc.a4f644",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1400,
        "y": 1360,
        "wires": [
            [
                "143867a5.288e58"
            ]
        ]
    },
    {
        "id": "3ea7f9fd.f836d6",
        "type": "moment",
        "z": "e677d300.d1d95",
        "name": "format pubdate",
        "topic": "",
        "input": "payload.pubdate",
        "inputType": "msg",
        "inTz": "Europe/Lisbon",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "article.pubdate",
        "outputType": "msg",
        "outTz": "Europe/Lisbon",
        "x": 1420,
        "y": 1480,
        "wires": [
            [
                "91a0c554.3d6868"
            ]
        ]
    },
    {
        "id": "c61aca1a.a75f28",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.mg-n40px div.mb-40px",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p + p",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.text-uppercase.text-muted.ff-apta-sans.fw-600.fs-14px",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "79a8247a.92ebfc"
            ]
        ]
    },
    {
        "id": "d525b5a.33ae548",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.c-list-group__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h3",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a[itemprop=\"url\"]",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.c-listing__text",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span[itemprop=\"datePublished\"]",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "2d2a9ede.1ee7a2"
            ]
        ]
    },
    {
        "id": "7200f004.6c3a6",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "table.search-results tr",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "td>a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "td>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 700,
        "y": 900,
        "wires": [
            [
                "61d16b00.e6b704"
            ]
        ]
    },
    {
        "id": "76303108.1a242",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.results div.item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "strong.title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "div.line a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "ae4a277d.0b34e8"
            ]
        ]
    },
    {
        "id": "77bb2168.9845",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "div.search__item__body",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h4.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h4.meta__title a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details > span:nth-child(5)",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "d9eff18c.c2dce"
            ]
        ]
    },
    {
        "id": "155fede1.ee3852",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.search-result",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "p.NoSummary",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.NoDate",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 660,
        "y": 1180,
        "wires": [
            [
                "242cc4f8.4e1b2c"
            ]
        ]
    },
    {
        "id": "a61c20a8.862f3",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": ".searchResultItem",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h2",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h2>span>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "span.publication-meta",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "7a8468df.b46ce8"
            ]
        ]
    },
    {
        "id": "e4d19ed0.def17",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "li.search__item",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "h4.meta__title",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "h4.meta__title>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            },
            {
                "search": "div.hlFld-Abstract.preview-abstract",
                "ret": "text",
                "replace": "description",
                "attr": ""
            },
            {
                "search": "p.meta__details > span:nth-child(3)",
                "ret": "text",
                "replace": "pubdate",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "5d91e310.64306c"
            ]
        ]
    },
    {
        "id": "689bbffb.67489",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "Novartis",
        "tag": "td.views-field",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": "a",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "td.views-field.views-field-title>a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "dd48b8d3.6d1788"
            ]
        ]
    },
    {
        "id": "6e73a2ca.0782cc",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "cuf",
        "tag": "div.content",
        "ret": "object",
        "as": "single",
        "map": [
            {
                "search": ".field--name-title-text",
                "ret": "text",
                "replace": "title",
                "attr": ""
            },
            {
                "search": "a",
                "ret": "attribute",
                "replace": "link",
                "attr": "href"
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": true,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 630,
        "y": 1720,
        "wires": [
            [
                "be96c1a0.96ce3"
            ]
        ]
    },
    {
        "id": "703141cb.40cd2",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 2970,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "6ecb04d73cbbd302",
        "type": "template",
        "z": "5e1dd9b.17f6828",
        "name": "SQLite template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE trials\nSET sent = \"1\"\nWHERE trial_id = \"{{payload.trial_id}}\";",
        "output": "str",
        "x": 320,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "081785b0b06d2fc6",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT\n\t*\nFROM\n\tarticles\nWHERE\n\ttitle LIKE (?);",
        "vars": "keyword",
        "outField": "topic",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "9ceb982ec3e8a837"
            ]
        ]
    },
    {
        "id": "1ede8ebaaad306c1",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT\n\t*\nFROM\n\ttrials\nWHERE\n\ttitle LIKE (?);",
        "vars": "keyword",
        "outField": "topic",
        "x": 510,
        "y": 840,
        "wires": [
            [
                "9ceb982ec3e8a837"
            ]
        ]
    },
    {
        "id": "3472c638b61c7760",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT  * FROM articles where article_id = ? ORDER BY article_id DESC;",
        "vars": "req.params.id",
        "outField": "topic",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "45b965d936c77f34",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT  * FROM articles where source = ? ORDER BY article_id DESC;",
        "vars": "req.params.source",
        "outField": "topic",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "c26cc73b6703b0c2",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT  * FROM articles WHERE discovery_date LIKE ? ORDER BY article_id DESC;",
        "vars": "date",
        "outField": "topic",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "fe66e4830a734190"
            ]
        ]
    },
    {
        "id": "110b429506d19b21",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "UPDATE articles\nSET relevant = \"0\"\nWHERE article_id = ?;",
        "vars": "req.params.id",
        "outField": "topic",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "ce4a3a4cf9a114c6"
            ]
        ]
    },
    {
        "id": "e11d4f8549634666",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "UPDATE articles\nSET relevant = \"1\"\nWHERE article_id = ?;",
        "vars": "req.params.id",
        "outField": "topic",
        "x": 430,
        "y": 600,
        "wires": [
            [
                "ce4a3a4cf9a114c6"
            ]
        ]
    },
    {
        "id": "3a90fd655a74bca3",
        "type": "sqlstring-format",
        "z": "f8fda80096695167",
        "name": "",
        "query": "SELECT  * FROM articles where article_id = ? ORDER BY article_id DESC;",
        "vars": "req.params.id",
        "outField": "topic",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "84c57b048d704fcc"
            ]
        ]
    },
    {
        "id": "240f717b.5624ce",
        "type": "html-entities",
        "z": "ad9a5c14.c1917",
        "name": "escape html",
        "property": "payload.summary",
        "mode": "escape",
        "optionsStrict": false,
        "optionsUseNamedReferences": false,
        "optionsPreferDecimal": false,
        "optionsEncodeEverything": false,
        "optionsAllowUnsafeSymbols": false,
        "optionsIsAttributeValue": false,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "a53b1871.c4e568"
            ]
        ]
    },
    {
        "id": "58cede0a763922e7",
        "type": "pythonshell in",
        "z": "3645fb833bf0fede",
        "name": "hello world",
        "pyfile": "/data/python/hello.py",
        "virtualenv": "/data/python/venv/",
        "continuous": false,
        "stdInData": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "daa1c0139efc32e7"
            ]
        ]
    },
    {
        "id": "38b322308984e320",
        "type": "comment",
        "z": "ad9a5c14.c1917",
        "name": "KEEP DISABLED",
        "info": "This is a flow meant for sporadic use. It creates a table with full Write permissions on the Database.",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe66e4830a734190",
        "type": "sqlite",
        "z": "f8fda80096695167",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "/data/gregory.db",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "cef14c9d293a46a4"
            ]
        ]
    },
    {
        "id": "ce4a3a4cf9a114c6",
        "type": "sqlite",
        "z": "f8fda80096695167",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "/data/gregory.db",
        "x": 670,
        "y": 560,
        "wires": [
            [
                "b00d96c0d8fbf9b7"
            ]
        ]
    },
    {
        "id": "84c57b048d704fcc",
        "type": "sqlite",
        "z": "f8fda80096695167",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "/data/gregory.db",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "3946a27509f91e67"
            ]
        ]
    },
    {
        "id": "9ceb982ec3e8a837",
        "type": "sqlite",
        "z": "f8fda80096695167",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "/data/gregory.db",
        "x": 710,
        "y": 820,
        "wires": [
            [
                "f2912ee0153a5f0d"
            ]
        ]
    },
    {
        "id": "d4754ef0237002dd",
        "type": "comment",
        "z": "e677d300.d1d95",
        "name": "ADD SAGEPUB SUMMARY",
        "info": "",
        "x": 180,
        "y": 1860,
        "wires": []
    },
    {
        "id": "5e3f762459dd676f",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1900,
        "wires": [
            [
                "0931fa2f502e3b0d"
            ]
        ]
    },
    {
        "id": "0931fa2f502e3b0d",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM articles \nWHERE source = \"Sage Pub\" \nAND summary =\"not available\" \nLIMIT 1;",
        "name": "",
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "0ad2b4ff5cb7bf39"
            ]
        ]
    },
    {
        "id": "0ad2b4ff5cb7bf39",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 520,
        "y": 1900,
        "wires": [
            [
                "98e1cb0e17e511af"
            ]
        ]
    },
    {
        "id": "912e28271f9e1b6e",
        "type": "cheerio",
        "z": "e677d300.d1d95",
        "name": "",
        "tag": "body",
        "ret": "object",
        "as": "multi",
        "map": [
            {
                "search": "div.hlFld-Abstract",
                "ret": "text",
                "replace": "summary",
                "attr": ""
            }
        ],
        "xmlMode": false,
        "decodeEntities": false,
        "lowerCaseTags": false,
        "lowerCaseAttributeNames": false,
        "recognizeCDATA": false,
        "recognizeSelfClosing": false,
        "x": 940,
        "y": 1900,
        "wires": [
            [
                "62c366474f3a725d"
            ]
        ]
    },
    {
        "id": "087c5c6334250d1b",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "SAGEPUB",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 800,
        "y": 1900,
        "wires": [
            [
                "912e28271f9e1b6e"
            ]
        ]
    },
    {
        "id": "98e1cb0e17e511af",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1900,
        "wires": [
            [
                "087c5c6334250d1b"
            ]
        ]
    },
    {
        "id": "62c366474f3a725d",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = \"{{{payload.summary}}}\"\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 1070,
        "y": 1900,
        "wires": [
            [
                "406a2e1a6df07626"
            ]
        ]
    },
    {
        "id": "406a2e1a6df07626",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1570,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "25d49a26c12bac1a",
        "type": "comment",
        "z": "e677d300.d1d95",
        "name": "ADD MS & Rel. Disorders SUMMARY",
        "info": "",
        "x": 170,
        "y": 2060,
        "wires": []
    },
    {
        "id": "ca1240a0237bf03b",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 2100,
        "wires": [
            [
                "c3a55621202e453a"
            ]
        ]
    },
    {
        "id": "c3a55621202e453a",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM articles \nWHERE source = \"MS & Rel. Disorders\" \nAND summary =\"not available\" \nLIMIT 1;",
        "name": "",
        "x": 320,
        "y": 2100,
        "wires": [
            [
                "52c9668b9f86e755"
            ]
        ]
    },
    {
        "id": "52c9668b9f86e755",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2100,
        "wires": [
            [
                "97a24bdb2d4593c7"
            ]
        ]
    },
    {
        "id": "2a0bf290c4537a2d",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "MS & Rel. Disorders",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 840,
        "y": 2100,
        "wires": [
            [
                "459040626e2b18ba"
            ]
        ]
    },
    {
        "id": "459040626e2b18ba",
        "type": "html",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 1010,
        "y": 2100,
        "wires": [
            [
                "f35da4bf628d9167"
            ]
        ]
    },
    {
        "id": "97a24bdb2d4593c7",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2100,
        "wires": [
            [
                "2a0bf290c4537a2d"
            ]
        ]
    },
    {
        "id": "f35da4bf628d9167",
        "type": "switch",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 2100,
        "wires": [
            [
                "f85cd3e3d327a9ad"
            ]
        ]
    },
    {
        "id": "f85cd3e3d327a9ad",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = \"{{{payload.content}}}\"\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 1260,
        "y": 2100,
        "wires": [
            [
                "406a2e1a6df07626"
            ]
        ]
    },
    {
        "id": "effa4e5df0dbccc7",
        "type": "comment",
        "z": "e677d300.d1d95",
        "name": "ADD The Lancet SUMMARY",
        "info": "",
        "x": 140,
        "y": 2220,
        "wires": []
    },
    {
        "id": "ae5261f81e0c5e41",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "793fa21fb474b02a"
            ]
        ]
    },
    {
        "id": "793fa21fb474b02a",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM articles \nWHERE source = \"The Lancet\" \nAND summary =\"\" \nLIMIT 1;",
        "name": "",
        "x": 320,
        "y": 2260,
        "wires": [
            [
                "29250d5ba1eb433e",
                "cd520b7409b1003d"
            ]
        ]
    },
    {
        "id": "29250d5ba1eb433e",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2260,
        "wires": [
            [
                "82b07b4ae7929b10"
            ]
        ]
    },
    {
        "id": "8f4131b9a52fdc75",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "The Lancet",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 2260,
        "wires": [
            [
                "f1164e79dfe6ed84"
            ]
        ]
    },
    {
        "id": "f1164e79dfe6ed84",
        "type": "html",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 1010,
        "y": 2260,
        "wires": [
            [
                "7fae6469885ddd2e"
            ]
        ]
    },
    {
        "id": "82b07b4ae7929b10",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2260,
        "wires": [
            [
                "8f4131b9a52fdc75"
            ]
        ]
    },
    {
        "id": "7fae6469885ddd2e",
        "type": "switch",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 2260,
        "wires": [
            [
                "8efb62927855bace"
            ]
        ]
    },
    {
        "id": "8efb62927855bace",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = \"{{{payload.content}}}\"\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 1280,
        "y": 2260,
        "wires": [
            [
                "406a2e1a6df07626"
            ]
        ]
    },
    {
        "id": "299c5927c46345d1",
        "type": "debug",
        "z": "e677d300.d1d95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 2460,
        "wires": []
    },
    {
        "id": "cd520b7409b1003d",
        "type": "debug",
        "z": "e677d300.d1d95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 2360,
        "wires": []
    },
    {
        "id": "9b940885fa3084c0",
        "type": "comment",
        "z": "e677d300.d1d95",
        "name": "ADD JNeuroSci SUMMARY",
        "info": "",
        "x": 120,
        "y": 2480,
        "wires": []
    },
    {
        "id": "7633d75bb63bf363",
        "type": "inject",
        "z": "e677d300.d1d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 2520,
        "wires": [
            [
                "0c40c401979af7fd"
            ]
        ]
    },
    {
        "id": "0c40c401979af7fd",
        "type": "sqlite",
        "z": "e677d300.d1d95",
        "mydb": "9ccc1658.e12858",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM articles \nWHERE source = \"JNeuroSci\" \nAND summary =\"\" \nLIMIT 1;",
        "name": "",
        "x": 300,
        "y": 2520,
        "wires": [
            [
                "f54c5892de0314e3",
                "120d14da29ea7c4a"
            ]
        ]
    },
    {
        "id": "f54c5892de0314e3",
        "type": "split",
        "z": "e677d300.d1d95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 2520,
        "wires": [
            [
                "decf530bb64b7ae1"
            ]
        ]
    },
    {
        "id": "cef6f7a652b60f84",
        "type": "http request",
        "z": "e677d300.d1d95",
        "name": "JNeuroSci",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e3876559.c845b8",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 2520,
        "wires": [
            [
                "9e2d3070cc15c1ea"
            ]
        ]
    },
    {
        "id": "decf530bb64b7ae1",
        "type": "change",
        "z": "e677d300.d1d95",
        "name": "set fields",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "article_id",
                "pt": "msg",
                "to": "payload.article_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2520,
        "wires": [
            [
                "cef6f7a652b60f84"
            ]
        ]
    },
    {
        "id": "120d14da29ea7c4a",
        "type": "debug",
        "z": "e677d300.d1d95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2620,
        "wires": []
    },
    {
        "id": "9e2d3070cc15c1ea",
        "type": "html",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "meta",
        "ret": "attr",
        "as": "multi",
        "x": 970,
        "y": 2520,
        "wires": [
            [
                "673afb8acd5ac8e0"
            ]
        ]
    },
    {
        "id": "673afb8acd5ac8e0",
        "type": "switch",
        "z": "e677d300.d1d95",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "citation_abstract",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 2520,
        "wires": [
            [
                "7da202bcd7dd6ae1"
            ]
        ]
    },
    {
        "id": "7da202bcd7dd6ae1",
        "type": "template",
        "z": "e677d300.d1d95",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE articles\nset summary = \"{{{payload.content}}}\"\nwhere article_id = {{article_id}};",
        "output": "str",
        "x": 1240,
        "y": 2520,
        "wires": [
            [
                "299c5927c46345d1",
                "406a2e1a6df07626"
            ]
        ]
    }
]