docker-data/node_modules/node-red-contrib-moment/examples/basic-example-flow.json
[{"id":"5cfa0538.e4611c","type":"moment","z":"7781c60a.76f4a","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":410,"y":300,"wires":[["c4a52bba.80f5a"]]},{"id":"c56437dc.020958","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["5cfa0538.e4611c"]]},{"id":"c4a52bba.80f5a","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":660,"y":300,"wires":[]}]
