docker-data/node_modules/node-red-contrib-moment/examples/humanize-example-flow.json
[{"id":"d4f1e907.c039a","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"num","x":150,"y":2020,"wires":[["b69a68f2.86227"]]},{"id":"b69a68f2.86227","type":"humanizer","z":"7781c60a.76f4a","name":"","input":"","x":590,"y":2020,"wires":[["98a09560.d0f7c8"]]},{"id":"98a09560.d0f7c8","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.humanized","targetType":"msg","statusVal":"payload","statusType":"auto","x":900,"y":2020,"wires":[]},{"id":"26b90e19.ec32ea","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"10","payloadType":"num","x":330,"y":2040,"wires":[["b69a68f2.86227"]]},{"id":"6969869b.9661a8","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"44","payloadType":"num","x":150,"y":2100,"wires":[["b69a68f2.86227"]]},{"id":"8f921df4.df755","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"90","payloadType":"num","x":330,"y":2160,"wires":[["b69a68f2.86227"]]},{"id":"bd2fd2a3.3d0b88","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"2669","payloadType":"num","x":150,"y":2260,"wires":[["b69a68f2.86227"]]},{"id":"4d1b6b65.285d2c","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"2670","payloadType":"num","x":330,"y":2260,"wires":[["b69a68f2.86227"]]},{"id":"6850f375.2dccdc","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"77399","payloadType":"num","x":150,"y":2320,"wires":[["b69a68f2.86227"]]},{"id":"67e9d190.0bc4f","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"77400","payloadType":"num","x":330,"y":2320,"wires":[["b69a68f2.86227"]]},{"id":"86e0a151.259b28","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"27612332","payloadType":"num","x":170,"y":2380,"wires":[["b69a68f2.86227"]]},{"id":"ad2a6077.ddcdb8","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"45","payloadType":"num","x":330,"y":2100,"wires":[["b69a68f2.86227"]]},{"id":"ffe556c3.2b9f78","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"89","payloadType":"num","x":150,"y":2160,"wires":[["b69a68f2.86227"]]},{"id":"6e52a601.24ab18","type":"comment","z":"7781c60a.76f4a","name":"seconds -> minutes","info":"","x":620,"y":2100,"wires":[]},{"id":"861de75a.77fa9","type":"comment","z":"7781c60a.76f4a","name":"1 minute -> 2 minutes","info":"","x":630,"y":2160,"wires":[]},{"id":"78e43b8.ee91844","type":"comment","z":"7781c60a.76f4a","name":"2 minutes -> 3 minutes","info":"","x":630,"y":2200,"wires":[]},{"id":"64ed3c6f.2abaac","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"150","payloadType":"num","x":330,"y":2200,"wires":[["b69a68f2.86227"]]},{"id":"392a1ef8.e68542","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"149","payloadType":"num","x":150,"y":2200,"wires":[["b69a68f2.86227"]]},{"id":"aa8e7959.37184","type":"comment","z":"7781c60a.76f4a","name":"44 minutes -> 1 hour","info":"","x":620,"y":2260,"wires":[]},{"id":"15094e69.c47492","type":"comment","z":"7781c60a.76f4a","name":"21 minutes -> 1 day","info":"","x":620,"y":2320,"wires":[]},{"id":"fe7ccdb4.4deee8","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"27612333","payloadType":"num","x":350,"y":2380,"wires":[["b69a68f2.86227"]]},{"id":"237ff9ca.f8d1ee","type":"comment","z":"7781c60a.76f4a","name":"10 months -> 1 year","info":"","x":620,"y":2380,"wires":[]},{"id":"bb9c80ff.83516","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"300000000","payloadType":"num","x":170,"y":2420,"wires":[["b69a68f2.86227"]]},{"id":"bc9cfad2.10a04","type":"comment","z":"7781c60a.76f4a","name":"several years","info":"","x":600,"y":2420,"wires":[]}]
