docker-data/node_modules/node-red-contrib-moment/examples/input-timezones-example-flow.json
[{"id":"67721678.7c81b","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":1100,"wires":[["dd5ac79d.0bb1b","a0b2e140.4ef9e","2cf63a10.6dcd1e","10fbb289.d1d2cd"]]},{"id":"dd5ac79d.0bb1b","type":"debug","z":"7781c60a.76f4a","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":1100,"wires":[]},{"id":"af01e075.0c9fa8","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":1160,"wires":[]},{"id":"a0b2e140.4ef9e","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":380,"y":1160,"wires":[["af01e075.0c9fa8"]]},{"id":"2cf63a10.6dcd1e","type":"moment","z":"7781c60a.76f4a","name":"-> New York","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm","locale":"C","output":"","outputType":"msg","outTz":"America/New_York","x":400,"y":1220,"wires":[["2a25cf32.873b88","4909536f.ec7034"]]},{"id":"2a25cf32.873b88","type":"moment","z":"7781c60a.76f4a","name":"-> Cape Verde","topic":"","input":"","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Atlantic/Cape_Verde","x":630,"y":1280,"wires":[["216bcf6a.3afc5","f4dad3c9.a2534"]]},{"id":"216bcf6a.3afc5","type":"moment","z":"7781c60a.76f4a","name":"-> Fiji","topic":"","input":"","inputType":"msg","inTz":"Atlantic/Cape_Verde","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Pacific/Fiji","x":830,"y":1340,"wires":[["9e860845.c3be28","75961a3d.b294fc"]]},{"id":"9e860845.c3be28","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Pacific/Fiji","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":1000,"y":1400,"wires":[["66554f1a.2b0f28"]]},{"id":"4909536f.ec7034","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":1220,"wires":[]},{"id":"f4dad3c9.a2534","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":1280,"wires":[]},{"id":"75961a3d.b294fc","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1020,"y":1340,"wires":[]},{"id":"66554f1a.2b0f28","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1200,"y":1400,"wires":[]},{"id":"10fbb289.d1d2cd","type":"moment","z":"7781c60a.76f4a","name":"-> Cape Verde","topic":"","input":"","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Atlantic/Cape_Verde","x":410,"y":1340,"wires":[["3bcfd1b5.947c1e"]]},{"id":"3bcfd1b5.947c1e","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":1340,"wires":[]}]
