docker-data/node_modules/node-red-contrib-moment/examples/locale-example-flow.json
[{"id":"190891f8.377506","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":1600,"wires":[["4fea9ce2.4725cc","3c922d1a.4ec682","e9e897f3.f23db8","e3288390.06fad","cab8a0fe.d50278","a283a279.87395","82edd4e3.7517a8","856447c4.9b118"]]},{"id":"4fea9ce2.4725cc","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, DD.MM.YYYY HH:mm","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":460,"y":1660,"wires":[["7d005619.57e83"]]},{"id":"3c922d1a.4ec682","type":"debug","z":"7781c60a.76f4a","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":1600,"wires":[]},{"id":"7d005619.57e83","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1660,"wires":[]},{"id":"4eef0593.5d0e24","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1720,"wires":[]},{"id":"e9e897f3.f23db8","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, LLL, de_DE","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"months","adjDir":"add","format":"LLL","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":430,"y":1720,"wires":[["4eef0593.5d0e24"]]},{"id":"d0d9146d.59da38","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1780,"wires":[]},{"id":"e3288390.06fad","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, LLL, en_EN","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"months","adjDir":"add","format":"LLL","locale":"en_EN","output":"","outputType":"msg","outTz":"Europe/Berlin","x":430,"y":1780,"wires":[["d0d9146d.59da38"]]},{"id":"cab8a0fe.d50278","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"[Date: ]YYYY-MM-DD  [Time: ]HH:mm:ss","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":380,"y":1840,"wires":[["757e3575.b97ea4"]]},{"id":"757e3575.b97ea4","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1840,"wires":[]},{"id":"e48a268c.7470a8","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1900,"wires":[]},{"id":"a283a279.87395","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, LLL, it_IT","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"months","adjDir":"add","format":"LLL","locale":"it_IT","output":"","outputType":"msg","outTz":"Europe/Berlin","x":420,"y":1900,"wires":[["e48a268c.7470a8"]]},{"id":"e4176e86.fd4f28","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1960,"wires":[]},{"id":"82edd4e3.7517a8","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, calendar","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"months","adjDir":"add","format":"calendar","locale":"en_EN","output":"","outputType":"msg","outTz":"Europe/Berlin","x":420,"y":1960,"wires":[["e4176e86.fd4f28"]]},{"id":"856447c4.9b118","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin, fromNow","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"months","adjDir":"add","format":"fromNow","locale":"en_EN","output":"","outputType":"msg","outTz":"Europe/Berlin","x":420,"y":2020,"wires":[["dbfff1bf.047e48"]]},{"id":"dbfff1bf.047e48","type":"debug","z":"7781c60a.76f4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":2020,"wires":[]}]
