docker-data/node_modules/node-red-contrib-moment/examples/timezones-outputformat-example-flow.json
[{"id":"ad0926de.26a49","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss.SSS","locale":"","output":"","outputType":"msg","outTz":"Europe/Berlin","x":380,"y":620,"wires":[["ee7a9310.023e58"]]},{"id":"c941333.51fc15","type":"inject","z":"7781c60a.76f4a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":500,"wires":[["ad0926de.26a49","f72d19a0.4615e8","e7332173.f40ac8","11105327.b13ee5","f646fc04.b042f8","bce45467.abbc2","729d46e9.f2e86","5ee3991e.5952b"]]},{"id":"ee7a9310.023e58","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":620,"wires":[]},{"id":"f72d19a0.4615e8","type":"debug","z":"7781c60a.76f4a","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":500,"wires":[]},{"id":"e7332173.f40ac8","type":"moment","z":"7781c60a.76f4a","name":"-> UTC (Zulu time)","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"Europe/Berlin","x":420,"y":560,"wires":[["b95b0b21.615e2"]]},{"id":"b95b0b21.615e2","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":560,"wires":[]},{"id":"11105327.b13ee5","type":"moment","z":"7781c60a.76f4a","name":"-> New York","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm","locale":"","output":"","outputType":"msg","outTz":"America/New_York","x":400,"y":800,"wires":[["fccc4c17.8cc668"]]},{"id":"fccc4c17.8cc668","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"converted","statusType":"auto","x":680,"y":800,"wires":[]},{"id":"f646fc04.b042f8","type":"moment","z":"7781c60a.76f4a","name":"-> adjustment + 1 yr","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"years","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"","output":"","outputType":"msg","outTz":"Europe/Berlin","x":430,"y":860,"wires":[["e040c9ca.d87e18"]]},{"id":"e040c9ca.d87e18","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"converted","statusType":"auto","x":680,"y":860,"wires":[]},{"id":"bce45467.abbc2","type":"moment","z":"7781c60a.76f4a","name":"-> adjustment - 1week","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":"1","adjType":"weeks","adjDir":"subtract","format":"DD.MM.YYYY HH:mm","locale":"C","output":"","outputType":"msg","outTz":"Europe/Berlin","x":430,"y":920,"wires":[["b5e35173.54ef1"]]},{"id":"b5e35173.54ef1","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"converted","statusType":"auto","x":680,"y":920,"wires":[]},{"id":"5a45bddc.198614","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":680,"wires":[]},{"id":"729d46e9.f2e86","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"","output":"","outputType":"msg","outTz":"Europe/Berlin","x":380,"y":680,"wires":[["5a45bddc.198614"]]},{"id":"453f43aa.10f854","type":"debug","z":"7781c60a.76f4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":740,"wires":[]},{"id":"5ee3991e.5952b","type":"moment","z":"7781c60a.76f4a","name":"-> Berlin","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"LLLL","locale":"","output":"","outputType":"msg","outTz":"Europe/Berlin","x":380,"y":740,"wires":[["453f43aa.10f854"]]}]
