docker-data/node_modules/node-red-contrib-html-entities/examples/HTML-Entities Demo.json
[{"id":"ee39ab5a.72eed","type":"tab","label":"Examples for html-entities node","disabled":false,"info":""},{"id":"c596733b.fcc028","type":"inject","z":"ee39ab5a.72eed","name":"","topic":"","payload":"foo Â© bar â‰  baz ðŒ† qux","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["ce45bac1.3531c8","8b463371.57f8c8","1dbcab68.2a253d"]]},{"id":"ce45bac1.3531c8","type":"html-entities","z":"ee39ab5a.72eed","name":"Encode payload | strict","property":"payload","mode":"encode","optionsStrict":true,"optionsUseNamedReferences":false,"optionsPreferDecimal":false,"optionsEncodeEverything":false,"optionsAllowUnsafeSymbols":false,"optionsIsAttributeValue":false,"x":380,"y":120,"wires":[["e2652149.0aee98"]]},{"id":"8b463371.57f8c8","type":"html-entities","z":"ee39ab5a.72eed","name":"Encode payload | decimal/named","property":"payload","mode":"encode","optionsStrict":false,"optionsUseNamedReferences":true,"optionsPreferDecimal":true,"optionsEncodeEverything":false,"optionsAllowUnsafeSymbols":false,"optionsIsAttributeValue":false,"x":420,"y":180,"wires":[["c94d7ca1.af323"]]},{"id":"e2652149.0aee98","type":"debug","z":"ee39ab5a.72eed","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"1dbcab68.2a253d","type":"html-entities","z":"ee39ab5a.72eed","name":"Encode payload | strict","property":"payload","mode":"encode","optionsStrict":true,"optionsUseNamedReferences":false,"optionsPreferDecimal":false,"optionsEncodeEverything":false,"optionsAllowUnsafeSymbols":false,"optionsIsAttributeValue":false,"x":380,"y":240,"wires":[["de239a3b.ab4a48"]]},{"id":"de239a3b.ab4a48","type":"html-entities","z":"ee39ab5a.72eed","name":"Decode payload | strict","property":"payload","mode":"decode","optionsStrict":true,"optionsUseNamedReferences":false,"optionsPreferDecimal":false,"optionsEncodeEverything":false,"optionsAllowUnsafeSymbols":false,"optionsIsAttributeValue":false,"x":630,"y":240,"wires":[["840d544b.5ecec"]]},{"id":"c94d7ca1.af323","type":"debug","z":"ee39ab5a.72eed","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":180,"wires":[]},{"id":"840d544b.5ecec","type":"debug","z":"ee39ab5a.72eed","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":240,"wires":[]},{"id":"be2165e.4456498","type":"http request","z":"ee39ab5a.72eed","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":410,"y":460,"wires":[["d70bd79f.907508"]]},{"id":"d9f35a26.c13338","type":"comment","z":"ee39ab5a.72eed","name":"Example from the \"he\" library docs","info":"","x":160,"y":60,"wires":[]},{"id":"6b4af6e1.900a","type":"comment","z":"ee39ab5a.72eed","name":"Parse the first paragraphs of an Atlantic article about typography","info":"","x":250,"y":400,"wires":[]},{"id":"83b416ff.3796e","type":"inject","z":"ee39ab5a.72eed","name":"Atlantic article","topic":"","payload":"https://www.theatlantic.com/technology/archive/2016/12/quotation-mark-wars/511766/","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["b0072f3a.edf3f"]]},{"id":"b0072f3a.edf3f","type":"change","z":"ee39ab5a.72eed","name":"Set URL","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":460,"wires":[["be2165e.4456498"]]},{"id":"d70bd79f.907508","type":"html","z":"ee39ab5a.72eed","name":"Get the paragraphs out","property":"payload","outproperty":"payload","tag":"#article-section-0 > p","ret":"html","as":"multi","x":610,"y":460,"wires":[["4360cf79.d05ac8"]]},{"id":"4360cf79.d05ac8","type":"html-entities","z":"ee39ab5a.72eed","name":"Decode the typographical elements","property":"payload","mode":"decode","optionsStrict":false,"optionsUseNamedReferences":false,"optionsPreferDecimal":false,"optionsEncodeEverything":false,"optionsAllowUnsafeSymbols":false,"optionsIsAttributeValue":false,"x":180,"y":520,"wires":[["ad300f5a.972168"]]},{"id":"ad300f5a.972168","type":"debug","z":"ee39ab5a.72eed","name":"Paragraphs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":520,"wires":[]}]
